#boot-camp .all-data {
    margin-top: 30px;
}
#boot-camp .service-data ul:before, #boot-camp .service-data ul:after {
    background: no-repeat;
}
#boot-camp .service-data ul li {
    text-align: left;
    list-style-type: none;
    border: none !important;
    margin: 15px 0;
}
#boot-camp .service-data ul li div.img {
    float: left;
    display: inline-block;
    vertical-align: middle;
}
#boot-camp .service-data ul li span {
    float: left;
    display: inline-block;
    vertical-align: middle;
    line-height: 22px;
    width: 66%;
    font-size: 14px;
    margin-left: 10px;
}
#boot-camp .service-data ul.map {
    margin-left: 0;
    margin-bottom: 20px;
}
#boot-camp .service-data ul.map li {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc !important;
    min-height: 82px;
    min-width: 100px;
}
#boot-camp .service-data ul.map li h6 {
    font-size: 14px;
    text-align: center;
    font-weight: normal;
}
#boot-camp .service-data ul.map li img {
    display: block;
    margin: 0 auto;
    max-width: 30%;
}
#boot-camp .service-data span.circle {
    width: 32px;
    height: 32px;
    background: #38979b;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
}
#boot-camp .service-data span.circle i {
    color: white;
    line-height: 32px;
}
.video-img {
 cursor: pointer;
 transition: 0.3s; 
}
.video-img:hover {
   opacity: 0.7; 
}
.boot-camp-purple-box {
   background-color: #2f2a6a;
   color: white;
   padding: 16px 20px;
}
.boot-camp-purple-box > p {
    font-size: 13px;
    line-height: 18px;
}
.boot-camp-purple-box > p:last-child {
    margin-bottom: 0;
    margin-top: 25px;
}
.boot-camp-box {
    border: 1px solid #616060;
}
.boot-camp-box .boot-camp-img-mobile {
    display: none;
}
.boot-camp-inner-box {
    padding: 13px 15px 14px;
}
.boot-camp-inner-box span {
    color: #3a8f93;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.boot-camp-inner-box h4 {
    color: #911a07;
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: -2px;
}
.boot-camp-gray-box {
    background-color: rgba(168, 168, 168, 0.15);
    border: 1px solid #616060;
    padding: 14px 22px 10px 16px;
}
.boot-camp-gray-box a {
    display: table;
    width: 100%;
}
.boot-camp-gray-box span {
    color: #3a8f93;
    display: table-cell;
    font-size: 13px;
    font-weight: bold;
    vertical-align: middle;
}
.boot-camp-gray-box img {
    display: table-cell;
    float: right;
}
.boot-camp-dark-gray-box {
    background-color: rgba(170, 170, 170, 0.65);
    border: 1px solid #616060;
    color: white;
    padding: 30px 22px 30px 16px;
    cursor: pointer;
}
.boot-camp-dark-gray-box h4 {
    font-size: 28px;
    line-height: normal;
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
}
.boot-camp-dark-gray-box h1 {
    font-size: 54px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 0;
    line-height: 61px;
}
.boot-camp-dark-gray-box h1 .dollar {
    font-size: 63px;
}
.boot-camp-dark-gray-box h2,
.boot-camp-dark-gray-box h3 {
    color: white;
    font-family: open sans;
    font-size: 35px;
    text-transform: unset;
    margin-bottom: 0;
}
.boot-camp-dark-gray-box h2 {
   font-weight: bold;
   font-size: 38px;
}

.boot-camp-dark-gray-box h3 {
   font-size: 30px;
   letter-spacing: 0.05em;
}
.boot-camp-dark-gray-box .h4last {
    margin-top: 3px;
}
.boot-camp-dark-gray-box .h4last > span {
    font-size: 20px;
    display: inline-block;
    margin-top: 2px;
}
.boot-camp-dark-gray-box.small-box {
    padding: 16px 26px 8px;
}
.boot-camp-dark-gray-box.small-box > p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0;
}
.boot-camp-dark-gray-box.small-box h1 {
    font-size: 60px;
}
.boot-camp-dark-gray-box.small-box h1 .plus {
    font-size: 45px;
    position: relative;
    top: -3px;
}
.boot-camp-grid {
    list-style-type: none;
    
    ng-masonry-grid-item {
        @media print, screen and (min-width: 40em) {
            width: 49.9%;
        }
        @media print, screen and (min-width: 64em) {
            width: 33.33333%;
        }
        @media screen and (max-width: 39.9375em) and (min-width: 0em) {
            width: 100%;
        }
    }
}
.boot-camp-grid.row {
    margin-left: -9px;
    margin-right: -9px;
}
.boot-camp-grid > .column, .boot-camp-grid > .columns {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 9px;
    padding-right: 9px;
}
.boot-camp-grid ng-masonry-grid.animate {
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    animation: scaleUp 0.65s ease-in-out forwards;
}
@media screen and (min-width: 40em) {
    .boot-camp-box > img {
        width: 100%;
   }
   .boot-camp-grid.row {
       margin-left: -8px;
       margin-right: -8px;
       margin-top: -10px;
   }
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
   #boot-camp .service-data .map_btn, #boot-camp .service-data .list_btn {
        font-size: 14px;
   }
   #boot-camp .menu {
        display: none;
   }
    .boot-camp-purple-box {
        padding: 18.5px 28.5px 21px;
        margin: 0 -1rem 11px;
   }
   .boot-camp-purple-box > p {
        font-size: 12.5px;
        line-height: normal;
   }
    .boot-camp-box .boot-camp-img-mobile {
        display: block;
   }
    .boot-camp-box > img {
        width: 100%;
   }
    .boot-camp-box .boot-camp-img-desktop {
        display: none;
   }
    .boot-camp-inner-box {
        padding: 9.5px 14px 12px;
   }
    .boot-camp-inner-box span {
        font-size: 12.5px;
   }
    .boot-camp-inner-box h4 {
        font-size: 17.5px;
        line-height: 19px;
   }
    .boot-camp-gray-box {
        padding: 17.5px 25px;
   }
    .boot-camp-gray-box span {
        font-size: 13.5px;
   }
    .boot-camp-dark-gray-box {
        padding: 17.5px 19px 27.5px 20.5px;
   }
    .boot-camp-dark-gray-box h4 {
        font-size: 27.86px;
   }
    .boot-camp-dark-gray-box h1 {
        font-size: 65.95px;
        line-height: 55px;
   }
    .boot-camp-dark-gray-box h1 .dollar {
        font-size: 54.5px;
        top: -4px;
   }
    .boot-camp-dark-gray-box h3 {
        font-size: 44.98px;
   }
    .boot-camp-dark-gray-box .h4last {
        font-size: 14px;
   }
    .boot-camp-dark-gray-box .h4last > span {
        font-size: 14px;
        font-weight: bold;
   }
    .boot-camp-dark-gray-box.small-box {
        padding: 18px 22px 19px;
   }
    .boot-camp-dark-gray-box.small-box > p {
        font-size: 17.5px;
        line-height: 22px;
        margin-bottom: 8px;
   }
    .boot-camp-dark-gray-box.small-box h1 {
        font-size: 82.7px;
   }
    .boot-camp-grid > .column:first-child, .boot-camp-grid > .columns:first-child {
        margin-top: 0;
   }
}


@media screen and (max-width: 639px) {
	.boot-camp-grid.row {
		margin-top: 0;
	}
	
	.boot-camp-purple-box br {
		display: none;
	}
}

/* Effect 3: Scale up */
.grid.effect-3 ng-masonry-grid-item.animate {
   -webkit-transform: scale(0.6);
   transform: scale(0.6);
   -webkit-animation: scaleUp 0.65s ease-in-out forwards;
   animation: scaleUp 0.65s ease-in-out forwards;
}

@-webkit-keyframes scaleUp {
   0% { }
   100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes scaleUp {
   0% { }
   100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}
