/* Buttons */
.button {
	background: #178388 none repeat scroll 0 0;
	border: 1px solid transparent;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Open Sans",sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.2;
	margin: 2rem 1rem 1rem 1rem;
	padding: 8px 20px;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.25s ease-out 0s;
	vertical-align: middle;
	width: 100%;
}
.button:hover, .button:focus {
	background: #146f74 none repeat scroll 0 0;
	color: #fff;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  // max-width: 300px;
}
.modal-header {
  padding: 15px 15px 0;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.custom-modal-content {
  background-color: #fff;
  -webkit-background-clip: padding-box;
      background-clip: padding-box;
  border: 1px solid #cacaca;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
      box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  position: relative;
  outline: 0;
  font-size: 13px;

  h3 {
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
    color: #3f3f3f;
  }
}
.btn {
	  color: #FFFFFF;
	  background: #29afb5;
    font-weight: 700;
    padding: 8px 20px;
    text-transform: uppercase;
}
