<!-- <ng-container *ngIf="serviceContacts">
  <div *ngFor="let s of serviceContacts; let i = index" >
<div class="row ng-scope"  *ngIf="i % 2 == 0">
  <div class="ng-scope">
        <a  (click)="openServiceContactUsDialog(s); ga('#CITM_CONTACTRECRUITERDEPLOYED')" 
        target="_blank">{{s.name}}<br>
        </a>   
        <div *ngIf="i + 1 < serviceContacts.length">
            <a  (click)="openServiceContactUsDialog(s); ga('#CITM_CONTACTRECRUITERDEPLOYED')" 
            target="_blank" class="ng-binding">{{serviceContacts[i + 1].name}}<br>
        </a>   
        </div>
      </div>
    </div>
  </div>
</ng-container> -->
<div *ngIf="serviceContacts"class="row ng-scope">
    <ng-container *ngFor="let s of serviceContacts; let i=index;">
    <div class="ng-scope">
      <div class="small-12 medium-6 large-6 column">
        <a (click)="openServiceContactUsDialog(s)" target="_blank" class="ng-binding">{{s.name}}</a>

      </div>
      <div class="small-12 medium-6 large-6 column">
        <b class="ng-binding"></b>
      </div>
    </div>
    </ng-container>
  </div>