
<footer id="footer">
  <div class="row">
    <div class="small-12 medium-9 columns">
      <div class="row top-row">
        <div class="small-12 medium-3 medium-push-9 columns">
          <a href="https://asvabprogram.com" target="_blank"><img src="assets/images/asvab-logo.png"></a>
        </div>
        <div class="small-12 medium-9 medium-pull-3 columns">
          <h5><a class="left0link" href="https://www.asvabprogram.com/asvab-cep-at-your-school" target="_blank">Bring ASVAB CEP to Your School</a></h5>
        </div>
      </div>
      <hr/>

      <h5>
        <span class="show-for-medium">Connect with us:</span>
        <a href="https://twitter.com/CareersintheMil" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.fb.me/careersinthemilitary/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.linkedin.com/organization/11159164/admin/updates" target="_blank"><i class="fab fa-linkedin"></i></a>
      </h5>
      <hr/>
      <div class="small-12 columns show-for-small-only">
        <ul mat-nav-list class="menu vertical">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/faq">FAQ </a></li>
          <li><a routerLink="/advanced-search">Advanced Search</a></li>
          <li><a (click)="openDialog()">Privacy &amp; &amp; Security</a></li>
          <li><a routerLink="/site-map">Site Map</a></li>
        </ul>
      </div>
      <hr class="show-for-small-only" />
      <p>Responsibility for the research and development of Military Careers and the DoD Student Testing Program resides with the Office of Personnel Analytics, DoD Center–Monterey Bay, 400 Gigling Road, Seaside, California 93955-6771.</p>
	  <p class="versionp smallp"> {{ versionText }} </p>
    </div>
    <div class="small-12 medium-2 columns show-for-medium">
      <p>
        <a routerLink="/home">Home</a><br/>
        <a routerLink="/faq">FAQ </a><br/>
        <a routerLink="/advanced-search">Advanced Search</a><br/>
        <a (click)="openDialog()">Privacy &amp; Security</a><br/>
        <a routerLink="/site-map">Site Map</a>
      </p>
    </div>
  </div>
</footer>
  