<div class="small-12 medium-9 large-9 right-part column hide-for-small-only ">
	<p><strong>To serve in the Military you must complete boot camp. This rigorous physical and classroom training
			prepares recruits mentally and physically for life in the Military.</strong></p>
	<div id="Military-table">
		<table>
			<tbody>
				<tr>
					<td>
						<img src="/assets/images/army.png" alt="#">
						<h5>Army</h5>
					</td>
					<td>
						<img src="/assets/images/marines.png" alt="#">
						<h5>Marine Corps</h5>
					</td>
					<td>
						<img src="/assets/images/navy.png" alt="#">
						<h5>Navy</h5>
					</td>
					<td>
						<img src="/assets/images/air-force.png" alt="#">
						<h5>Air Force</h5>
					</td>
					<td>
						<img src="/assets/images/coast-guard.png" alt="#">
						<h5>Coast Guard</h5>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="boot-camp-table" class="data-table clearfix">
		<section class="small-12 column boot-camp-header clearfix">
			<div class="large-10 medium-9 small-12 column">
				<h5>Boot Camp Duration and LOCATIONS </h5>
			</div>
			<div class="large-2 medium-3 small-12 column">
				<a (click)="onClickBootCamp()" (hidden)="!mapView" class="map_btn"><i class="fas fa-map-marker"></i> {{ aText }}
				</a>
				<a (click)="onClickBootCamp()" (hidden)="mapView" class="list_btn"><i class="fas fa-bars"></i> {{ aText }} </a>
			</div>
		</section>
		<section class="table clearfix">
			<div [style.display]="getDisplayMapBootCamp() ? 'none' : 'inline'" class="list-view">
				<table>
					<tbody>
						<tr>
							<td colspan="5">&nbsp;</td>
						</tr>
						<tr>
							<td>10 weeks</td>
							<td>12 weeks</td>
							<td>7-9 weeks</td>
							<td>7.5 weeks</td>
							<td>8 weeks</td>
						</tr>
						<tr>
							<td>
								<p><strong>Fort Benning</strong><br> Columbus, Georgia</p>
								<p><strong>Fort Jackson</strong><br> Columbia, South Carolina</p>
								<p><strong>Fort Leonard Wood</strong><br> Waynesville, Missouri</p>
								<p><strong>Fort Sill</strong><br> Lawton, Oklahoma</p>
							</td>
							<td valign="top">
								<p><strong>Marine Corps Recruit Depot, Parris Island </strong><br> Parris Island, South Carolina</p>
								<p><strong>Marine Corps Recruit Depot, San Diego</strong><br> San Diego, California</p>
							</td>
							<td valign="top">
								<p><strong>Great Lakes Recruit Training Command</strong><br> Great Lakes, Illinois</p>
							</td>
							<td valign="top">
								<p><strong>Lackland Air Force Base</strong><br> San Antonio, Texas</p>
							</td>
							<td valign="top">
								<p><strong>Cape May Coast Guard Training Center</strong><br> Cape May, New Jersey</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div [style.display]="getDisplayMapBootCamp() ? 'inline' : 'none'" class="map-view">
				<div class="map-table">
					<table class="map">
						<tbody>
							<tr>
								<td>10 weeks</td>
								<td>12 weeks</td>
								<td>7-9 weeks</td>
								<td>7.5 weeks</td>
								<td>8 weeks</td>
							</tr>
							<tr>
								<td align="center"><img src="/assets/images/yellow_marker.png" alt="#"></td>
								<td align="center"><img src="/assets/images/red_marker.png" alt="#"></td>
								<td align="center"><img src="/assets/images/deep_blue_marker.png" alt="#"></td>
								<td align="center"><img src="/assets/images/light_blue_marker.png" alt="#"></td>
								<td align="center"><img src="/assets/images/green_marker.png" alt="#"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div [hidden]=!mapView class="map">
					<img src="/assets/images/map.jpg" alt="#">
				</div>
			</div>
		</section>
	</div>
	<div id="physical-fitness" class="data-table">
		<section class="small-12 column boot-camp-header">
			<div class="small-12 column">
				<h5>Physical Fitness Requirements</h5>
			</div>
		</section>
		<section class="table">
			<table>
				<tbody>
					<tr>
						<td colspan="5">&nbsp;</td>
					</tr>
					<tr>
						<td>
							<h6>Army</h6>
						</td>
						<td>
							<h6>Marine Corps</h6>
						</td>
						<td>
							<h6>Navy</h6>
						</td>
						<td>
							<h6>Air Force</h6>
						</td>
						<td>
							<h6>Coast Guard</h6>
						</td>
					</tr>
					<tr>
						<td valign="top">
							<ul mat-list>
								<li class="clearfix">
									<div class="img"><img src="/assets/images/run_icon.png" alt="#"></div><span>  Timed 2-mile
										run </span>
								</li>
								<li class="clearfix">
									<div class="img">
										<img src="/assets/images/sit_up_icon.png" alt="#">
									</div>
									<span>2 minutes of sit-ups</span>
								</li>
								<li class="clearfix">
									<div class="img">
										<img src="/assets/images/push_up_icon.png" alt="#">
									</div>
									<span>2 minutes of push-ups </span>
								</li>
							</ul>
						</td>
						<td valign="top">
							<ul mat-list>
								<li class="clearfix">
									<div class="img"><img src="/assets/images/run_icon.png" alt="#"> </div>
									<span>  Timed 3-mile run </span>
								</li>
								<li class="clearfix">
									<div class="img"><img src="/assets/images/pull_up_icon.png" alt="#"> </div>
									<span>A pullup count </span>
								</li>
								<li class="clearfix">
									<div class="img"><img src="/assets/images/abdominal_icon.png" alt="#"> </div>
									<span>2 minutes of abdominal crunches</span>
								</li>
							</ul>
						</td>
						<td valign="top">
								<ul mat-list>
										<li class="clearfix">
											<div class="img"><img src="/assets/images/run_icon.png" alt="#"></div> 
											<span>  Timed 1.5-mile run </span>
										</li>
										<li class="clearfix">
											<div class="img"><img src="/assets/images/curl_up_icon.png" alt="#"></div>
											<span>2 minutes of curlups</span>
										</li>
										<li class="clearfix">
											<div class="img"><img src="/assets/images/push_up_icon.png" alt="#"> </div>
											<span>2 minutes of pushups</span>
										</li>
									</ul>
								</td>
						<td valign="top">
							<ul mat-list>
								<li class="clearfix">
									<div class="img"><img src="/assets/images/run_icon.png" alt="#"></div> 
									<span>  Timed 1.5-mile run</span>
								</li>
								<li class="clearfix">
									<div class="img"><img src="/assets/images/push_up_icon.png" alt="#"></div>
									<span>1 minute of pushups</span>
								</li>
								<li class="clearfix">
									<div class="img"><img src="/assets/images/sit_up_icon.png" alt="#"> </div>
									<span>1 minute of situps </span>
								</li>
							</ul>
						</td>
						<td valign="top">
							<ul mat-list>
								<li class="clearfix">
									<div class="img"><img src="/assets/images/run_icon.png" alt="#"></div> <span>  Timed 
										1.5-mile run </span>
								</li>
								<li class="clearfix">
									<div class="img"><img src="/assets/images/push_up_icon.png" alt="#"></div>
									<span>1 minute of pushups</span>
								</li>
								<li class="clearfix">
									<div class="img"><img src="/assets/images/sit_up_icon.png" alt="#"> </div><span>
										1 minute of situps</span>
								</li>
								<li class="clearfix">
									<div class="img"><img src="/assets/images/sit_reach_icon.png" alt="#"> </div><span>
										Sit-and-reach flexibility test</span>
								</li>
								<li class="clearfix">
									<div class="img"><img src="/assets/images/swim_icon.png" alt="#"> </div><span>
										5-minute water tread</span>
								</li>
								<li class="clearfix">
									<div class="img"><img src="/assets/images/jump_icon.png" alt="#"> </div>
									<span> 6-foot
										platform jump into a
										100-meter swim </span>
								</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td align="center">
							<a (click)="showFitnessArmyDialogComponent()">
								<span class="circle"><i class="fas fa-plus"></i></span>
								More Details
							</a>
						</td>
						<td align="center">
							<a (click)="showFitnessMarineDialogComponent()">
								<span class="circle"><i class="fas fa-plus"></i></span>
								More Details
							</a>
						</td>
						<td align="center">
							<a (click)="showFitnessNavyDialogComponent()">
								<span class="circle"><i class="fas fa-plus"></i></span>
								More Details
							</a>
						</td>
						<td align="center">
							<a (click)="showFitnessAirForceDialogComponent()">
								<span class="circle"><i class="fas fa-plus"></i></span>
								More Details
							</a>
						</td>
						<td align="center">
							<a (click)="showFitnessCoastGuardDialogComponent()">
								<span class="circle"><i class="fas fa-plus"></i></span>
								More Details
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
	<section class="small-12 contact-bar">
		<a (click)="redirect('options-contact-recruiter')">Find a Recruiter</a>
	</section>
</div>
<div class="small-12 show-for-small-only column">
	<div class="service-data army">
		<div class="rows">
			<div class="section-head">
				<img src="/assets/images/army.png" alt="#">
				<h5>Army</h5>
			</div>
		</div>
		<div class="data-table-head">
			<h5>Boot Camp Duration</h5>
		</div>
		<div class="rows">
			<span>10 weeks </span>
		</div>
		<div class="data-table-head clearfix">
			<div class="small-12 column">
				<div class="row">
					<h5>Boot Camp LOCATIONS </h5>
				</div>
			</div>
		</div>
		<div class="rows list-view">
			<p><strong>Fort Benning</strong><br> Columbus, Georgia</p>
			<p><strong>Fort Jackson</strong><br> Columbia, South Carolina</p>
			<p><strong>Fort Leonard Wood</strong><br> Waynesville, Missouri</p>
			<p><strong>Fort Sill</strong><br> Lawton, Oklahoma</p>
		</div>
		<div class="rows map-view">
			<div class="map-table clearfix">
				<ul mat-list class="map text-center clearfix">
					<li>
						<h6>10 weeks</h6>
						<img src="/assets/images/yellow_marker.png" alt="#">
					</li>
					<li>
						<h6>12 weeks</h6>
						<img src="/assets/images/deep_blue_marker.png" alt="#">
					</li>
					<li>
						<h6>7-9 weeks</h6>
						<img src="/assets/images/light_blue_marker.png" alt="#">
					</li>
					<li>
						<h6>7.5 weeks</h6>
						<img src="/assets/images/red_marker.png" alt="#">
					</li>
					<li>
						<h6>8 weeks</h6>
						<img src="/assets/images/green_marker.png" alt="#">
					</li>
				</ul>
			</div>
			<div class="map">
				<img src="/assets/images/map.jpg" alt="#">
			</div>
		</div>
		<div class="data-table-head">
			<h5>Physical Fitness Requirements</h5>
		</div>
		<div class="rows">
			<ul mat-list>
				<li class="clearfix">
					<div class="img"><img src="/assets/images/run_icon.png" alt="#"></div><span>  Timed 2-mile run </span>
				</li>
				<li class="clearfix">
					<div class="img">
						<img src="/assets/images/sit_up_icon.png" alt="#">
					</div>
					<span>2 minutes of situps</span>
				</li>
				<li class="clearfix">
					<div class="img">
						<img src="/assets/images/push_up_icon.png" alt="#">
					</div>
					<span>2 minutes of pushups </span>
				</li>
			</ul>
		</div>
		<div class="rows more">
			<a (click)="showFitnessArmyDialogComponent()">
				<span class="circle"><i class="fas fa-plus"></i></span>
				More Details
			</a>
		</div>
	</div>
	<div class="service-data marine">
		<div class="rows">
			<div class="section-head">
				<img src="/assets/images/marines.png" alt="#">
				<h5>Marine Corps</h5>
			</div>
		</div>
		<div class="data-table-head">
			<h5>Boot Camp Duration</h5>
		</div>
		<div class="rows">
			<span>12 weeks </span>
		</div>
		<div class="data-table-head clearfix">
			<div class="small-12 column">
				<div class="row">
					<h5>Boot Camp LOCATIONS </h5>
				</div>
			</div>
		</div>
		<div class="rows list-view">
			<p><strong>Marine Corps Recruit Depot Parris Island </strong><br>Parris Island, South Carolina</p>
			<p><strong>Marine Corps Recruit Depot San Diego</strong><br> San Diego, California</p>
		</div>
		<div class="rows map-view">
			<div class="map-table clearfix">
				<ul mat-list class="map text-center clearfix">
					<li>
						<h6>10 weeks</h6>
						<img src="/assets/images/yellow_marker.png" alt="#">
					</li>
					<li>
						<h6>12 weeks</h6>
						<img src="/assets/images/deep_blue_marker.png" alt="#">
					</li>
					<li>
						<h6>7-9 weeks</h6>
						<img src="/assets/images/light_blue_marker.png" alt="#">
					</li>
					<li>
						<h6>7.5 weeks</h6>
						<img src="/assets/images/red_marker.png" alt="#">
					</li>
					<li>
						<h6>8 weeks</h6>
						<img src="/assets/images/green_marker.png" alt="#">
					</li>
				</ul>
			</div>
			<div class="map">
				<img src="/assets/images/map.jpg" alt="#">
			</div>
		</div>
		<div class="data-table-head">
			<h5>Physical Fitness Requirements</h5>
		</div>
		<div class="rows">
			<ul mat-list>
				<li class="clearfix">
					<div class="img"><img src="/assets/images/run_icon.png" alt="#"></div> <span>  Timed 3-mile run </span>
				</li>
				<li class="clearfix">
					<div class="img"><img src="/assets/images/pull_up_icon.png" alt="#"></div> <span>A pullup count</span>
				</li>
				<li class="clearfix">
					<div class="img"><img src="/assets/images/abdominal_icon.png" alt="#"> </div><span>2 minutes of abdominal crunches</span>
				</li>
			</ul>
		</div>
		<div class="rows more">
			<a (click)="showFitnessMarineDialogComponent()">
				<span class="circle"><i class="fas fa-plus"></i></span>
				More Details
			</a>
		</div>
	</div>
	<div class="service-data navy">
		<div class="rows">
			<div class="section-head">
				<img src="/assets/images/navy.png" alt="#">
				<h5>Navy</h5>
			</div>
		</div>
		<div class="data-table-head">
			<h5>Boot Camp Duration</h5>
		</div>
		<div class="rows">
			<span>7-9 weeks </span>
		</div>
		<div class="data-table-head clearfix">
			<div class="small-12 column">
				<div class="row">
					<h5>Boot Camp LOCATIONS </h5>
				</div>
			</div>
		</div>
		<div class="rows list-view">
			<p><strong>Great Lakes Recruit Training Command</strong><br> Great Lakes, Illinois</p>
		</div>
		<div class="rows map-view">
			<div class="map-table clearfix">
				<ul mat-list class="map text-center clearfix">
					<li>
						<h6>10 weeks</h6>
						<img src="/assets/images/yellow_marker.png" alt="#">
					</li>
					<li>
						<h6>12 weeks</h6>
						<img src="/assets/images/deep_blue_marker.png" alt="#">
					</li>
					<li>
						<h6>7-9 weeks</h6>
						<img src="/assets/images/light_blue_marker.png" alt="#">
					</li>
					<li>
						<h6>7.5 weeks</h6>
						<img src="/assets/images/red_marker.png" alt="#">
					</li>
					<li>
						<h6>8 weeks</h6>
						<img src="/assets/images/green_marker.png" alt="#">
					</li>
				</ul>
			</div>
			<div class="map">
				<img src="/assets/images/map.jpg" alt="#">
			</div>
		</div>
		<div class="data-table-head">
			<h5>Physical Fitness Requirements</h5>
		</div>
		<div class="rows">
			<ul mat-list>
				<li class="clearfix">
					<div class="img"><img src="/assets/images/run_icon.png" alt="#"> </div> <span>  Timed 1.5-mile run </span>
				</li>
				<li class="clearfix">
					<div class="img"><img src="/assets/images/curl_up_icon.png" alt="#"> </div> <span>2 minutes of curlups</span>
				</li>
				<li class="clearfix">
					<div class="img"><img src="/assets/images/push_up_icon.png" alt="#"> </div> <span>2 minutes of pushups</span>
				</li>
			</ul>
		</div>
		<div class="rows more">
			<a (click)="showFitnessNavyDialogComponent()">
				<span class="circle"><i class="fas fa-plus"></i></span>
				More Details
			</a>
		</div>
	</div>
	<div class="service-data air-force">
		<div class="rows">
			<div class="section-head">
				<img src="/assets/images/air-force.png" alt="#">
				<h5>Air Force</h5>
			</div>
		</div>
		<div class="data-table-head">
			<h5>Boot Camp Duration</h5>
		</div>
		<div class="rows">
			<span>7.5 weeks </span>
		</div>
		<div class="data-table-head clearfix">
			<div class="small-12 column">
				<div class="row">
					<h5>Boot Camp LOCATIONS </h5>
				</div>
			</div>
		</div>
		<div class="rows list-view">
			<p><strong>Lackland Air Force Base</strong><br> San Antonio, Texas</p>
		</div>
		<div class="rows map-view">
			<div class="map-table clearfix">
				<ul mat-list class="map text-center clearfix">
					<li>
						<h6>10 weeks</h6>
						<img src="/assets/images/yellow_marker.png" alt="#">
					</li>
					<li>
						<h6>12 weeks</h6>
						<img src="/assets/images/deep_blue_marker.png" alt="#">
					</li>
					<li>
						<h6>7-9 weeks</h6>
						<img src="/assets/images/light_blue_marker.png" alt="#">
					</li>
					<li>
						<h6>7.5 weeks</h6>
						<img src="/assets/images/red_marker.png" alt="#">
					</li>
					<li>
						<h6>8 weeks</h6>
						<img src="/assets/images/green_marker.png" alt="#">
					</li>
				</ul>
			</div>
			<div class="map">
				<img src="/assets/images/map.jpg" alt="#">
			</div>
		</div>
		<div class="data-table-head">
			<h5>Physical Fitness Requirements</h5>
		</div>
		<div class="rows">
			<ul mat-list>
				<li class="clearfix">
					<div class="img"><img src="/assets/images/run_icon.png" alt="#"></div> <span>  Timed 1.5-mile run </span>
				</li>
				<li class="clearfix">
					<div class="img"><img src="/assets/images/push_up_icon.png" alt="#"> </div><span>1 minute of pushups</span>
				</li>
				<li class="clearfix">
					<div class="img"><img src="/assets/images/sit_up_icon.png" alt="#"> </div><span>1 minute of situps</span>
				</li>
			</ul>
		</div>
		<div class="rows more">
			<a (click)="showFitnessAirForceDialogComponent()">
				<span class="circle"><i class="fas fa-plus"></i></span>
				More Details
			</a>
		</div>
	</div>
	<div class="service-data coast-guard">
		<div class="rows">
			<div class="section-head">
				<img src="/assets/images/coast-guard.png" alt="#">
				<h5>Coast Guard</h5>
			</div>
		</div>
		<div class="data-table-head">
			<h5>Boot Camp Duration</h5>
		</div>
		<div class="rows">
			<span>8 weeks </span>
		</div>
		<div class="data-table-head clearfix">
			<div class="small-12 column">
				<div class="row">
					<h5>Boot Camp LOCATIONS </h5>
				</div>
			</div>
		</div>
		<div class="rows list-view">
			<p><strong>Cape May Coast Guard Training Center</strong><br> Cape May, New Jersey</p>
		</div>
		<div class="rows map-view">
			<div class="map-table clearfix">
				<ul mat-list class="map text-center clearfix">
					<li>
						<h6>10 weeks</h6>
						<img src="/assets/images/yellow_marker.png" alt="#">
					</li>
					<li>
						<h6>12 weeks</h6>
						<img src="/assets/images/deep_blue_marker.png" alt="#">
					</li>
					<li>
						<h6>7-9 weeks</h6>
						<img src="/assets/images/light_blue_marker.png" alt="#">
					</li>
					<li>
						<h6>7.5 weeks</h6>
						<img src="/assets/images/red_marker.png" alt="#">
					</li>
					<li>
						<h6>8 weeks</h6>
						<img src="/assets/images/green_marker.png" alt="#">
					</li>
				</ul>
			</div>
			<div class="map">
				<img src="/assets/images/map.jpg" alt="#">
			</div>
		</div>
		<div class="data-table-head">
			<h5>Physical Fitness Requirements</h5>
		</div>
		<div class="rows">
			<ul mat-list>
				<li class="clearfix">
					<div class="img"><img src="/assets/images/run_icon.png" alt="#"></div> <span>  Timed 1.5-mile run </span>
				</li>
				<li class="clearfix">
					<div class="img"><img src="/assets/images/push_up_icon.png" alt="#"></div> <span>1 minute of pushups</span>
				</li>
				<li class="clearfix">
					<div class="img"><img src="/assets/images/sit_up_icon.png" alt="#"> </div><span>1 minute of  situps</span>
				</li>
				<li class="clearfix">
					<div class="img"><img src="/assets/images/sit_reach_icon.png" alt="#"> </div><span>Sit-and-reach flexibility test</span>
				</li>
				<li class="clearfix">
					<div class="img"><img src="/assets/images/swim_icon.png" alt="#"> </div><span>5-minute water tread </span>
				</li>
				<li class="clearfix">
					<div class="img"><img src="/assets/images/jump_icon.png" alt="#"> </div><span> 6-foot platform jump
						into a
						100-meter swim </span>
				</li>
			</ul>
		</div>
		<div class="rows more">
			<a (click)="showFitnessCoastGuardDialogComponent()">
				<span class="circle"><i class="fas fa-plus"></i></span>
				More Details
			</a>
		</div>
	</div>
	<section class="small-12 contact-bar">
		<a (click)="redirect('options-contact-recruiter')">Find a Recruiter</a>
	</section>
</div>