<div class="small-12 medium-9 large-9 right-part column full-black-text enlistment-process">
	<div class="row" ng-init="showAge = false;">
		<div class="small-12 medium-12 large-12 column">
			<p class="bodysize">
				<b>There are a few requirements to join (or enlist) in the Military. You must:</b>
			</p>
			<ol mat-list>
				<li> Be 18 (17 with parental consent). The maximum age to join most Services is 35. However, the Air
					Force
					allows entry up to 39 years of age and the Navy only 34. <br>
					<a (click)="showAge = !showAge;" class="ng-binding">Show Age Requirements [v]</a><br>
					<table [hidden]="!showAge" class="ng-hide">
						<tbody>
							<tr>
								<td><b></b></td>
								<td><b>Army</b></td>
								<td><b>Marine Corps</b></td>
								<td><b>Navy</b></td>
								<td><b>Air Force</b></td>
								<td><b>Coast Guard</b></td>
							</tr>
							<tr>
								<td>Active Duty</td>
								<td>17-35</td>
								<td>17-29</td>
								<td>17-34</td>
								<td>17-39</td>
								<td>17-27</td>
							</tr>
							<tr>
								<td>Reserve</td>
								<td>17-35</td>
								<td>17-29</td>
								<td>18-39</td>
								<td>17-38</td>
								<td>17-39</td>
							</tr>
							<tr>
								<td>Guard</td>
								<td>17-35</td>
								<td>N/A</td>
								<td>N/A</td>
								<td>17-39</td>
								<td>N/A</td>
							</tr>
							<tr>
								<td>Service Academies</td>
								<td>17-22</td>
								<td>17-22</td>
								<td>17-22</td>
								<td>17-22</td>
								<td>17-22</td>
							</tr>
						</tbody>
					</table>
				</li>
				<li>Be a U.S. citizen or resident alien.</li>
				<li>Have a high school diploma (preferred), but a high school equivalent such as the
					GED may be accepted.</li>
				<li>Take the ASVAB test to determine job placement. Each job and each Service requires
					a different score. The best source of this information is a <a
						(click)="redirect('options-contact-recruiter')">recruiter</a>.</li>
				<li>Pass a physical fitness exam. Some jobs may have additional requirements.</li>
			</ol>
			<p>
				I understand all of the enlistment requirements. Show me the <a
					(click)="redirect('options-enlistment-process')">enlistment
					process</a>.
			</p>
		</div>
	</div>
	<section class="small-12 contact-bar">
		<a (click)="redirect('options-contact-recruiter')">Find a Recruiter</a>
	</section>
</div>