<div class="small-12 medium-9 large-9 right-part column full-black-text pay-section">
	<div class="row">
		<div class="small-12 medium-12 large-12 column">
			<p class="bodysize"><b>Military salaries come from two sources: base pay and special pay. Base pay is the
					same
					across all Service branches, and increases are based on rank and time in the Service.</b></p>
			<button *ngIf="payData" class="button military-pay" (click)="openPayDialog( payData)" type="button">2018 MILITARY PAY TABLE</button>
			<strong>Special Pay</strong>
			<p>Depending on your job and service, you may receive special pay, pay given on top of your base salary.
				Sometimes it is tax-free, as with hazardous duty pay, and sometimes it is not. Examples of special pay
				are
				language skills, hazardous duty pay, career enlisted flyer incentive pay, submarine duty pay, and
				medical
				officers special pay to name a few.</p>
			<p>In addition to base pay, meals and housing are included as part of active duty military compensation
				packages:</p>
			<strong>Meals</strong>
			<p>While on active duty you are eligible for free dining services or you will be given an allowance to cover
				the
				cost of your meals when dining facilities are not available.</p>
			<strong>Housing</strong>
			<p>If you are married and on-base housing is not available, or you would like to live off base, a tax-free
				monthly housing allowance will be provided. The military also pays all travel and expenses for required
				moves.</p>
			<strong>Enlistment Bonuses</strong>
			<p>Enlistment bonuses vary by Service and change to meet the needs of the Service -- be sure to ask your
				recruiter about the availability of enlistment bonuses.</p>
			<strong>Advanced Enlistment Rank</strong>
			<p>In addition to enlistment bonuses, recruiters can offer you the chance to enter the service at a higher
				pay
				grade called an Advanced Enlistment Rank. Most people start out at E-1 (Enlisted Pay grade 1) however
				qualified
				enlistees may enter at E-2 or E-3.</p>
		</div>
	</div>
	<section class="small-12 contact-bar">
		<a (click)="redirect('options-contact-recruiter')">Find a Recruiter</a>
	</section>
</div>