<div class="small-12 medium-9 large-9 right-part column full-black-text pay-section">
	<div class="row">
		<div class="small-12 medium-12 large-12 column">
			<p>Meeting with a recruiter does not obligate you to serve; it's simply a chance to ask
				questions and get answers. Recruiters are the best resource for you to learn about joining
				the Military. They represent a particular Service and are experts on the enlistment process
				and life in the Military. It's their job is to find qualified candidates to fill job
				openings.</p>
			<p>Talk to recruiters from multiple branches to compare opportunities. If you participated
				in ASVAB CEP you're in a great position because you already have a score that may qualify you
				for certain jobs. You can determine which Services have job offerings that align with your
				aptitude and interests.</p>
			<p>Be sure to ask your recruiter about opportunities for student loan repayment,
				enlistment bonuses, waivers, and many other incentive programs. You won't know what's
				available until you ask.</p>
			<p>Don't be surprised if a recruiter wants to talk to you and your parents together.
				Family support plays an important role in the decision to enlist, and they encourage everyone
				to be informed.</p>
			<p>CONTACT SERVICES ONLINE OR BY PHONE:</p>
		</div>
	</div>
</div>