<app-spinner></app-spinner>
<div id="career-path">
    
  <div ng-include="'citm/page-partials/header.html'" ng-controller="HeaderController"></div>            
      
  <div id="main" class="section">
    
    <mat-card class="row column">
      <h2 class="page-title">
        <span class="caps">Career Path</span> <br/>
        <span *ngIf="milCareer" style="font-weight: normal;"><a routerLink="/career-detail/{{mcId}}">{{milCareer.title}}</a></span>
      </h2>
      <hr class="show-for-medium" />
    </mat-card>
    
    <mat-card id="interaction" class="row column">
	  <div *ngIf="careerPathwayInfo" class="row">
          <div id="msJoin" class="small-12 columns">
            <h3 id="mobileheader"><span>Milestones</span></h3>
            <div *ngFor="let c of careerPathwayInfo; let i = index; let first = first; let last=last" [id]="'ms' + (i + 1)" class="msCircle" [ngClass]="(i==0)?'msCircle selected':'msCircle'" >
                <img [src]="c.imageUrl" style="display: none;">
              	<!-- <img [src]="baseImageUrl + 'citm-images/pathways/' + mcId + '_' + (i + 1) + '.jpg'" style="display: none;"> -->
				<div class="msContent">
                <h4><strong><div [innerHTML]="i + 1"></div></strong></h4>
                <p>{{c.heading}}</p>
                <div class="description">
                  <h5>{{c.heading}} | <strong>{{c.years}}</strong></h5>
                  <p>{{c.description}}</p>
                </div>
              </div>
            </div>
			<div id="msTabs">
				<div *ngFor="let c of careerPathwayInfo; let i = index; let first = first; let last=last" [id]="'tab-ms' + (i + 1)" [ngClass]="(i==0)?'msContainer active':'msContainer'">
					<h5>{{c.heading}} | <strong>{{c.years}}</strong></h5>
					<p>{{c.description}}</p>
					<img [src]="c.imageUrl">
				</div>
			</div>
          </div>
        </div>
    </mat-card>
    <app-related-careers [mcId]="mcId"></app-related-careers>
</div>