.sitemap {
	
	.sitemap-title {
		color: #2f2867;
		font-size: 36px;
		font-weight: bold;
		margin-bottom: 39px;
	}
	h3 {
		margin-bottom: 1px;
		padding: 0;
	}
	.sitemap-links {
		margin-bottom: 29px;
		
		ul {
			list-style-type: none;
			margin: 0;
			
			li {
				margin-bottom: 3px;
			}			
		}		
		h3 {
			color: #000;
			font-size: 14px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}