<mat-dialog-content>
	<div class="modal-options">
		<div class="custom-modal-lg">
			<div class="custom-modal-content table-contents-wrap marine-modal">
				<div class="custom-modal-body">
					<div class="titles login-titles">
						<h4>In order to access this feature, you need to login.</h4>
						<button type="button" class="close-button" (click)="close()">
							<span aria-hidden="true">&#215;</span>
						</button>
					</div>
					<div class="contents">
						<div class="row">
							<div class="medium-4 columns text-center">
								<button class="button button-block" (click)="close()" type="button">Continue
									Without Logging In</button>
							</div>
							<div class="medium-4 columns text-center">
								<button class="button button-block custom-close-all" (click)="onLogIn()"
									type="button">Login</button>
							</div>
							<div class="medium-4 columns text-center">
								<button class="button button-block" (click)="onLogIn()" type="button">Create
									An Account</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</mat-dialog-content>