/* Common Variable Code */
$body-font-family: "Open Sans", sans-serif;
$white: #fff;
$light-gray: #f5f5f5;
$burgundy: #911a07;
$primary-color: #178388;

.guided-exploration {
  .question {
    color: #2f2a6a;
    font-size: 24px;
  }  
  h3 {
    margin-bottom: 0;
  }
  .description {
    color: #000;
    font-size: 15px;
    margin-bottom: 2em;
  }


  .career {
    background-size: cover;
    cursor: pointer;
    float: left;
    height: 136px;
    margin-bottom: 1%;
    margin-right: 1%;
    position: relative;
    width: 32.3%;

    p {
      bottom: 0;
      color: #fff;
      font-weight: bold;
      line-height: 1.1em;
      margin-bottom: 0;
      padding: 10px;
      padding-right: 40px;
      position: absolute;
    }
    i {
        bottom: -5px;
		font-size: 25px;
		padding: 10px;
		margin: 0;
		position: absolute;
		right: -10px;
    }
  }
	
	#career-grid {
		.actions svg {
			color: #fff;
		}
	}

  #career-list,
  .career-list {
  overflow: hidden;
  padding-right: 6px; 
	  
	svg {
		color: #fff;
	}

    .career {
    background: #f2f2f2;
    display: table;
    width: 100%;

      > .columns {
        display: table-cell;
        float: none;
        position: relative;
        background-size: cover;
    
        &:first-child {
          p {
            left: auto;
            right: 0;
          }
        }
      
        &:last-child {
        padding: 10px;
        position: relative;
      
          p {
            color: $primary-color;
            margin-bottom: 10px;  
            padding: 0;
            position: static;
          }
          .services {
            h4 {  
              color: #000;
              background: #dfdfdf;
              font-family: $body-font-family;
              font-size: 13px;
              font-weight: bold;
              padding: 0 5px;
              text-transform: uppercase;
              box-sizing: content-box;
              margin-left: -5px;
              width: 100%;
            }
            .columns {
              padding: 0;
            }
          }
        }
      }
    }
  }
}
#favoritesCount {
	i {
	    vertical-align: initial;		
	}
	.inner-fav {
		color: #911a07;
	    margin-right: 4px;
	}
}

/* IE only css */
@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.guided-exploration #tools #favoritesCount svg.favorite {
		vertical-align: 0px;
	}
}

.background-gradient {
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  
  i {
    color: $white;
  }
	
}
.list-img-wrapp {
  position: relative;
}
.actions {
  position: absolute;
  right: 10px;
  bottom: 5px;

  i {
    color: $white;
  }
}
.progress-bar {
  background: none;
  box-shadow: 0 0 0;
  list-style: none;
  margin: 70px 0;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  color: darken(#cecfcf, 33%);

  > li {
    position: relative;
    display: table-cell;
    text-align: center;
    font-size: 0.8em;
    vertical-align: top;

    img {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
    
    &:before {
      content: ' ';
      cursor: pointer;
      display: block;
      margin: 0 auto;
      border: 2px solid #cecfcf;
      box-sizing: content-box;
      background: #fff;
      width: 1em;
      height: 1em;
      text-align: center;
      margin-bottom: 0.25em;
      line-height: 1.2em;
      border-radius: 100%;
      position: relative;
    }

    .progress-line,
    &:after {
      content: '';
      position: absolute;
      display: block;
      background: #cecfcf;
      width: 100%;
      height: 0.25em;
      top: .55em;
      left: 50%;
      margin-left: 1.5em\9;
      z-index: -1;
    }

    &:last-child .progress-line,
    &:last-child:after {
      display: none;
    }
    &.is-complete {
      
      &:before {
        background: #35a9ae;
        border-color: #35a9ae;
      }

      &:not(.is-active):after {
        background: #35a9ae;
      }
    }
    &.is-active {

      img {
        display: inline-block;
      }
      
      &:before {
        visibility: hidden;
      }
    }
  }
}

.redcheck {
    margin:0;
    padding:0;
    list-style: none;

    li {
      line-height: 1.5em;
    }

    input[type="checkbox"] {
      display: none;

      + label {
        cursor: pointer;
        float: none;
        margin: 0;
        line-height: 1.5;
        position: relative;
        padding-left: 24px;

        &:before {
          border: 2px solid $burgundy;
          border-radius: 50%;
          content: '';
          display: inline-block;
          height: 14px;
          margin-right: 10px;
          vertical-align: middle;
          width: 14px;
          position: absolute;
          top: 3px;
          left: 0;
        }
      }

      &:checked + label:before {
        background: $burgundy;
      }
    }   
}
button.striped,
.button.striped {
  background: repeating-linear-gradient(-45deg, #fff 2px, #fff 5px, #d6d8d7 6px, #d6d8d7 8px);
  color: #911a07;
  margin-top: 20px;
  cursor: pointer; 
}
@media screen and (max-width: 639px) {

  #found-careers {
    margin-left: -0.9375rem;
    margin-top: 39px;
    overflow: scroll;
    position: absolute;
    white-space: nowrap;
    width: 100%;
  }

  .progress-bar {
    margin: 10px 0 9px;
  }
  .guided-exploration {
    .question-group {
      margin-bottom: 25px;
    }
    .question{
      font-size: 16px;
      margin-bottom: 8px;
    }
    .career:last-child {
      margin-right: 0;
    }
  }
  #navigation {
    background: #f5f5f5 none repeat scroll 0 0;
    border-top: 1px solid #cecfcf;
    line-height: 38px;
    margin-left: -0.9375em;
    padding: 0 0.9375em;
    position: absolute;
    width: 100%;

    strong {
      font-weight: normal;
    }

    button.striped {
      background: transparent none repeat scroll 0 0;
      float: right;
      font-size: 14px;
      margin: 0;
      padding: 12px 0;

      i {
        font-size: 12px;
      }
    }
  }

  #step2 {
    margin-bottom: 160px;

    #found-careers {
      .career {
        background-size: cover;
        display: inline-block;
        float: none;
        white-space: normal;
        width: 195px;
        height: 120px;
      }
    }
  }

  .progress-bar-mobile {
    > li {
      &:before {
        width: .5em;
        height: .5em; 
        z-index: 2;
      }
      
      &.is-active:before {
        visibility: visible;
      }

      &:after,
      .progress-line {
        height: 0.1em;
        top: .36em;
      }

      .progress-line {
        &.in-progress,
        &.is-complete {
          background: $primary-color;
          width: 50%;
          z-index: 1;
        }
      }

      &.is-complete {

        &:before {
          background: $primary-color;
          border-color: $primary-color;
        }
        
        .progress-line.is-complete {
          width: 100%;
        }
      }

    }
  }
}

.text-danger {
    color: #a94442;
}





