<div class="modal-options">
	<div class="custom-modal-lg">
		<div class="custom-modal-content table-contents-wrap marine-modal">
			<div class="custom-modal-body login_wrap" id="loginpop" style="display: block;">
				<div class="log_wrapp">
					<div class="row">
						<div class="medium-12 columns form-head">
							<h4>Log In</h4>
							<button type="button" class="close-button" (click)="onNoClick()">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div>
							<div *ngIf="showSpinner">
								<i class="fas fa-cog fa-spin"></i>
							</div>
							<div class="medium-6 columns contents">
								<h3 class="headerTest">LOG IN </h3>
								<p>You must login to access Careers in the Military's exclusive features.<br>
									You can login with your ASVAB CEP account. </p>
								<label>
									<font color="red" class="ng-binding"> {{ errorMessage }} </font>
								</label>
								<input autofocus class="form-control" type="email" name="emailAddr" #emailaddr [(ngModel)]="emailAddr"
									placeholder="Email" cdkFocusInitial>
								<input class="form-control" type="password" name="password" #pwd [(ngModel)]="password"
									placeholder="Password">>
								<a class="forgotpassbtn" #forgotpwd (click)="onForgotPassword()">I forgot my password</a> <br>
								<br>
								<input type="submit" class="button" #login [disabled]="!checkLoginValid()"  (click)="onClickLogin()" value="Login"/>
								<br>
								<br>
							</div>
							<div [hidden]="isRegistered" class="right medium-6 columns">
								<div>
									<h3 class="headerTest">Create Your Account</h3>
									<font color="red" class="ng-binding"> {{ errorMessage2 }} </font>
									<font color="red" class="ng-binding"> {{ regErrorMessage }} </font>
									<input class="form-control" type="email" name="regEmai" [(ngModel)]="regEmail" placeholder="Email">
									<input class="form-control" type="password" name="password1" [(ngModel)]="password1"
										placeholder="Password">
									<input class="form-control" type="password" name="password2" [(ngModel)]="password2"
										placeholder="Retype Password">
									<ngx-recaptcha2 #captchaElem name="captchaElem" [siteKey]="recaptchaKey"
										[useGlobalDomain]="false" [(ngModel)]="responseOne" ngDefaultControl>
								</ngx-recaptcha2>
									<button type="button" style="margin-top: 15px" class="button" [disabled]="!checkRegisterValid()"
										(click)="onClickRegister()">Register</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>