<mat-dialog-content>
	<div class="modal-options">
		<div class="custom-modal-dialog modal-md">
			<div class="custom-modal-content table-contents-wrap">
				<div class="custom-modal-body">
					<div class="titles">
						<h4>Rank</h4>
						<button type="button" class="close-button" (click)="close()">
							<span aria-hidden="true">&#215;</span>
						</button>
					</div>
					<div class="rank-text-modal">
						<div class="row">
							<div class="small-12 columns">
								<p>Select a Service to view the progression of rates and
									ranks. Promotions take place at different times for different
									reasons.</p>
							</div>
						</div>
						<div class="row">
							<div class="small-12 medium-6 columns">
								<label>Service</label> <select [(ngModel)]="serviceSelection">
									<option value="'undefined'">select one</option>
									<option *ngFor="let s of serviceList" [ngValue]="s.id">{{s.title}}</option>
								</select>
							</div>
							<div class="small-12 medium-6 columns"></div>
						</div>
						<div class="small-12 columns">
							<hr>
						</div>
						<div class="row ng-scope">
							<div *ngIf="serviceSelection != 'undefined' && filterRankEnlisted(data).length != 0"
								class="small-12 medium-6 columns">
								<p class="nav-base-head">
									<strong>Enlisted</strong>
								</p>
								<table class="enlisted-table">
									<tbody>
										<tr>
											<td><b>Rate</b></td>
											<td style="float: right"><b>Rank</b></td>
										</tr>
										<tr *ngFor="let f of filterRankEnlisted(data)">
											<td>{{f.rank}}</td>
											<td style="float: right">{{f.rate}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div *ngIf="serviceSelection != 'undefined' && filterRankOfficer(data).length != 0"
								class="small-12 medium-6 columns">
								<p class="nav-base-head">
									<strong>Officer</strong>
								</p>
								<table class="enlisted-table">
									<tbody>
										<tr>
											<td><b>Rate</b></td>
											<td style="float: right"><b>Rank</b></td>
										</tr>
										<tr *ngFor="let f of filterRankOfficer(data)">
											<td>{{f.rank}}</td>
											<td style="float: right">{{f.rate}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="small-12 medium-6 columns"></div>
							<div *ngIf="serviceSelection != 'undefined' && filterRankWarrantOfficer(data).length != 0"
								class="small-12 medium-6 columns">
								<p class="nav-base-head">
									<strong>Warrant Officer</strong>
								</p>
								<table class="enlisted-table">
									<tbody>
										<tr>
											<td><b>Rate</b></td>
											<td style="float: right"><b>Rank</b></td>
										</tr>
										<tr *ngFor="let f of filterRankWarrantOfficer(data)">
											<td class="ng-binding">{{f.rank}}</td>
											<td style="float: right" class="ng-binding">{{f.rate}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="close-button-div text-center">
						<button type="button" class="button" (click)="close()">close</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</mat-dialog-content>