<div class="custom-modal-content">
	<div class="custom-modal-body">
		<h4 class="popup-title">Privacy and Security</h4>
		<mat-dialog-content>
			<div *ngIf="showSpinner">
				<i class="fas fa-cog fa-spin"></i>
			</div>
			<div *ngIf="pageHtml">
				<app-dynamic-content-loader id="dir" class="ac-text-wrap" [text]="pageHtml">
				</app-dynamic-content-loader>
			</div>
		<div class="modal-footer ng-scope">
			<button class="button" type="button" (click)="onNoClick()">Close</button>
		</div>
		</mat-dialog-content>
	</div>
</div>