<mat-dialog-content>
  <div class="modal-options">
    <div class="custom-modal-lg">
      <div class="custom-modal-content table-contents-wrap marine-modal">
        <div class="custom-modal-body">
          <div class="titles">
              <h4 >Edit Your Career Selections</h4>

            <button type="button" class="close-button" aria-label="Close" (click)="onClose()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="contents">
            <div class="row">
              <br />

              <table class="hover">
                <thead>
                  <tr>
                    <th>Deleted Careers</th>
                    <th class="input"></th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="hiddenSearchList">
                    <tr *ngFor="let item of hiddenSearchList">
                      <td>{{item.title}}</td>
                      <td class="input"><a (click)="onUndo(item);" [ngStyle]="myStyle">undo</a></td>
                    </tr>
                    <tr [hidden]="hiddenSearchList.length > 0">
                      <td>No more careers to undo.</td>
                      <td class="input"></td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
              {{error}}
              <div class="close-button-div">
                <button class="button" type="button" (click)="onClose()">close</button>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>