<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<app-spinner></app-spinner> 
<router-outlet></router-outlet>
<app-footer></app-footer>
<!-- <app-alert-box> -->

