/* modal Structure CSS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
body {
	margin: 0;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.text-center {
	text-align: center;
}
.custom-modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
    z-index: 1050;
}
.custom-modal-content {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cacaca;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    position: relative;
    outline: 0;
    font-size: 13px;
}
.custom-modal-body {
    position: relative;
    padding: 15px;
}
.modal-options {
    color: #3d4243;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
}

/* Modal Title */
.titles {
	position:relative;
}
button {
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	background-color: transparent;
	border: 0 none;
	border-radius: 3px;
	cursor: auto;
	line-height: 1;
	padding: 0;
}
.modal-options .close-button {
	color: #2f2a6a;
	cursor: pointer;
	font-size: 19px;
	font-weight: bold;
	line-height: 1;
	padding: 0;
	position: absolute;
	right: 5px;
	top: 5px;
}
.modal-options h4 {
    background-color: #e6e8e8;
    color: #3d4243;
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
    padding: 5px 25px 5px 10px;
	margin:0 0 34px;
	font-weight: normal;
}
.modal-options .nav-base-head {
	color: #2f2a6a;
	font-size: 15px;
	line-height: normal;
	margin-bottom: 10px;
	text-transform: uppercase;
}

/* Modal Table */
table {
	border-collapse: collapse;
	border-radius: 3px;
	margin-bottom: 1rem;
	width: 100%;
}
table tbody {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
}
.modal-options .border table tr > td, 
.modal-options .border table tr > th {
	border-right: 1px solid #ccc;
}
.modal-options .border table tr > td:last-child, 
.modal-options .border table tr > td:last-child, 
.modal-options .border table tr > th:last-child, 
.modal-options .border table tr > th:last-child {
	border-right: medium none;
}
table tbody th, table tbody td {
	padding: 0.125rem 0.625rem 0.2rem;
}
table tbody tr:nth-child(2n) {
	background-color: #f1f1f1;
	border-bottom: 0 none;
}
.modal-options .marine-modal .table2 table:nth-of-type(1) tr td, .modal-options .marine-modal .table2 table:nth-of-type(2) tr td {
	width: 25%;
}

/* Close Bottom Button */
.modal-options .close-button-div .button {
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	padding: 5px 20px;
	width: 100px;
	background: #178388 none repeat scroll 0 0;
	border: 1px solid transparent;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	text-align: center;
	transition: all 0.25s ease-out 0s;
	vertical-align: middle;
	text-transform: uppercase;
}
.modal-options .close-button-div .button:hover, .modal-options .close-button-div .button:focus {
	background: #146f74 none repeat scroll 0 0;
	color: #fff;
}

/* Media Css */
@media screen and (min-width: 768px){
	.custom-modal-dialog {
		margin: 30px auto;
		width: 600px;
	}
	.custom-modal-content {
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	}
}

@media screen and (min-width: 992px) {
	.custom-modal-lg {
		width: 900px;
	}
}

@media screen and (max-width: 639px) {
	.table-contents {
		overflow: auto;
	}
}