/* Common Variable Code */
$body-font-family: "Open Sans", sans-serif;
$white: #fff;
$light-gray: #f5f5f5;
$burgundy: #911a07;
$primary-color: #178388;


.advanced-search {
	font-size: 13px;

	.sticky-wrapper {
		display: none;
	}
	
	header {
		z-index: 11;
		position: relative;
	}
	h2,h4 {
		font-family: $body-font-family;
	}
	h2 {
		color: #2f2a6a;
		font-size: 1.25rem;
		margin-bottom: 1em;
		font-weight: bold;
	}
	#main {
		position: relative;
		padding-bottom: 100px;

		.search-list {
			&:first-child {
				p:last-child {
					margin-bottom:0;
				}
			}
		}
		.search-bar {
			box-sizing: content-box;
		}
	}

	.striped {
		background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0) 2px, rgba(255, 255, 255, 0) 5px, $white 6px, $white 8px);
	}
	.button.striped {
		display: block;
		margin: 10px auto 30px;
		padding: 10px;
		text-decoration: none;
		width: 140px;
	}
	.load-more.striped{
		background: rgba(0, 0, 0, 0) repeating-linear-gradient(-45deg, #fff 2px, #fff 5px, #d6d8d7 6px, #d6d8d7 8px) repeat scroll 0 0;
		color: #911a07;
	}
	
	.sort-by {
		padding: 8px 13px;
	}
	#tools {
		.icon-list {			
			color: $burgundy;
			&.active {
				color: #adadad;
			}
			svg {
				color: inherit;
				vertical-align: baseline;
			}
		}
	}
	#tools .inner-fav {
	    color: #911a07;
    	font-size: 13px;
    	margin-right: 3px;
	}
	#filters {
		background: #efefef;
		padding: 20px 0 0;

		h2,
		#filter-actions,
		#mobile-filter-actions {
			padding: 0 13px;
		}
		#other-ways {
			background: transparent;
			border: 0;
			padding: 5px 36px;

			h4 {
				color: #000;
				font-size: 13px;
				text-transform: uppercase;
				font-weight: normal;
				margin: 0;
			} 
		}
		mat-accordion.mat-accordion {
			margin-bottom: 20px;

			.mat-expansion-panel-header.transform_auto {
				background-color: #dcdcdc;
			    height: auto !important;
				min-height: 30px;
				max-height: 50px;
				padding: 0 13px;
			}
			.service-check-list {
				list-style: outside none none;
				margin: 0;

				> li {
					line-height: normal;
				}

				input[type="checkbox"] {
					display: none;

					+ label {
						cursor: pointer;
						float: none;
						margin: 0;
						line-height: 1.5;	

						&:before {
							background: $white;
							border: 2px solid #777a7e;
							content: '';
							display: inline-block;
							height: 6px;
							margin-right: 10px;
							vertical-align: middle;
							width: 6px;
						}
					}

					&:checked + label:before {
						background: #38e6ee;
					}
					
					&[disabled] + label {
					    cursor: not-allowed;
						opacity: 0.5;
						
						&:before {
							background: #777a7e;
						}
					}
				}
			}
		}
		.sticky-wrapper {
			display: block;
			
			#sticky {
				z-index: 1 !important;
				opacity: 1 !important;
			}
		}
	}
	.career-detail{
		h4 {
			color: #000;
			font-size: 13px;
			margin: 0 0 6px;
			text-transform: uppercase;
			font-weight: bold;
		}
		h3 {
			color: $primary-color;
			font-family: $body-font-family;
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 1em;
			text-transform: none;
		}
		.list-img-wrapp {
			position: relative;
		}
		.actions {
			position: absolute;
			right: 10px;
			bottom: 5px;

			i, svg {
				color: $white;
			}
			@media screen and (max-width: 639px) {
				.fa-xs {
					font-size: 1em;
					margin-right: 5px;
				}
			}
		}
		.services {
			margin-top: 20px;

			img {
				margin-right: 3.5%;
				max-width: 13%;

				&:last-of-type {
					margin-right: 0;
				}
			}
		}
	}
	.mini-form {
		display: inline-block;
		margin-left: 18px;	
		position: relative;
		
		input {
			border-color: #D9DFE5;
			border-radius: 2px;
			color: #000;
			font-size: 12px;
			display: inline;
			height: 1.25rem;
			padding: 0 5px;
		}
	}	
}

#searchTabs {
    background: #efefef!important;
    border-bottom: 1px solid #ababab;
    margin-bottom: 20px;
    margin-left: 0;
    padding: 5px 25px 0;
    position: relative;
    padding: 5px 25px 0;
    top: -16px;
	
	&::after {
		clear: both;
		display: table;
    	content: " ";
		box-sizing: inherit;
	}
	
	> li {
		float: left;
		margin-bottom: -1px;	
		position: relative;
		display: block;
		
		> a {
			background: #f7f7f7;
			border: 1px solid #ababab;
			border-radius: 0;
			color: #178388;
			display: block;
			font-weight: 700;
			margin-right: 15px;
			padding: 6px 30px;
		}
		
		&.active>a, 
		&.active>a:focus, 
		&.active>a:hover {
			background: #fff;
			border-bottom-color: transparent;
			color: #000;
		}
	}
	
	@media screen and (max-width: 63.9375em) and (min-width: 40em) {
		>li>a {
			font-size: 14px;
    		line-height: 1.4em;
			max-width: 110px;
			padding: 6px;
			text-align: center;
		}
	}
	
	@media screen and (max-width: 39.9375em) and (min-width: 0em) {
		margin-left: -.9375rem;
    	margin-right: -.9375rem;
		margin-bottom: 0;
		margin-top: 0;
		padding: 0;
		text-align: center;
		top: 0;
		
		>li {
			display: inline-block;
			float: none;
			max-width: 100px;
			width: 33%;
			
			a {
				background: #efefef;
				color: #000;
				margin: 0 4px;
				padding: 6px 3px;
				text-align: center;
			}
		}
	}

}

.advanced-search #mobile-found-careers  {
	border-bottom: 1px solid #ababab;
	margin-bottom: 20px;
}

.actions i {
	font-size: 100%;
	
	@media screen and (min-width: 40em) {
		font-size: 150%;
	}
}

@media screen and (min-width: 40em) {
	.advanced-search {
		.search-list {
			min-height: 150px; 
		}
		#filters {
			bottom: 0;
			padding: 80px 0 20px;
			position: absolute;
			right: 0;
			top: -75px;
			z-index: 1;
			overflow: auto;

			#other-ways {
				background: transparent;
				border: 0;
				padding: 5px 36px;

				h4 {
					color: #000;
					font-size: 13px;
					text-transform: uppercase;
					font-weight: normal;
					margin: 0;
				} 
			}
		}
	}
}

@media screen and (max-width: 1023px) {
	.advanced-search {
		#filters {
			#other-ways {
				padding: 5px 15px;
			}
		} 
	}
}

@media screen and (max-width: 639px) {
	
	#searchCriteria {
		background: #efefef;
    	padding-top: 20px;
		
		h2 {
		    margin: 0;	
		}
	}
	.advanced-search {

		#main {
			margin-top: 0;
		}
		.mini-form {
			width: 75%;
		}
		#filters {
			overflow-x: hidden;

			#other-ways {
				padding: 15px 13px 18px;
				text-align: center;
				margin-top: 10px;
				border-top: 1px solid #9e9e9e;
				border-bottom: 1px solid #9e9e9e;
			}
			mat-accordion.mat-accordion {
				margin-bottom: 11px;
			}
		}
		.mat-tab-group {
			margin-bottom: 35px;
		}
		.sort-by-mobile {
			background-color: #efefef;
		}
		.career-detail {
			.services img {
				max-width: 15%;
			}
			.actions {
				bottom: 0;
				font-size: 16px;
				right: 0;
			}
		}
	}
	ul.checked li {
		font-weight: bold;
	} 
	
	#sort-tabs .mat-card.career {
		margin: 0;
	}
	
}