<div class="row column">
    <div class="career-detail composite-scores">
        <div class="row">
            <div class="small-12 column">
                <h2>ASVAB Subtests Included in the Service Composites</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="medium-9 columns">
                    <p> Each job in the Armed Services is associated with a Service composite category. <br>
                        Use the table below to see what ASVAB subtests are important for the categories you are
                        interested in. </p>
                    <p><a (click)="setMessage('serviceComps')">Learn about Service composite categories.</a></p>
                    <p><a (click)="setMessage('yourComps')">Learn about your composite scores.</a></p>
                    <mat-accordion id="composite-scores" class="mat-expansion-panel-group mat-accordion-right-icon mat-accordion-text transperantbg"
                        #firstAccordion="matAccordion">
                        <mat-expansion-panel #panel1>
                            <mat-expansion-panel-header>ALL SERVICES </mat-expansion-panel-header>
                            <div class="ac-text-wrap">
                                <div class="row">
                                    <div class="small-12 column">
                                        <table class="table table-condensed branches-table">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2" *ngIf="haveAsvabTestScores()" class="ng-scope">Your Scores</td>
                                                    <td>COMPOSITE (code)</td>
                                                    <td colspan="2">TESTS</td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.afqt" class="ng-scope">
                                                        <input #afqtCheckbox type="checkbox" id="afqtCheckbox"
                                                            [checked]="afqt" (change)="addRemoveFavComposite('afqt', afqtCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_ALL_SERVICES_AFQT')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.afqt}}</td>
                                                    <td>Armed Forces Qualification Test (AFQT)</td>
                                                    <td>
                                                        <span class="AR">AR</span> +
                                                        <span class="MK">MK</span> +
                                                        <span class="VE">VE</span>
                                                    </td>
                                                    <td><a (click)="setMessage('afqt')"> Learn More</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="comp-scores-fav-prompt">
                                            <ul>
                                                <li>Select to display in your portfolio</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel #panel2>
                            <mat-expansion-panel-header> ARMY </mat-expansion-panel-header>
                            <div class="ac-text-wrap">
                                <div class="row">
                                    <div class="small-12 column">
                                        <p>
                                            For each composite category (except GT), each of the subtests 
                                            are weighted in correlation with the composite score category 
                                            and added together to determine the final score on each individual 
                                            composite category.<br>
                                            For the GT composite, the two subtests are equally important.
                                        </p>
                                        <table class="table table-condensed branches-table">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2" *ngIf="haveAsvabTestScores()" class="ng-scope">Your Scores</td>
                                                    <td>COMPOSITE (code)</td>
                                                    <td>TESTS</td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.gt_army" class="ng-scope">
                                                        <input #gt_armyCheckbox type="checkbox" id="gt_armyCheckbox"
                                                            [checked]="gt_army" (change)="addRemoveFavComposite('gt_army', gt_armyCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_ARMY_GT')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.gt_army}}</td>
                                                    <td>General Technical (GT)</td>
                                                    <td>
                                                        <span class="AR">AR</span>, and
                                                        <span class="VE">VE</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.cl_army" class="ng-scope">
                                                        <input #cl_armyCheckbox type="checkbox" id="cl_armyCheckbox"
                                                            [checked]="cl_army" (change)="addRemoveFavComposite('cl_army', cl_armyCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_ARMY_CL')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.cl_army}}</td>
                                                    <td>Clerical (CL)</td>
                                                    <td>
                                                        <span class="GS">GS</span>,
                                                        <span class="AR">AR</span>,
                                                        <span class="MK">MK</span>,
                                                        <span class="MC">MC</span>,
                                                        <span class="EL">EI</span>,
                                                        <span class="AS">AS</span>, and
                                                        <span class="VE">VE</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.co_army" class="ng-scope">
                                                        <input #co_armyCheckbox type="checkbox" id="co_armyCheckbox"
                                                            [checked]="co_army" (change)="addRemoveFavComposite('co_army', co_armyCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_ARMY_CO')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.co_army}}</td>
                                                    <td>Combat (CO)</td>
                                                    <td>
                                                        <span class="GS">GS</span>,
                                                        <span class="AR">AR</span>,
                                                        <span class="MK">MK</span>,
                                                        <span class="MC">MC</span>,
                                                        <span class="EL">EI</span>,
                                                        <span class="AS">AS</span>, and
                                                        <span class="VE">VE</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.el_army" class="ng-scope">
                                                        <input #el_armyCheckbox type="checkbox" id="el_armyCheckbox"
                                                            [checked]="el_army" (change)="addRemoveFavComposite('el_army', el_armyCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_ARMY_EL')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.el_army}}</td>
                                                    <td>Electronics Repair (EL)</td>
                                                    <td>
                                                        <span class="GS">GS</span>,
                                                        <span class="AR">AR</span>,
                                                        <span class="MK">MK</span>,
                                                        <span class="MC">MC</span>,
                                                        <span class="EL">EI</span>,
                                                        <span class="AS">AS</span>, and
                                                        <span class="VE">VE</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.fa_army" class="ng-scope">
                                                        <input #fa_armyCheckbox type="checkbox" id="fa_armyCheckbox"
                                                            [checked]="fa_army" (change)="addRemoveFavComposite('fa_army', fa_armyCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_ARMY_FA')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.fa_army}}</td>
                                                    <td>Field Artillery (FA)</td>
                                                    <td>
                                                        <span class="GS">GS</span>,
                                                        <span class="AR">AR</span>,
                                                        <span class="MK">MK</span>,
                                                        <span class="MC">MC</span>,
                                                        <span class="EL">EI</span>,
                                                        <span class="AS">AS</span>, and
                                                        <span class="VE">VE</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.gm_army" class="ng-scope">
                                                        <input #gm_armyCheckbox type="checkbox" id="gm_armyCheckbox"
                                                            [checked]="gm_army" (change)="addRemoveFavComposite('gm_army', gm_armyCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_ARMY_GM')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.gm_army}}</td>
                                                    <td>General Maintenance (GM)</td>
                                                    <td>
                                                        <span class="GS">GS</span>,
                                                        <span class="AR">AR</span>,
                                                        <span class="MK">MK</span>,
                                                        <span class="MC">MC</span>,
                                                        <span class="EL">EI</span>,
                                                        <span class="AS">AS</span>, and
                                                        <span class="VE">VE</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.mm_army" class="ng-scope">
                                                        <input #mm_armyCheckbox type="checkbox" id="mm_armyCheckbox"
                                                            [checked]="mm_army" (change)="addRemoveFavComposite('mm_army', mm_armyCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_ARMY_MM')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.mm_army}}</td>
                                                    <td>Mechanical Maintenance (MM)</td>
                                                    <td>
                                                        <span class="GS">GS</span>,
                                                        <span class="AR">AR</span>,
                                                        <span class="MK">MK</span>,
                                                        <span class="MC">MC</span>,
                                                        <span class="EL">EI</span>,
                                                        <span class="AS">AS</span>, and
                                                        <span class="VE">VE</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.of_army" class="ng-scope">
                                                        <input #of_armyCheckbox type="checkbox" id="of_armyCheckbox"
                                                            [checked]="of_army" (change)="addRemoveFavComposite('of_army', of_armyCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_ARMY_OF')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.of_army}}</td>
                                                    <td>Operations / Food (OF)</td>
                                                    <td>
                                                        <span class="GS">GS</span>,
                                                        <span class="AR">AR</span>,
                                                        <span class="MK">MK</span>,
                                                        <span class="MC">MC</span>,
                                                        <span class="EL">EI</span>,
                                                        <span class="AS">AS</span>, and
                                                        <span class="VE">VE</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.sc_army" class="ng-scope">
                                                        <input #sc_armyCheckbox type="checkbox" id="sc_armyCheckbox"
                                                            [checked]="sc_army" (change)="addRemoveFavComposite('sc_army', sc_armyCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_ARMY_SC')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.sc_army}}</td>
                                                    <td>Surveillance / Communications (SC)</td>
                                                    <td>
                                                        <span class="GS">GS</span>,
                                                        <span class="AR">AR</span>,
                                                        <span class="MK">MK</span>,
                                                        <span class="MC">MC</span>,
                                                        <span class="EL">EI</span>,
                                                        <span class="AS">AS</span>, and
                                                        <span class="VE">VE</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.st_army" class="ng-scope">
                                                        <input #st_armyCheckbox type="checkbox" id="st_armyCheckbox"
                                                            [checked]="st_army" (change)="addRemoveFavComposite('st_army', st_armyCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_ARMY_ST')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.st_army}}</td>
                                                    <td>Skilled Technical (ST)</td>
                                                    <td>
                                                        <span class="GS">GS</span>,
                                                        <span class="AR">AR</span>,
                                                        <span class="MK">MK</span>,
                                                        <span class="MC">MC</span>,
                                                        <span class="EL">EI</span>,
                                                        <span class="AS">AS</span>, and
                                                        <span class="VE">VE</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="comp-scores-fav-prompt">
                                            <ul>
                                                <li>Select to display in your portfolio</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel #panel3>
                            <mat-expansion-panel-header> MARINE CORPS </mat-expansion-panel-header>
                            <div class="ac-text-wrap">
                                <div class="row">
                                    <div class="small-12 column">
                                        <p>For each composite, the listed subtests are all equally important.</p>
                                        <table class="table table-condensed branches-table">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2" *ngIf="haveAsvabTestScores()" class="ng-scope">Your
                                                        Scores</td>
                                                    <td>COMPOSITE (code)</td>
                                                    <td>TESTS</td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.mm_mc" class="ng-scope">
                                                        <input #mm_mcCheckbox type="checkbox" id="mm_mcCheckbox"
                                                            [checked]="mm_mc" (change)="addRemoveFavComposite('mm_mc', mm_mcCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_MARINE_MM')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.mm_mc}}</td>
                                                    <td>Mechanical Maintenance (MM)</td>
                                                    <td>
                                                        <span class="AR">AR</span>,
                                                        <span class="EL">EI</span>,
                                                        <span class="MC">MC</span>, and
                                                        <span class="AS">AS</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.gt_mc" class="ng-scope">
                                                        <input #gt_mcCheckbox type="checkbox" id="gt_mcCheckbox"
                                                            [checked]="gt_mc" (change)="addRemoveFavComposite('gt_mc', gt_mcCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_MARINE_GT')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.gt_mc}}</td>
                                                    <td>General Technical (GT)</td>
                                                    <td>
                                                        <span class="VE">VE</span>,
                                                        <span class="AR">AR</span>, and
                                                        <span class="MC">MC</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.el_mc" class="ng-scope">
                                                        <input #el_mcCheckbox type="checkbox" id="el_mcCheckbox"
                                                            [checked]="el_mc" (change)="addRemoveFavComposite('el_mc', el_mcCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_MARINE_EL')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.el_mc}}</td>
                                                    <td>Electronics Repair (EL)</td>
                                                    <td>
                                                        <span class="AR">AR</span>,
                                                        <span class="MK">MK</span>,
                                                        <span class="EL">EI</span>,and
                                                        <span class="GS">GS</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.cl_mc" class="ng-scope">
                                                        <input #cl_mcCheckbox type="checkbox" id="cl_mcCheckbox"
                                                            [checked]="cl_mc" (change)="addRemoveFavComposite('cl_mc', cl_mcCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_MARINE_CL')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.cl_mc}}</td>
                                                    <td>Clerical (CL)</td>
                                                    <td>
                                                        <span class="VE">VE</span> and
                                                        <span class="MK">MK</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="comp-scores-fav-prompt">
                                            <ul>
                                                <li>Select to display in your portfolio</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel #panel4>
                            <mat-expansion-panel-header> NAVY </mat-expansion-panel-header>
                            <div class="ac-text-wrap">
                                <div class="row">
                                    <div class="small-12 column">
                                        <p>For each composite, the listed subtests are all equally important.</p>
                                        <table class="table table-condensed branches-table">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2" *ngIf="haveAsvabTestScores()" class="ng-scope">Your
                                                        Scores</td>
                                                    <td>COMPOSITE (code)</td>
                                                    <td>TESTS</td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.gt_navy" class="ng-scope">
                                                        <input #gt_navyCheckbox type="checkbox" id="gt_navyCheckbox"
                                                            [checked]="gt_navy" (change)="addRemoveFavComposite('gt_navy', gt_navyCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_NAVY_GT')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.gt_navy}}</td>
                                                    <td>General Technical (GT)</td>
                                                    <td>
                                                        <span class="VE">VE</span> and
                                                        <span class="AR">AR</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.el_navy" class="ng-scope">
                                                        <input #el_navyCheckbox type="checkbox" id="el_navyCheckbox"
                                                            [checked]="el_navy" (change)="addRemoveFavComposite('el_navy', el_navyCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_NAVY_EL')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.el_navy}}</td>
                                                    <td>Electronics (EL)</td>
                                                    <td>
                                                        <span class="AR">AR</span>,
                                                        <span class="MK">MK</span>,
                                                        <span class="EL">EI</span>, and
                                                        <span class="GS">GS</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.bee_navy" class="ng-scope">
                                                        <input #bee_navyCheckbox type="checkbox" id="bee_navyCheckbox"
                                                            [checked]="bee_navy" (change)="addRemoveFavComposite('bee_navy', bee_navyCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_NAVY_BEE')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.bee_navy}}</td>
                                                    <td>Basic Electricity &amp; Electronics (BEE)</td>
                                                    <td><span class="AR">AR</span>,
                                                        <span class="MK">MK</span>, and
                                                        <span class="GS">GS</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.eng_navy" class="ng-scope">
                                                        <input #eng_navyCheckbox type="checkbox" id="eng_navyCheckbox"
                                                            [checked]="eng_navy" (change)="addRemoveFavComposite('eng_navy', eng_navyCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_NAVY_ENG')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.eng_navy}}</td>
                                                    <td>Engineering (ENG)</td>
                                                    <td>
                                                        <span class="MK">MK</span> and
                                                        <span class="AS">AS</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.mec_navy" class="ng-scope">
                                                        <input #mec_navyCheckbox type="checkbox" id="mec_navyCheckbox"
                                                            [checked]="mec_navy" (change)="addRemoveFavComposite('mec_navy', mec_navyCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_NAVY_MEC')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.mec_navy}}</td>
                                                    <td>Mechanical (MEC)</td>
                                                    <td>
                                                        <span class="AR">AR</span>,
                                                        <span class="MC">MC</span>, and
                                                        <span class="AS">AS</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="ng-scope">
                                                        <input *ngIf="scoreSummaryList?.mec2_navy" #mec2_navyCheckbox type="checkbox" id="mec2_navyCheckbox"
                                                            [checked]="mec2_navy" (change)="addRemoveFavComposite('mec2_navy', mec2_navyCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_NAVY_MEC2')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" /></td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.mec2_navy}}</td>
                                                    <td class="ng-binding ng-scope">Mechanical 2 (MEC2)</td>
                                                    <td>
                                                        <span class="AR">AR</span>, and
                                                        <span class="MC">MC</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.nuc_navy" class="ng-scope">
                                                        <input #nuc_navyCheckbox type="checkbox" id="nuc_navyCheckbox"
                                                            [checked]="nuc_navy" (change)="addRemoveFavComposite('nuc_navy', nuc_navyCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_NAVY_NUC')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.nuc_navy}}</td>
                                                    <td>Nuclear Field (NUC)</td>
                                                    <td>
                                                        <span class="VE">VE</span>,
                                                        <span class="AR">AR</span>,
                                                        <span class="MK">MK</span>, and
                                                        <span class="MC">MC</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="ng-scope">
                                                        <input *ngIf="scoreSummaryList?.ops_navy" #ops_navyCheckbox type="checkbox" id="ops_navyCheckbox"
                                                            [checked]="ops_navy" (change)="addRemoveFavComposite('ops_navy', ops_navyCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_NAVY_OP')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" /></td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.ops_navy}}</td>
                                                    <td>Operations (OPS)</td>
                                                    <td>
                                                        <span class="VE">VE</span>,
                                                        <span class="AR">AR</span>, and
                                                        <span class="MK">MK</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.hm_navy" class="ng-scope">
                                                        <input #hm_navyCheckbox type="checkbox" id="hm_navyCheckbox"
                                                            [checked]="hm_navy" (change)="addRemoveFavComposite('hm_navy', hm_navyCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_NAVY_HM')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.hm_navy}}</td>
                                                    <td>Hospitalman (HM)</td>
                                                    <td>
                                                        <span class="VE">VE</span>,
                                                        <span class="MK">MK</span>, and
                                                        <span class="GS">GS</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.adm_navy" class="ng-scope">
                                                        <input #adm_navyCheckbox type="checkbox" id="adm_navyCheckbox"
                                                            [checked]="adm_navy" (change)="addRemoveFavComposite('adm_navy', adm_navyCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_NAVY_ADM')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.adm_navy}}</td>
                                                    <td>Administration (ADM)</td>
                                                    <td>
                                                        <span class="VE">VE</span> and
                                                        <span class="MK">MK</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="comp-scores-fav-prompt">
                                            <ul>
                                                <li>Select to display in your portfolio</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel #panel5>
                            <mat-expansion-panel-header> AIR FORCE </mat-expansion-panel-header>
                            <div class="ac-text-wrap">
                                <div class="row">
                                    <div class="small-12 column">
                                        <p>For each composite, the listed subtests are all equally important.</p>
                                        <table class="table table-condensed branches-table">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2" *ngIf="haveAsvabTestScores()" class="ng-scope">Your
                                                        Scores</td><!-- end ngIf: haveAsvabTestScores() -->
                                                    <td>COMPOSITE (code)</td>
                                                    <td>TESTS</td>
                                                </tr>
                                                <tr>
                                                    <!-- ngIf: scoreSummaryList?.m_af -->
                                                    <td *ngIf="scoreSummaryList?.m_af" class="ng-scope">
                                                        <input #m_afCheckbox type="checkbox" id="m_afCheckbox"
                                                            [checked]="m_af" (change)="addRemoveFavComposite('m_af', m_afCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_AIR_FORCE_M')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.m_af}}</td>
                                                    <td>Mechanical (M)</td>
                                                    <td>
                                                        <span class="AR">AR</span>,
                                                        <span class="VE">VE</span>,
                                                        <span class="MC">MC</span>, and
                                                        <span class="AS">AS</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.a_af" class="ng-scope">
                                                        <input #a_afCheckbox type="checkbox" id="a_afCheckbox"
                                                            [checked]="a_af" (change)="addRemoveFavComposite('a_af', a_afCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_AIR_FORCE_A')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.a_af}}</td>
                                                    <td>Administrative (A)</td>
                                                    <td>
                                                        <span class="VE">VE</span> and
                                                        <span class="MK">MK</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.g_af" class="ng-scope">
                                                        <input #g_afCheckbox type="checkbox" id="g_afCheckbox"
                                                            [checked]="g_af" (change)="addRemoveFavComposite('g_af', g_afCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_AIR_FORCE_G')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.g_af}}</td>
                                                    <td>General (G)</td>
                                                    <td>
                                                        <span class="VE">VE</span> and
                                                        <span class="AR">AR</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.e_af" class="ng-scope">
                                                        <input #e_afCheckbox type="checkbox" id="e_afCheckbox"
                                                            [checked]="e_af" (change)="addRemoveFavComposite('e_af', e_afCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_AIR_FORCE_E')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.e_af}}</td>
                                                    <td>Electronic (E)</td>
                                                    <td>
                                                        <span class="AR">AR</span>,
                                                        <span class="MK">MK</span>,
                                                        <span class="EL">EI</span> and
                                                        <span class="GS">GS</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="comp-scores-fav-prompt">
                                            <ul>
                                                <li>Select to display in your portfolio</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel #panel6>
                            <mat-expansion-panel-header> COAST GUARD </mat-expansion-panel-header>
                            <div class="ac-text-wrap">
                                <div class="row">
                                    <div class="small-12 column">
                                        <p>For each composite, the listed subtests are all equally important.</p>
                                        <table class="table table-condensed branches-table">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2" *ngIf="haveAsvabTestScores()" class="ng-scope">Your
                                                        Scores</td>
                                                    <td>COMPOSITE (code)</td>
                                                    <td>TESTS</td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.el_navy" class="ng-scope">
                                                        <input #el_cgCheckbox type="checkbox" id="el_cgCheckbox"
                                                            [checked]="el_cg" (change)="addRemoveFavComposite('el_cg', el_cgCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_COAST_GUARD_EL')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.el_cg}}</td>
                                                    <td>Electronics (EL)</td>
                                                    <td>
                                                        <span class="AR">AR</span>,
                                                        <span class="MK">MK</span>,
                                                        <span class="EL">EI</span>, and
                                                        <span class="GS">GS</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.mec_navy" class="ng-scope">
                                                        <input #mr_cgCheckbox type="checkbox" id="mr_cgCheckbox"
                                                            [checked]="mr_cg" (change)="addRemoveFavComposite('mr_cg', mr_cgCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_COAST_GUARD_MR')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.mr_cg}}</td>
                                                    <td>Mechanical (MR)</td>
                                                    <td>
                                                        <span class="AR">AR</span>,
                                                        <span class="MC">MC</span>, and
                                                        <span class="AS">AS</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.gt_navy" class="ng-scope">
                                                        <input #gt_cgCheckbox type="checkbox" id="gt_cgCheckbox"
                                                            [checked]="gt_cg" (change)="addRemoveFavComposite('gt_cg', gt_cgCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_COAST_GUARD_GT')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.gt_cg}}</td>
                                                    <td>General Technical (GT)</td>
                                                    <td>
                                                        <span class="VE">VE</span> and
                                                        <span class="AR">AR</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td *ngIf="scoreSummaryList?.adm_navy" class="ng-scope">
                                                        <input #adm_navyCheckbox type="checkbox" id="adm_navyCheckbox"
                                                            [checked]="adm_navy" (change)="addRemoveFavComposite('cl_cg', adm_navyCheckbox.checked); ga('#CITM_ADDEDSCORETOPORTFOLIO_COAST_GUARD_CL')"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty" />
                                                    </td>
                                                    <td class="ng-binding ng-scope">{{scoreSummaryList?.cl_cg}}</td>
                                                    <td>Clerical (CL)</td>
                                                    <td>
                                                        <span class="VE">VE</span> and
                                                        <span class="MK">MK</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="comp-scores-fav-prompt">
                                            <ul>
                                                <li>Select to display in your portfolio</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <section class="small-12 contact-bar"> <a routerLink="/contact-us">Contact a recruiter</a> </section>
                </div>
            </div>
            <div class="medium-3 columns">
                <table class="table table-condensed abbreviations">
                    <thead>
                        <tr>
                            <th colspan="2">Test Abbreviations:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span id="AR">AR</span></td>
                            <td>Arithmetic Reasoning</td>
                        </tr>
                        <tr>
                            <td><span id="AS">AS</span></td>
                            <td>Auto &amp; Shop Information</td>
                        </tr>
                        <tr>
                            <td><span id="EL">EI</span></td>
                            <td>Electronics Information</td>
                        </tr>
                        <tr>
                            <td><span id="GS">GS</span></td>
                            <td>General Science</td>
                        </tr>
                        <tr>
                            <td><span id="MC">MC</span></td>
                            <td>Mechanical Comprehension</td>
                        </tr>
                        <tr>
                            <td><span id="MK">MK</span></td>
                            <td>Mathematics Comprehension</td>
                        </tr>
                        <tr>
                            <td><span id="PC">PC</span></td>
                            <td>Paragraph Comprehension</td>
                        </tr>
                        <tr>
                            <td><span id="VE">WK</span></td>
                            <td>Word Knowledge</td>
                        </tr>
                        <tr>
                            <td><span id="VE">VE</span></td>
                            <td>Paragraph Comprehension + Word Knowledge</td>
                        </tr>
                        <tr>
                            <td class="abbr-links" colspan="2"><a  (click)="openNewTab(cepBaseUrl + 'my-asvab-summary-results')" target="_blank">Your ASVAB Results</a><br><a (click)="setMessage('colors')">What
                                    do these colors mean?</a></td>
                        </tr>
                    </tbody>
                </table>
                <div class="tutorial">
                    <h4><strong>Understanding your ASVAB results</strong></h4>
                    <a><span (click)="openPlayer('HgAoOBu6yPE');"><span class="play-icon"><span class="image-wrapper"><img style="position: relative;" src="assets/images/asvab-tutorial-video.jpg"><span id="play-icon"></span></span></span></span></a> <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>