.composite-scores {
	.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
		padding: 5px;
	}
	h2 {
		color: #2f2a6a;
	    font-size: 1.25rem;
	    margin-bottom: 1em;
	    font-weight: 700;
	    font-family: "Open Sans",sans-serif;
	}
	h4 {
		color: #000;
		font-size: 13px;
		text-transform: uppercase;
		font-family: "Open Sans",sans-serif;
	}
	table.abbreviations {
		border: 1px solid #ababab;
		border-collapse: separate;
		border-spacing: 2px;

		> tbody, > thead {
			border: none;
			background-color: transparent;
			font-size: 12px;
		}
		tbody tr:nth-child(even) {
			background-color: transparent
		}
		tbody > tr > td {
			vertical-align: middle;
			padding-top: 1px;
			padding-bottom: 1px;
			line-height: 1;
		}
		.abbr-links,tbody > tr > td.abbr-links {
			line-height: 2;
		}
		#AR, #MK {
			color: #fff;
			background-color: #911a07;
			text-align: center;
			width: 45px;
			height: 30px;
			display: flex;
			display: -webkit-flex;
			display: -ms-flexbox;
			align-items: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center
		}
		#EL,#GS,#MC {
			color: #fff;
			background-color: #2f2a6a;
			text-align: center;
			width: 45px;
			height: 30px;
			display: flex;
			display: -webkit-flex;
			display: -ms-flexbox;
			align-items: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center
		}
		#AO,#AS {
			color: #fff;
			background-color: #333;
			text-align: center;
			width: 45px;
			height: 30px;
			display: flex;
			display: -webkit-flex;
			display: -ms-flexbox;
			align-items: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center
		}
		#PC,#VE, #WK {
			color: #fff;
			background-color: #147175;
			text-align: center;
			width: 45px;
			height: 30px;
			display: flex;
			display: -webkit-flex;
			display: -ms-flexbox;
			align-items: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center
		}
	}
	.table>tbody>tr>td {
		border-top: none
	}
	table.branches-table {
		font-size: 12px;
		font-weight: 700;
		margin-bottom: 0
	}
	table {
		margin-bottom: 5px
	}
	.AR,.MK {
		color: #911a07
	}

	.EL,.GS,.MC {
		color: #2f2a6a
	}
	
	input[type='checkbox'] {
		margin: 0;
	}

	#composite-scores .PC,.VE,.WK {
		color: #147175
	}
	.AO {
		color: #333
	}
	
	.comp-scores-fav-prompt {
		background-color: #E6E5ED;
		color: #2f2a6a;
		font-weight: bold;
    	font-size: 12px;
		
		ul {
			margin: 12px 0;
			padding: 0;
			padding-left: 25px;
			list-style: none;
		}
		
		li {
			list-style-type: none;
			padding-left: 8px;
			line-height: 10px !important;
			padding-bottom: 6px;
			
			&:before {
				content: "";
				border-color: #2f2a6a transparent;
				border-style: solid;
				border-width: 0 8px 10px 8px;
				display: block;
				height: 0;
				width: 0;
				left: -28px;
				top: 9px;
				position: relative;
			}
		}
	}
}

.image-wrapper {
	position: relative;

	#play-icon {
		content: url(/assets/images/play.png);
		position: absolute;
		width: 50%;
		left: 25%;
		border: none;
		margin: 0;
		padding: 0;
	}
}