<div class="modal-options">
    <div class="custom-modal-sm">
        <div class="custom-modal-content score-modal-wrap">
		<div class="custom-modal-body">
            <div class="modal-header">
                <button type="button" class="close-button" (click)="close()"><span aria-hidden="true">&times;</span></button>

                <div *ngIf="scoreObj.isLoggedIn;then loggedin else loggedout"></div>
                <ng-template #loggedout>
                    <div>
                        <h3 class="modal-title">Create Account</h3>
                    </div>
                </ng-template>
                <ng-template #loggedin>
                    <div>
                        <h3 class="modal-title">Relevant Service Composite Score(s)</h3>
                    </div>
                </ng-template>
            </div>
            <div class="modal-body">
                <div class="row">
                    <br />

                    <!-- Not Logged in - display create account-->
                    <div *ngIf="!scoreObj.isLoggedIn" class="small-12 columns">
                        <p>
                            Create an account to access exclusive website features.<br />
                            <a (click)="openLoginDialog()"><strong>Create an Account</strong></a>
                        </p>
                        <p>
                            Did you participate in ASVAB CEP?<br />
                            Log in using the same account!<br />
                            <a href="https://www.asvabprogram.com/asvab-cep-at-your-school"><strong>Bring ASVAB CEP to
                                    your
                                    school</strong></a>
                        </p>
                    </div>
                    <!-- Air Force-->
                    <!-- Logged in - display service composite info-->
                    <div *ngIf="scoreObj.isLoggedIn && scoreObj.serviceId == 'F'">
                        <div class="small-12 columns">
                            <h3 class="branch"><img src="assets/images/{{scoreObj.imageType}}.png">
                                {{scoreObj.serviceName}}</h3>

                            <div *ngFor="let s of serviceOffering">
                                <div *ngIf="s.compScoreOne">
                                    <div class="row">
                                        <div class="small-12 columns">
                                            <p>The {{scoreObj.serviceName}} uses the {{afCompositeScores(s.compScoreOne)}} composite for
                                                jobs
                                                related to {{s.mocTitle}}. For this job, the {{scoreObj.serviceName}}
                                                requires a minimum {{afCompositeScores(s.compScoreOne)}} composite score of: <strong>{{s.requireScoreOne}}</strong>.</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div [ngClass]="compositeScores ? 'small-10 columns' : 'small-12 columns'">
                                                <span *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">Your
                                                    {{scoreObj.serviceName}} {{afCompositeScores(s.compScoreOne)}} composite
                                                    score is:
                                                    <strong>{{afUserCompositeScores(s.compScoreOne)}}</strong>
                                                </span>
                                                <!-- <span *ngIf="!compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
											<a (click)="retrieveScore()">Retrieve Score</a>
										</span> -->
                                                <span *ngIf="!compositeScores && (!userSystem || userSystem.results != 'CEP-CITM')">
                                                    Our records show you did not participate in ASVAB CEP. Learn more
                                                    about
                                                    Service composite scores, here. <a (click)="redirect('composite-scores')">here</a>.
                                                </span>
                                        </div>
                                        <div class="small-2 columns" *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                            <input #faCheckbox type="checkbox" id="faCheckbox" (click)="addRemoveFavComposite(afCompositePropertyName(s.compScoreOne), faCheckbox.checked)" [checked]="afCompositeCheckBox(s.compScoreOne)">
                                        </div>
                                    </div>
                                    <hr style="margin-top: 0; margin-bottom: 0">
                                    <div class="see-my-scores-fav-prompt" *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                        <ul>
                                            <li>Select to display in your portfolio</li>
                                        </ul>
                                    </div>
                                </div>

                                <div *ngIf="s.compScoreTwo">
                                    <div class="row">
                                        <div class="small-12 columns">
                                            <p>The {{scoreObj.serviceName}} uses the {{afCompositeScores(s.compScoreTwo)}} composite for
                                                jobs
                                                related to {{s.mocTitle}}. For this job, the {{scoreObj.serviceName}}
                                                requires a minimum {{afCompositeScores(s.compScoreTwo)}} composite score of: <strong>{{s.requireScoreTwo}}</strong>.</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div [ngClass]="compositeScores ? 'small-10 columns' : 'small-12 columns'">
                                                <span *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">Your
                                                    {{scoreObj.serviceName}} {{afCompositeScores(s.compScoreTwo)}} composite
                                                    score is:
                                                    <strong>{{afUserCompositeScores(s.compScoreTwo)}}</strong>
                                                </span>

                                                <span *ngIf="!compositeScores && (!userSystem || userSystem.results != 'CEP-CITM')">
                                                    Our records show you did not participate in ASVAB CEP. Learn more
                                                    about
                                                    Service composite scores, <a (click)="redirect('composite-scores')">here</a>.
                                                </span>
                                        </div>
                                        <div class="small-2 columns" *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                            <input #fbCheckbox type="checkbox" id="fbCheckbox" (click)="addRemoveFavComposite(afCompositePropertyName(s.compScoreTwo), fbCheckbox.checked)" [checked]="afCompositeCheckBox(s.compScoreTwo)">
                                        </div>
                                    </div>
                                    <hr style="margin-top: 0; margin-bottom: 0">
                                    <div class="see-my-scores-fav-prompt" *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                        <ul>
                                            <li>Select to display in your portfolio</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <p>
                                ASVAB requirements are subject to change without notice.<br />
                                For the most accurate, up-to-date requirements, <a (click)="redirect('options-contact-recruiter')"
                                    (click)="modalOptions.close()">Contact
                                    a Recruiter</a>.
                            </p>
                            <p *ngIf="compositeScores">
                                <a (click)="redirect('composite-scores')">How were these scores calculated?</a>
                            </p>
                        </div>
                    </div>

                    <!-- Navy -->
                    <!-- Logged in - display service composite info-->
                    <div *ngIf="scoreObj.isLoggedIn && scoreObj.serviceId == 'N'">
                        <div class="small-12 columns">
                            <h3 class="branch"><img src="assets/images/{{scoreObj.imageType}}.png">
                                {{scoreObj.serviceName}}</h3>

                            <div *ngFor="let s of serviceOffering">
                                <div *ngIf="s.navyCompScoreOne">
                                    <div class="row">
                                        <div class="small-12 columns">

                                            <p>The {{scoreObj.serviceName}} uses the
                                                {{navyCompositeScores(s.navyCompScoreOne)}} composite for jobs related
                                                to
                                                {{s.mocTitle}}. For this job, the {{scoreObj.serviceName}} requires a
                                                minimum {{navyCompositeScores(s.navyCompScoreOne)}} composite score of:
                                                <strong>{{s.navyReqScoreOne}}</strong>.</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div [ngClass]="compositeScores ? 'small-10 columns' : 'small-12 columns'">
                                                <span *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">Your
                                                    {{scoreObj.serviceName}}
                                                    {{navyCompositeScores(s.navyCompScoreOne)}} composite score is:
                                                    <strong>{{navyUserCompositeScores(s.navyCompScoreOne)}}</strong>
                                                </span>
                                                <span *ngIf="!compositeScores && userSystem.results != 'CEP-CITM'">
                                                    Our records show you did not participate in ASVAB CEP. Learn more
                                                    about
                                                    Service composite scores, <a (click)="redirect('composite-scores')">here</a>.
                                                </span>
                                        </div>
                                        <div class="small-2 columns" *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                            <input #naCheckBox type="checkbox" id="naCheckbox" [checked]="navyCompositeCheckBox(s.navyCompScoreOne)" (click)="addRemoveFavComposite(navyCompositePropertyName(s.navyCompScoreOne), naCheckBox.checked)">
                                        </div>
                                    </div>
                                    <hr style="margin-top: 0; margin-bottom: 0">
                                    <div class="see-my-scores-fav-prompt" *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                        <ul>
                                            <li>Select to display in your portfolio</li>
                                        </ul>
                                    </div>
                                </div>

                                <div *ngIf="s.navyCompScoreTwo">
                                    <div class="row">
                                        <div class="small-12 columns">
                                            <p>The {{scoreObj.serviceName}} uses the
                                                {{navyCompositeScores(s.navyCompScoreTwo)}} composite for jobs related
                                                to
                                                {{s.mocTitle}}. For this job, the {{scoreObj.serviceName}} requires a
                                                minimum {{navyCompositeScores(s.navyCompScoreTwo)}} composite score of:
                                                <strong>{{s.navyReqScoreTwo}}</strong>.</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div [ngClass]="compositeScores ? 'small-10 columns' : 'small-12 columns'">
                                                <span *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">Your
                                                    {{scoreObj.serviceName}}
                                                    {{navyCompositeScores(s.navyCompScoreTwo)}} composite score is:
                                                    <strong>{{navyUserCompositeScores(s.navyCompScoreTwo)}}</strong>
                                                </span>
                                                <span *ngIf="!compositeScores && (!userSystem || userSystem.results != 'CEP-CITM')">
                                                    Our records show you did not participate in ASVAB CEP. Learn more
                                                    about
                                                    Service composite scores, <a (click)="redirect('composite-scores')">here</a>.
                                                </span>
                                        </div>
                                        <div class="small-2 columns" *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                            <input #nbCheckBox type="checkbox" id="nbCheckbox" [checked]="navyCompositeCheckBox(s.navyCompScoreTwo)" (click)="addRemoveFavComposite(navyCompositePropertyName(s.navyCompScoreTwo), nbCheckBox.checked)">
                                        </div>
                                    </div>
                                    <hr style="margin-top: 0; margin-bottom: 0">
                                    <div class="see-my-scores-fav-prompt" *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                        <ul>
                                            <li>Select to display in your portfolio</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <p>
                                ASVAB requirements are subject to change without notice.<br />
                                For the most accurate, up-to-date requirements, <a (click)="redirect('options-contact-recruiter')"
                                    (click)="modalOptions.close()">Contact
                                    a Recruiter</a>.
                            </p>
                            <p *ngIf="compositeScores">
                                <a (click)="redirect('composite-scores')">How were these scores calculated?</a>
                            </p>
                        </div>
                    </div>

                    <!-- Army -->
                    <div *ngIf="scoreObj.isLoggedIn && scoreObj.serviceId == 'A'">
                        <div class="small-12 columns">
                            <h3 class="branch"><img src="assets/images/{{scoreObj.imageType}}.png">
                                {{scoreObj.serviceName}}</h3>

                            <div *ngFor="let s of armyOffering">
                                <div class="row">
                                    <div class="small-12 columns">
                                        <p>The {{scoreObj.serviceName}} uses the <span>{{armyCompositeScores(s.compositeCd)}}
                                                composite for jobs related to {{s.mocTitle}}.</span>
                                            For this job, the {{scoreObj.serviceName}} requires a minimum
                                            <span>{{armyCompositeScores(s.compositeCd)}}
                                                composite score of: <strong>{{s.score}}</strong><span>{{s.opId
                                                    == 1 ? ' and ' : s.opId == 2 ? ' or ' : ''}}</span><span>.</span></span></p>
                                    </div>
                                </div>
                                   <div class="row">
                                        <div [ngClass]="compositeScores ? 'small-10 columns' : 'small-12 columns'">
                                                <span *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">Your
                                                    {{scoreObj.serviceName}}
                                                    {{armyCompositeScores(s.compositeCd)}} composite score is:
                                                    <strong>{{armyUserCompositeScores(s.compositeCd)}}</strong>
                                                </span>
                                                <span *ngIf="!compositeScores && (!userSystem || userSystem.results != 'CEP-CITM')">
                                                    Our records show you did not participate in ASVAB CEP. Learn more
                                                    about
                                                    Service composite scores, <a (click)="redirect('composite-scores')">here</a>.
                                                </span>
                                        </div>
                                        <div class="small-2 columns" *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                            <input #aaCheckBox type="checkbox" id="aaCheckbox" [checked]="armyCompositeCheckBox(s.compositeCd)" (click)="addRemoveFavComposite(armyCompositePropertyName(s.compositeCd), aaCheckBox.checked)">
                                        </div>
                                    </div>
                                    <hr style="margin-top: 0; margin-bottom: 0">
                                    <div class="see-my-scores-fav-prompt" *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                        <ul>
                                            <li>Select to display in your portfolio</li>
                                        </ul>
                                    </div>
                                </div>
								<p>
									ASVAB requirements are subject to change without notice.<br />
									For the most accurate, up-to-date requirements, <a (click)="redirect('options-contact-recruiter')"
										(click)="modalOptions.close()">Contact
										a Recruiter</a>.
								</p>
								<p *ngIf="compositeScores" style="margin: 0;">
									<a (click)="redirect('composite-scores')">How were these scores calculated?</a>
								</p>
							</div>
                        </div>
                    </div>
			<div class="small-12 columns"><hr></div>
            <div class="close-button-div row">
                <div class="small-12 columns">
				<button class="button" type="button" (click)="close()">close</button>
				</div>
            </div>
        </div>
	   	</div>
    </div>

</div>