<app-spinner></app-spinner>
<div class="row search-bar">
    <div class="medium-6 columns">
        <div class="show-for-medium">
            <a routerLink="/advanced-search">
                <span>Back to Search Results</span>
            </a>
        </div>
        <div class="hide-for-medium">
            <a  routerLink="/advanced-search">
                <i class="icon-left"></i>
                 <span>Search Results</span>
            </a>
            <span class="actions show-for-small-only">
                <i *ngIf="careerPathway && careerPathway.length > 0" class="icon-pathways"
                    routerLink="/career-pathway/{{mcId}}"></i>
                <i (click)="onNotesClick()" class="icon-notes"></i>
                <span *ngIf="searchListItem">
                    <a (click)="onFavoriteClick()">
						<i *ngIf="!searchListItem.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" title="Save your favorite occupations to your portfolio." aria-labelledby="svg-inline--fa-title-PhjJggyI89gG" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><title id="svg-inline--fa-title-PhjJggyI89gG">Save your favorite occupations to your portfolio.</title><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg></i>

						<i *ngIf="searchListItem.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg></i>

					</a>
				</span>
            </span>
        </div>
    </div>
        <div *ngIf="militaryCareer" class="show-for-medium share">
            <mat-card class="medium-6 columns share"><span>Share</span>
                <!-- <a (click)="onSocialShareClick('facebook')"><mat-icon class="fab fa-facebook-f"></mat-icon></a>
                <a (click)="onSocialShareClick('twitter')"><mat-icon class="fab fa-twitter"></mat-icon></a>
                <a (click)="onSocialShareClick('linkedin')"><mat-icon class="fab fa-linkedin-in"></mat-icon></a> -->
                <share-button class="sl-margin" button="facebook" [title]="militaryCareer.title  + ' | Careers in the Military'" 
                    [description]="militaryCareer.description" [image]="imageUrl" [url]="getShareUrl()" (click)="trackSocialShare('Facebook')"></share-button>
                <share-button class="sl-margin" button="twitter" [title]="militaryCareer.title  + ' | Careers in the Military'" 
                    [description]="getShortenDescription()" [image]="imageUrl" [url]="getShareUrl()" (click)="trackSocialShare('Twitter')"></share-button>
                <share-button class="sl-margin" button="linkedin" [title]="militaryCareer.title  + ' | Careers in the Military'" 
                    [description]="militaryCareer.description" [image]="imageUrl" [url]="getShareUrl()" (click)="trackSocialShare('LinkedIn')"></share-button>
                <share-button  class="sl-margin" button="email" [title]="getTitle()" [description]="getEmailDescription()" (click)="trackSocialShare('Email')"></share-button>
            </mat-card>
        </div>
    
        <div class="medium-12 columns show-for-medium"><hr class="show-for-medium"></div>

</div>

<mat-card class="row show-for-small-only">
    <div *ngIf="militaryCareer" class="medium-6 columns share"> Share<br>
        <!-- <a (click)="onSocialShareClick('facebook')"><mat-icon class="fab fa-facebook-f"></mat-icon></a>
        <a (click)="onSocialShareClick('twitter')"><mat-icon class="fab fa-twitter"></mat-icon></a>
        <a (click)="onSocialShareClick('linkedin')"><mat-icon class="fab fa-linkedin-in"></mat-icon></a> -->
        <share-button class="sl-margin" button="facebook" [title]="militaryCareer.title  + ' | Careers in the Military'" 
            [description]="militaryCareer.description" [image]="imageUrl" [url]="getShareUrl()" (click)="trackSocialShare('Facebook')"></share-button>
        <share-button class="sl-margin" button="twitter" [title]="militaryCareer.title  + ' | Careers in the Military'" 
            [description]="getShortenDescription()" [image]="imageUrl" [url]="getShareUrl()" (click)="trackSocialShare('Twitter')"></share-button>
        <share-button class="sl-margin" button="linkedin" [title]="militaryCareer.title  + ' | Careers in the Military'" 
            [description]="militaryCareer.description" [image]="imageUrl" [url]="getShareUrl()" (click)="trackSocialShare('LinkedIn')"></share-button>
        <share-button button="email" [title]="getTitle()" [description]="getEmailDescription()" (click)="trackSocialShare('Email')"></share-button>
    </div>
    <hr>
</mat-card>


<div class="career-detail specialty-detail">
    <mat-container *ngIf="militaryCareer">
    <div class="row">
        <div class="small-12">
            <mat-card>
            <h2>
                {{militaryCareer.title}}
                <span *ngIf="searchListItem">  <i *ngIf="searchListItem.isHotJob === 'T'" class="icon-hotjob" title="Positions related to this job are reported as critical fill."></i></span>

                <span class="actions actions-large show-for-medium">
                    <i  *ngIf="careerPathway && careerPathway.length > 0" class="icon-pathways" routerLink="/career-pathway/{{mcId}}" title="Sample career path shows how someone in this occupation might advance."></i>
                    <i (click)="onNotesClick()" class="icon-notes"  title="Make notes about careers while you explore. Find them in your portfolio."></i>
                    <span *ngIf="searchListItem"> 
                        <a (click)="onFavoriteClick()">
							<i *ngIf="!searchListItem.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" title="Save your favorite occupations to your portfolio." aria-labelledby="svg-inline--fa-title-PhjJggyI89gG" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><title id="svg-inline--fa-title-PhjJggyI89gG">Save your favorite occupations to your portfolio.</title><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg></i>
							
							<i *ngIf="searchListItem.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg></i>
														
						</a>
                    </span>
                </span>
            
            </h2>
            </mat-card>
            
        </div>
    </div>
</mat-container>

    <div class="row">
      <div class="row columns">
        <mat-container *ngIf="militaryCareer">
          <mat-card class="small-12 medium-6 large-6 columns">
            <p><strong>PURPOSE:</strong> {{ militaryCareer.statement }} </p>
            <p> {{ militaryCareer.description }} </p>
            <div class="row" *ngIf="!isLoggedIn()">
                <div class="small-12 columns">
                    <div class="lightblue-box"><b><a (click)="onCreateAccount()">Create an account</a></b> to unlock
                        exclusive career details and website features. For complete career exploration, <b><a
                                href="https://www.asvabprogram.com/asvab-cep-at-your-school">bring ASVAB CEP to your
                                school.</a></b></div>
                </div>
            </div>
            <div class="row" *ngIf="isLoggedIn()">
              <div class="small-12 medium-6 columns">
                <h4>Interest Codes: <a (click)="openDescription('interest-codes')" class="occufind-explain alt"></a></h4>
                <ul class="icodes">
                <div *ngIf="militaryCareer && mcIdLastTwoChar == '00'">
                    <li *ngIf="militaryCareer.interestOne == 1" class="code-r" (click)="interestCodeInfo('R')" style="cursor: pointer"><span>Realistic</span></li>
                    <li *ngIf="militaryCareer.interestOne == 2" class="code-i" (click)="interestCodeInfo('I')" style="cursor: pointer"><span>Investigative</span></li>
                    <li *ngIf="militaryCareer.interestOne == 3" class="code-a" (click)="interestCodeInfo('A')" style="cursor: pointer"><span>Artistic</span></li>
                    <li *ngIf="militaryCareer.interestOne == 4" class="code-s" (click)="interestCodeInfo('S')" style="cursor: pointer"><span>Social</span></li>
                    <li *ngIf="militaryCareer.interestOne == 5" class="code-e" (click)="interestCodeInfo('E')" style="cursor: pointer"><span>Enterprising</span></li>
                    <li *ngIf="militaryCareer.interestOne == 6" class="code-c" (click)="interestCodeInfo('C')" style="cursor: pointer"><span>Conventional</span></li>
                    
                    <li *ngIf="militaryCareer.interestTwo == 1" class="code-r" (click)="interestCodeInfo('R')" style="cursor: pointer"><span>Realistic</span></li>
                    <li *ngIf="militaryCareer.interestTwo == 2" class="code-i" (click)="interestCodeInfo('I')" style="cursor: pointer"><span>Investigative</span></li>
                    <li *ngIf="militaryCareer.interestTwo == 3" class="code-a" (click)="interestCodeInfo('A')" style="cursor: pointer"><span>Artistic</span></li>
                    <li *ngIf="militaryCareer.interestTwo == 4" class="code-s" (click)="interestCodeInfo('S')" style="cursor: pointer"><span>Social</span></li>
                    <li *ngIf="militaryCareer.interestTwo == 5" class="code-e" (click)="interestCodeInfo('E')" style="cursor: pointer"><span>Enterprising</span></li>
                    <li *ngIf="militaryCareer.interestTwo == 6" class="code-c" (click)="interestCodeInfo('C')" style="cursor: pointer"><span>Conventional</span></li>
                    
                    <li *ngIf="militaryCareer.interestThree == 1" class="code-r" (click)="interestCodeInfo('R')" style="cursor: pointer"><span>Realistic</span></li>
                    <li *ngIf="militaryCareer.interestThree == 2" class="code-i" (click)="interestCodeInfo('I')" style="cursor: pointer"><span>Investigative</span></li>
                    <li *ngIf="militaryCareer.interestThree == 3" class="code-a" (click)="interestCodeInfo('A')" style="cursor: pointer"><span>Artistic</span></li>
                    <li *ngIf="militaryCareer.interestThree == 4" class="code-s" (click)="interestCodeInfo('S')" style="cursor: pointer"><span>Social</span></li>
                    <li *ngIf="militaryCareer.interestThree == 5" class="code-e" (click)="interestCodeInfo('E')" style="cursor: pointer"><span>Enterprising</span></li>
                    <li *ngIf="militaryCareer.interestThree == 6" class="code-c" (click)="interestCodeInfo('C')" style="cursor: pointer"><span>Conventional</span></li>
                </div>
                <div *ngIf="parentMilitaryCareer && mcIdLastTwoChar != '00'">
                    <li *ngIf="parentMilitaryCareer.interestOne == 1" class="code-r" (click)="interestCodeInfo('R')" style="cursor: pointer"><span>Realistic</span></li>
                    <li *ngIf="parentMilitaryCareer.interestOne == 2" class="code-i" (click)="interestCodeInfo('I')" style="cursor: pointer"><span>Investigative</span></li>
                    <li *ngIf="parentMilitaryCareer.interestOne == 3" class="code-a" (click)="interestCodeInfo('A')" style="cursor: pointer"><span>Artistic</span></li>
                    <li *ngIf="parentMilitaryCareer.interestOne == 4" class="code-s" (click)="interestCodeInfo('S')" style="cursor: pointer"><span>Social</span></li>
                    <li *ngIf="parentMilitaryCareer.interestOne == 5" class="code-e" (click)="interestCodeInfo('E')" style="cursor: pointer"><span>Enterprising</span></li>
                    <li *ngIf="parentMilitaryCareer.interestOne == 6" class="code-c" (click)="interestCodeInfo('C')" style="cursor: pointer"><span>Conventional</span></li>
                    
                    <li *ngIf="parentMilitaryCareer.interestTwo == 1" class="code-r" (click)="interestCodeInfo('R')" style="cursor: pointer"><span>Realistic</span></li>
                    <li *ngIf="parentMilitaryCareer.interestTwo == 2" class="code-i" (click)="interestCodeInfo('I')" style="cursor: pointer"><span>Investigative</span></li>
                    <li *ngIf="parentMilitaryCareer.interestTwo == 3" class="code-a" (click)="interestCodeInfo('A')" style="cursor: pointer"><span>Artistic</span></li>
                    <li *ngIf="parentMilitaryCareer.interestTwo == 4" class="code-s" (click)="interestCodeInfo('S')" style="cursor: pointer"><span>Social</span></li>
                    <li *ngIf="parentMilitaryCareer.interestTwo == 5" class="code-e" (click)="interestCodeInfo('E')" style="cursor: pointer"><span>Enterprising</span></li>
                    <li *ngIf="parentMilitaryCareer.interestTwo == 6" class="code-c" (click)="interestCodeInfo('C')" style="cursor: pointer"><span>Conventional</span></li>
                    
                    <li *ngIf="parentMilitaryCareer.interestThree == 1" class="code-r" (click)="interestCodeInfo('R')" style="cursor: pointer"><span>Realistic</span></li>
                    <li *ngIf="parentMilitaryCareer.interestThree == 2" class="code-i" (click)="interestCodeInfo('I')" style="cursor: pointer"><span>Investigative</span></li>
                    <li *ngIf="parentMilitaryCareer.interestThree == 3" class="code-a" (click)="interestCodeInfo('A')" style="cursor: pointer"><span>Artistic</span></li>
                    <li *ngIf="parentMilitaryCareer.interestThree == 4" class="code-s" (click)="interestCodeInfo('S')" style="cursor: pointer"><span>Social</span></li>
                    <li *ngIf="parentMilitaryCareer.interestThree == 5" class="code-e" (click)="interestCodeInfo('E')" style="cursor: pointer"><span>Enterprising</span></li>
                    <li *ngIf="parentMilitaryCareer.interestThree == 6" class="code-c" (click)="interestCodeInfo('C')" style="cursor: pointer"><span>Conventional</span></li>
                </div>
                </ul>
            </div>
            <div class="small-12 medium-6 columns" *ngIf="skillRating">
                <h4>SKILL IMPORTANCE: <a (click)="openDescription('skill-importance')" class="occufind-explain alt"></a></h4>
                <p>
                <!-- <span class="starrr-label">Math:</span> <span class="ratebox" data-id="1" data-rating="{{skillRating.math}}"></span>
                <span class="starrr-label">Verbal:</span> <span class="ratebox" data-id="2" data-rating="{{skillRating.verbal}}"></span>
                <span class="starrr-label">Science / Technical:</span> <span class="ratebox" data-id="3" data-rating="{{skillRating.science}}"></span> -->
                <span class="starrr-label">Math:</span> <span class="container"><rating [(ngModel)]="skillRating.math" 
                                                                                        [max]="5" 
                                                                                        fullIcon="★"
                                                                                        emptyIcon="☆"
                                                                                        [readonly]="true"
                                                                                        [disabled]="false"
                                                                                        [required]="true"
                                                                                        [float]="true">
                                                                                </rating></span>
                <span class="starrr-label">Verbal:</span> <span class="container"><rating [(ngModel)]="skillRating.verbal" 
                                                                                        [max]="5" 
                                                                                        fullIcon="★"
                                                                                        emptyIcon="☆"
                                                                                        [readonly]="true"
                                                                                        [disabled]="false"
                                                                                        [required]="true"
                                                                                        [float]="true">
                                                                                  </rating></span>
                <span class="starrr-label">Science / Technical:</span> <span class="container"><rating [(ngModel)]="skillRating.science" 
                                                                                                [max]="5" 
                                                                                                fullIcon="★"
                                                                                                emptyIcon="☆"
                                                                                                [readonly]="true"
                                                                                                [disabled]="false"
                                                                                                [required]="true"
                                                                                                [float]="true">
                                                                                               </rating></span>
                </p>
            </div>
          </div>
              
            <div class="row">
                <div class="small-12 medium-12 columns">
                    <h4>HELPFUL ATTRIBUTES: </h4>
                    <ul mat-list>
                        <li *ngFor="let h of helpfulAttributes"> {{ h.helpfulAttribute }} </li>
                    </ul>
                </div>
            </div>
        </mat-card>

        <mat-card class="small-12 medium-6 large-6 columns">
            <p><strong>OTHER CAREER TITLES:</strong> {{ otherCareerTitles }}
                <span [hidden]="!otherCareerTitles || otherTitles.length <= 3">
                    <a [hidden]="!showMore" (click)="showMore = !showMore; setCareerTitles()">...Show More</a>
                    <a [hidden]="showMore" (click)="showMore = !showMore; setCareerTitles()">...Show Less</a>
                </span>
            </p>
                <p><strong>Career Cluster:</strong> <a
                        routerLink="/career-cluster-pathway/{{militaryCareer.careerClusterId}}">
                        {{ militaryCareer.careerClusterTitle }} </a>
                </p>
				<div *ngIf="showLinguistVideo">
					<iframe src="https://player.vimeo.com/video/147121512" width="399" height="230" frameborder="0"
						webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
				<div *ngIf="!showLinguistVideo">
					<p>
						<img [src]="militaryCareer.imageUrl ">
					</p>
				</div>
			<div class="row">
                <div class="small-6 columns">
                    <ul mat-list class="checked">
                        <li class="ul" [class.checked]="militaryCareer.enlisted == 'T'" [class.li.inactive]="militaryCareer.enlisted != 'T'">Enlisted</li>
                        <li class="ul" [class.checked]="militaryCareer.officer == 'T'" [class.li.inactive]="militaryCareer.officer != 'T'">Officer</li>
                    </ul>
                </div>
                <div class="small-6 columns">
                    <ul mat-list class="checked">
                        <li class="ul" [class.checked]="militaryCareer.activeDuty == 'T'" [class.li.inactive]="militaryCareer.activeDuty != 'T'">Active Duty</li>
                        <li class="ul" [class.checked]="militaryCareer.reserve == 'T'" [class.li.inactive]="militaryCareer.reserve != 'T'">Reserve</li>
                    </ul>
                </div>
            </div>
        </mat-card>
    </mat-container>
    </div>

        <mat-card class="small-12 columns">
            <mat-accordion id="career-detail" class="mat-expansion-panel-group" #firstAccordion="matAccordion">
                <mat-expansion-panel #panel1 (opened)="ga('#CITM_EXPANDED_WHAT_THEY_DO')">
                    <mat-expansion-panel-header>What They Do </mat-expansion-panel-header>
                    <div class="row">
                        <div class="small-12 columns job-accordian">
                            <ul mat-list class="find-a-career-list">
                                <li *ngFor="let w of whatTheyDo"> {{ w.whatTheyDo }} </li>
                            </ul>
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel #panel2 (opened)="ga('#CITM_EXPANDED_TRAINING_PROVIDED')">
                    <mat-expansion-panel-header>Training Provided </mat-expansion-panel-header>
                    <mat-container *ngIf="trainingProvided">
                        <p *ngIf=" trainingProvided.length > 0 && trainingProvided[0].introStatement "
                            [innerHtml]="trainingProvided[0].introStatement"></p>
                        <ul mat-list class="find-a-career-list">
                            <li *ngFor="let t of trainingProvidedList"> {{ t.trainingProvided}} </li>
                        </ul>
                </mat-container>
                </mat-expansion-panel>
                <mat-expansion-panel #panel3 (opened)="ga('#CITM_EXPANDED_WORK_ENVIRONMENT')">
                    <mat-expansion-panel-header>Work Environment </mat-expansion-panel-header>
                    <p *ngIf="militaryCareer"> {{ militaryCareer.workEnvironmentDescription }} </p>
                </mat-expansion-panel>
                <mat-expansion-panel #panel4 [expanded]="true" (opened)="ga('#CITM_EXPANDED_FIND_THIS_JOB')">
                    <mat-expansion-panel-header>Find This Job </mat-expansion-panel-header>
                    <div class="find-a-career">
                        <div class="row">
                            <div class="small-12 medium-4 columns find-a-career-height"
                                *ngIf="armyServiceOffering && armyServiceOffering.length != 0">
                                <h4>
                                    <div class="pull-left">
                                        <img src="assets/images/army.png"> Army
                                    </div>
                                    <div class="score-link" *ngIf="armyScoreFlag">
                                        <a (click)="onSeeScores('Army',  'A')">SEE MY SCORE</a>
                                    </div>
                                </h4>
                                <hr>
                                <ul mat-list>
                                    <div *ngFor="let ao of armyServiceOffering; let i = index">
                                        <ng-container *ngIf="i < 4">
                                            <li> <a routerLink="/career-detail-service/{{ao.svc}}/{{ao.mcId}}/{{ao.mocId}}">{{ao.mocTitle}}</a><i
                                                    *ngIf="ao.isHotJob == 'T'" class="icon-hotjob"></i> </li>
                                        </ng-container>
                                    </div>
                                </ul>
                                <span *ngIf="armyServiceOffering.length > 4">
                                    <a (click)="onViewAll('Army')"><strong>...View All</strong></a>
                                </span>
                            </div>
                            <div class="small-12 medium-4 columns find-a-career-height"
                                *ngIf="marineServiceOffering && marineServiceOffering.length > 0">
                                <h4>
                                    <div class="pull-left">
                                        <img src="assets/images/marines.png"> Marine Corps
                                        <!-- Don't display for now per Kate
                                                        <div class="score-link"><a href="" (click)="seeScores('Marines', isLoggedIn())">SEE MY SCORE</a></div>
                                                        -->
                                    </div>
                                </h4>
                                <hr>
                                <ul mat-list>
                                    <div *ngFor="let mo of marineServiceOffering; let i2 = index">
                                        <ng-container *ngIf="i2 < 4">
                                            <li> <a routerLink="/career-detail-service/{{mo.svc}}/{{mo.mcId}}/{{mo.mocId}}">{{mo.mocTitle}}</a><i
                                                    *ngIf="mo.isHotJob == 'T'" class="icon-hotjob"></i> </li>
                                        </ng-container>
                                    </div>
                                </ul>
                                <span *ngIf="marineServiceOffering.length > 4">
                                    <a (click)="onViewAll('Marine Corps')"><strong>...View All</strong></a>
                                </span>
                            </div>
                            <div class="small-12 medium-4 columns find-a-career-height"
                                *ngIf="navyServiceOffering && navyServiceOffering.length > 0">
                                <h4>
                                    <div class="pull-left">
                                        <img src="assets/images/navy.png"> Navy
                                    </div>
                                    <div class="score-link" *ngIf="navyScores">
                                        <a *ngIf="navyScoreData" (click)="onSeeScores('Navy', 'N')">SEE MY SCORE</a>
                                    </div>
                                </h4>
                                <hr>
                                <ul mat-list>
                                    <div *ngFor="let no of navyServiceOffering; let i3 = index">
                                        <ng-container *ngIf="i3 < 4">
                                            <li> <a routerLink="/career-detail-service/{{no.svc}}/{{no.mcId}}/{{no.mocId}}">{{no.mocTitle}}</a><i
                                                    *ngIf="no.isHotJob == 'T'" class="icon-hotjob"></i> </li>
                                        </ng-container>
                                    </div>
                                </ul>
                                <span *ngIf="navyServiceOffering.length > 4">
                                    <a (click)="onViewAll('Navy')"><strong>...View All</strong></a>
                                </span>
                            </div>
                            <div class="small-12 medium-4 columns find-a-career-height"
                                *ngIf="airForceServiceOffering && airForceServiceOffering.length > 0">
                                <h4>
                                    <div class="pull-left">
                                        <img src="assets/images/air-force.png"> Air Force
                                    </div>
                                    <div class="score-link" *ngIf="airForceScores">
                                        <a *ngIf="airForceScoreData" (click)="onSeeScores('Air Force', 'F')">SEE MY SCORE</a>
                                    </div> 
                                </h4>
                                <hr>
                                <ul mat-list>
                                    <div *ngFor="let fo of airForceServiceOffering; let i4 = index">
                                        <ng-container *ngIf="i4 < 4">
                                            <li> <a routerLink="/career-detail-service/{{fo.svc}}/{{fo.mcId}}/{{fo.mocId}}">{{fo.mocTitle}}</a><i
                                                    *ngIf="fo.isHotJob == 'T'" class="icon-hotjob"></i> </li>
                                        </ng-container>
                                    </div>
                                </ul>
                                <span *ngIf="airForceServiceOffering.length > 4">
                                    <a (click)="onViewAll('Air Force')"><strong>...View All</strong></a>
                                </span>
                            </div>
                            <div class="small-12 medium-4 columns find-a-career-height"
                                *ngIf="coastGuardServiceOffering && coastGuardServiceOffering.length > 0">
                                <h4>
                                    <div class="pull-left">
                                        <img src="assets/images/coast-guard.png"> Coast Guard
                                    </div>
                                </h4>
                                <hr>
                                <ul mat-list>
                                    <div *ngFor="let co of coastGuardServiceOffering; let i5 = index">
                                        <ng-container *ngIf="i5 < 4">
                                            <li> <a routerLink="/career-detail-service/{{co.svc}}/{{co.mcId}}/{{co.mocId}}">{{co.mocTitle}}</a><i
                                                    *ngIf="co.isHotJob == 'T'" class="icon-hotjob"></i> </li>
                                        </ng-container>
                                    </div>
                                </ul>
                                <span *ngIf="coastGuardServiceOffering.length > 4">
                                    <a (click)="onViewAll('Coast Guard')"><strong>...View All</strong></a>
                                </span>

                            </div>
                            <div class="small-12 medium-4 columns find-a-career-height"
                                *ngIf="nationalGuardServiceOffering && nationalGuardServiceOffering.length > 0">
                                <h4>
                                    <div class="pull-left">
                                        <img src="assets/images/natl-guard.png"> National Guard
                                        <!-- Don't display for now per Kate
                                      <div class="score-link"><a href="" (click)="seeScores('Marines', isLoggedIn())">SEE MY SCORE</a></div>
                                      -->
                                    </div>
                                </h4>
                                <hr>
                                <ul mat-list>
                                    <div *ngFor="let ngo of nationalGuardServiceOffering; let i6 = index">
                                        <ng-container *ngIf="i6 < 4">
                                            <li> <a routerLink="/career-detail-service/{{ngo.svc}}/{{ngo.mcId}}/{{ngo.mocId}}">{{ngo.mocTitle}}</a><i
                                                    *ngIf="ngo.isHotJob == 'T'" class="icon-hotjob"></i> </li>
                                        </ng-container>
                                    </div>
                                </ul>
                                <span *ngIf="nationalGuardServiceOffering.length > 4">
                                    <a (click)="onViewAll('National Guard')"><strong>...View All</strong></a>
                                </span>
                            </div>
                        </div>
                    </div>

                    <section class="comp-score-link">
                        <a  (click)="onSeeScores('Scores', 'NaN')">SEE WHAT MY SCORES MEAN TO THE MILITARY</a>
                    </section>

                    <div *ngIf="allFilter && mcIdLastTwoChar == '00' && allFilter.length > 0 && allFilter.length <= 6 "
                        class="specialties-sec">
                        <div class="row">
                            <div class="small-12 column">
                                <h4>Specialties</h4>
                                <div class="specialties-grid">
                                    <div *ngFor="let a of allFilter" class="specialties"
                                        [ngStyle]="{'background-image': a.backgroundImageUrl}">
                                        <div routerLink="/career-detail/{{ a.mcId }}">
                                            <p>{{a.title}}</p>
                                        </div>
                                        <div>
                                            <a (click)="onFavoriteClick(a)">
                                                <i *ngIf="!a.favorited" ><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" title="Save your favorite occupations to your portfolio." aria-labelledby="svg-inline--fa-title-PhjJggyI89gG" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><title id="svg-inline--fa-title-PhjJggyI89gG">Save your favorite occupations to your portfolio.</title><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg></i>
                                                <i *ngIf="a.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="militaryCareer && allFilter && mcIdLastTwoChar == '00' && allFilter.length > 6" class="find-a-career">
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="small-12 columns">
                                <p><strong>{{militaryCareer.title}} can specialize in:</strong></p>
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 medium-6 columns">
                                <ul class="find-a-career-list"
                                    *ngIf="allFilter.length > 1 ? (allFilter.length/2 | number:0) : 1">
                                    <li *ngFor="let a of allFilter"><a
                                            routerLink="/career-detail/{{a.mcId}}">{{a.title}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card>

        <mat-card class="small-12 columns" *ngIf="featuredProfile != null && featuredProfile != 'undefined' && featuredProfile.length > 0">
            <ngx-slick-carousel class="carousel profiles-slider"  #slickModal="slick-carousel" [config]="profileSlideConfig">
				<div ngxSlickItem class="slide border border-slides" *ngFor="let profile of featuredProfile; let i = index;">
					<div class="row">
						<div class="small-12 medium-4 columns pr-0"><img [src]="profile.imageUrl" class="show-for-medium full-img">
						</div>
						<div class="small-12 medium-8 columns pl-0">
							<div class="snap-shot-slides-main">
								<section class="snap-shot-slides">
									<div class="snap-small">Featured Profile: <b>{{profile.firstName}}
											{{profile.lastName}}, {{profile.toMilitaryCareerList[0].title}}</b>
									</div>
									<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
										<div ngxSlickItem class="slide snap-shot-inner" *ngFor="let d of featuredProfile[i].snapshotQuestionList">
											<div class="home-profile-text">
												<h4>{{d.question}}</h4>
												<span [innerHtml]="d.answer"></span>
											</div>
										</div>
									</ngx-slick-carousel>
									<img [src]="profile.imageUrl" class="show-for-small-only full-img">
								</section>
								<p class="buttons">
									<a routerLink="/career-profile/{{profile.toMilitaryCareerList[0].mcId}}"
										class="button">Read
										More</a>
									<a *ngIf="careerPathway && careerPathway.length > 0" routerLink="/career-pathway/{{mcId}}"
										class="button">Career Path</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</ngx-slick-carousel>
		</mat-card>
    </div>
    <div style="height: 60px;"></div>
    <app-related-careers [mcId]="mcId"></app-related-careers>
</div>