<mat-dialog-content>
	<div class="modal-options">
		<!-- <div class="custom-modal-backdrop"></div> -->
		<div id="video" class="custom-modal-dialog text-center video-modal-wrapp">
			<div class="video-modal-inner">
				<button type="button" class="modal-close" (click)="closeDialog()">
					<span aria-hidden="true">&times;</span>
				</button>
				<iframe width="540" height="340" frameborder="0" allowfullscreen="" [src]="safeURL(youtubeURL)"
					allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
			</div>
		</div>
	</div>
</mat-dialog-content>