/* You can add global styles to this file, and also import other style files */
/* Common Variable Code */
$body-font-family: "Open Sans", sans-serif;
$white: #fff;
$light-gray: #f5f5f5;
$burgundy: #911a07;
$primary-color: #178388;

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,700,700italic,800);
@import "assets/css/foundation.css";
@import "assets/css/options.css";
@import '../node_modules/@ngx-share/button/themes/circles/circles-light-theme';
@import url(~fullpage.js/dist/fullpage.min.css);
@font-face {
    font-family: "foundation-icons";
    src: url("assets/fonts/foundation-icons/foundation-icons.eot");
    src: url("assets/fonts/foundation-icons/foundation-icons.eot?#iefix") format("embedded-opentype"), url("assets/fonts/foundation-icons/foundation-icons.woff") format("woff"), url("assets/fonts/foundation-icons/foundation-icons.ttf") format("truetype"), url("assets/fonts/foundation-icons/foundation-icons.svg#fontcustom") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futura-bt';
    src: url("assets/fonts/futurabt-book-opentype-webfont.eot");
    src: url("assets/fonts/futurabt-book-opentype-webfont.eot?#iefix") format("embedded-opentype"), url("assets/fonts/futurabt-book-opentype-webfont.woff") format("woff"), url("assets/fonts/futurabt-book-opentype-webfont.ttf") format("truetype"), url("assets/fonts/futurabt-book-opentype-webfont.svg#futura_bookregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futura-bt';
    src: url("assets/fonts/futurabt-bold-opentype-webfont.eot");
    src: url("assets/fonts/futurabt-bold-opentype-webfont.eot?#iefix") format("embedded-opentype"), url("assets/fonts/futurabt-bold-opentype-webfont.woff") format("woff"), url("assets/fonts/futurabt-bold-opentype-webfont.ttf") format("truetype"), url("assets/fonts/futurabt-bold-opentype-webfont.svg#futura_bookregular") format("svg");
    font-weight: bold;
    font-style: normal;
}
@font-face {
  font-family: "citm";
  src:url("assets/fonts/citm-webfont.eot");
  src:url("assets/fonts/citm-webfont.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/citm-webfont.woff") format("woff"),
    url("assets/fonts/citm-webfont.ttf") format("truetype"),
    url("assets/fonts/citm-webfont.svg#citm-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "citm" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-heart-o:before {
    content: "\f08a";
}
.icon-details:before {
  content: "\61";
}
.icon-down:before {
  content: "\62";
}
.icon-grid:before {
  content: "\63";
}
.icon-heart:before {
  content: "\64";
}
.icon-heart-ol:before {
  content: "\65";
}
.icon-left:before {
  content: "\66";
}
.icon-notes:before {
  content: "\67";
}
.icon-right:before {
  content: "\68";
}
.icon-up:before {
  content: "\69";
}
.icon-green:before {
  content: "\6a";
}
.icon-hot:before {
  content: "\6b";
}
.icon-hotjob:before {
  content: "\6c";
}
.icon-pathways:before {
  content: "\6d";
}
.icon-save:before {
  content: "\6e";
}
.icodes {
  margin-left: 0;
  li {
    list-style-type: none;
    span {
      display: inline-block;
      width: 80%;
      max-width: 150px; }
    &:after {
      border-bottom: 11px solid red;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      content: '';
      display: inline-block;
      width: 0; 
    }
  }
  .code-c *:before,
  .code-c a:before, 
  .code-c:after {
    border-color: transparent transparent #54873d; }
  .code-r *:before,
  .code-r a:before, 
  .code-r:after {
    border-color: transparent transparent #0e7bc0; }
  .code-i *:before,
  .code-i a:before, 
  .code-i:after {
    border-color: transparent transparent #8b2e33; }
  .code-s *:before,
  .code-s a:before, 
  .code-s:after {
    border-color: transparent transparent #164377; }
  .code-a *:before,
  .code-a a:before, 
  .code-a:after {
    border-color: transparent transparent #f7933a; }
  .code-e *:before,
  .code-e a:before, 
  .code-e:after {
    border-color: transparent transparent #ed252e; }
}

body,
html {
  font-size: 96.8245%;
}
body {
    background: #ffffff;
  color: #3c3f44;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
}
.fa-cog.fa-spin {
	position: absolute;
    left: 50%;
    font-size: 80px;
    margin-left: -40px;
    color: #911a07;
}
app-spinner .fa-cog.fa-spin {
	margin-top: -40px;
  top: 50%;
  z-index: 100;
}
.mat-card {
  font-family: "Open Sans",sans-serif;
}

.caps {
  text-transform: uppercase;
}
.alert {
  margin-bottom: 20px;
}
.p-0 {
    padding: 0;
}

table tbody {
    background: none;
    border: none;
}

table tbody th,
table tbody td {
    padding: 0.125rem 0.625rem 0.2rem;
}

@media screen and (min-width: 40em) {
  #main {
    min-height: calc(100vw - 513px); } }

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
    #main.guided-exploration {
        margin-top: 30px;
   }
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-family: futura-bt,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: inherit;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.4;
}
h3 {
    color: #2f2a6a;
    font-weight: 700;
    margin-bottom: .5em;
    text-transform: uppercase;
}
h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
a {
    color: $primary-color;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
}
.list-space {
  display: inline-block;

  > li {
    margin-top: 7px;

    &:first-child {
      margin-top: 1px;
    }
  }
}
a:hover, a:focus {
    color: #147175;
    text-decoration: underline;
}
a img {
    border: 0;
}
.title {
    color: #2f2a6a;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
h6.title6 {
    margin-bottom: 16px;
}
.smallp,.smallp p {
  font-size:13px;
}
.subheader {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
    line-height: 1.4;
    color: #8a8a8a;
}
.lead {
    font-size: 121.03063%;
    line-height: 1.6;
}
.stat {
    font-size: 2.5rem;
    line-height: 1;
}
p + .stat {
    margin-top: -1rem;
}
.no-bullet {
    margin-left: 0;
    list-style: none;
}
.text-left {
    text-align: left;
}
.full-black-text {
  color: black; }
  
  .full-black-text .armyul {
    margin: 0 0 25px; }
  .full-black-text p {
    line-height: normal;
    margin-bottom: 25px; }
.bold-link span {
    color: #c0c0c0;
    margin: 0 18px;
}

.bodysize {
    font-size: 15px;
}
.circle .fas.fa-plus {
    color: #fff;
}
/* Buttons and CTAs */
.button, button {
  border-radius: 0;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 20px;
    text-transform: uppercase;
}
.contact-bar {
    background-color: #e1f0f0;
    padding: 2px 0;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
    .contact-bar {
        padding: 10px 0;
   }
}
.contact-bar a {
    color: #38979b;
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    font-size: 1.35rem;
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
    .contact-bar a {
        font-size: 13.5px;
   }
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.profiles-slider {
.slick-dots li button:before {
  background: #fff;
    width: 10px;
    height: 10px;
    border: 2px solid;
    border-radius: 50%;
    content: '';
}
}
.career-slider {
  .slick-arrow {
    background-color: rgba(6, 2, 3, 0.47);
    border-radius: 50%;
    position: absolute;
    top: 40%;
    height: 36px;
    padding: 0;
    width: 36px;
    z-index: 1; 
    
    img {
      display: none !important;
    }
    
    &:before {
      background: url(\assets\images\career-right-arrow.png) no-repeat;
        display: block;
      height: 10px;
        margin: auto;
        opacity: 1;
      width: 6px;
    }   
  }
    .slick-arrow.slick-hidden {
      display: none; 
  }

  .slick-arrow.slick-prev {
      left: 20px; 
    
    &:before {
      background: url(\assets\images\career-left-arrow.png) no-repeat;
    }
  }
  
    @media screen and (min-width: 0em) and (max-width: 39.9375em) {
      .slick-arrow.slick-prev {
        left: 10px; } 
  }
    
  .slick-arrow.slick-next {
      right: 20px; 
  }
    
  @media screen and (min-width: 0em) and (max-width: 39.9375em) {
      .slick-arrow.slick-next {
        right: 10px; 
    } 
  }
}
.border.border-slides .snap-shot-slides .slick-prev {
    left: 10px;
    margin-top: 52px;
  z-index: 2;
}
.border.border-slides .snap-shot-slides .slick-next {
    right: 10px;
    margin-top: 52px;
}
.border.border-slides .snap-shot-slides .slick-disabled {
  opacity: 0.2;
}
.slick-arrow img:nth-child(2) {
    display: none;
}
.slick-arrow:hover img:nth-child(2) {
    display: block;
    top: 2px;
    position: absolute;
  left: 5px;
}
.owl-carousel {
  .owl-dots {
    display: none;
  }
  .owl-nav.ng-star-inserted {
    position: absolute;
    top: -50px;
    right: -9px;

    div {
      background: transparent;
      color: $burgundy;
      margin: 10px;
      overflow: hidden;
      padding: 0;
      width: 15px;

      &:hover {
        background: transparent;
        color: #616060;
      }
    }

    div:before {
      content: "\66";
      font-family: "citm" !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-variant: normal !important;
      text-transform: none !important;
      speak: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .owl-next:before {
      content: "\68";
    }
  }
}
hr {
  max-width: none;
  margin-left: 0;
  margin-right: 0;
}
button.slick-prev:before,button.slick-next:before {
  font-size: 0;
}

.share {
  text-align: right; 
  
  mat-card {
    svg {
        width: 0.65em;
      height: 17px;
      margin: 0 6px;
      
      &.fa-envelope {
        margin: 0;
        width: .9em;
        vertical-align: middle;
      }
    }
  }
  
}
  .share i {
    font-size: 18px;
    margin-left: 10px; }
  .share hr {
    margin: .25rem 0 .5rem; }
  .share .fa-facebook,
  .share .fa-facebook-f{
    color: #305cb4; }
  .share .fa-twitter {
    color: #07b6ef; }
  .share .fa-linkedin-in {
    color: #0083ba; }
  .share .fa-envelope {
    color: #999ea1; }
  .share .fa-google-plus {
    color: #d42515; }


  .show-for-small-only .share {
  margin: 20px 0;
  text-align: center; }
  .show-for-small-only .share i {
    font-size: 35px;
    margin-left: 30px; }
  .show-for-small-only .share a:first-of-type i {
    margin-left: 0; }


.snap-shot-slides .slick-prev {
  z-index: 1;
    background-color: transparent;
    left: 6px; }
  .snap-shot-slides .slick-next {
    background-color: transparent;
    right: 6px; }

.wrapper         {width:100%; max-width: 100%; height:100%; margin:0 auto; background:#CCC}
.h_iframe        {position:relative; padding-top: 56%;}
.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}

.yt-m-wrapper         {width:100%; max-width: 100%; height:100%; margin:0 auto; background:#CCC}
.yt-m-h_iframe        {position:relative; padding-top: 56%;}
.yt-m-h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}


.video-modal {
  display: block;
  padding: 30px;
  left: 50%;
  top: 50%;
  position: fixed;
  z-index: 500; }
  .video-modal.size-m {
    width: 600px;
    height: 400px; }
    @media screen and (min-width: 0em) and (max-width: 39.9375em) {
      .video-modal.size-m {
        width: 100%; } }
  .video-modal.size-l {
    width: 700px;
    height: 500px; }
    @media screen and (min-width: 0em) and (max-width: 39.9375em) {
      .video-modal.size-l {
        width: 100%; } }
  .video-modal.size-s {
    width: 500px;
    height: 300px; }
    @media screen and (min-width: 0em) and (max-width: 39.9375em) {
      .video-modal.size-s {
        width: 100%; } }


#boot-camp {
  .all-data {
    margin-top: 30px;
  }
  
  .actions { 
    a {
      i {
        color: #911a07;
      }
    }
  }
}


.modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
  top: 0;
  left: 0;
  z-index: 100; }

.modal-close {
  color: white;
  font-size: 30px;
  line-height: .5;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1; }
  .modal-close:hover {
    opacity: .5; }

.mat-accordion {
  .mat-expansion-panel-content {
    font-family: "Open Sans", sans-serif;
      font-size: 13px;
  }
  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0 0 0;

    + .mat-expansion-panel:not([class*=mat-elevation-z]) {
      margin-top: 5px;
    }

  }
  .mat-expansion-panel-header {
    background-color: #eaeaea;
  max-height: 48px;
    min-height: 48px;
    padding-left: 20px;
    padding-right: 26px;
    
  @media screen and (max-width: 580px) {
    height: auto !important;
  }

    &.mat-expanded,
    &.mat-expanded:hover,
    &.mat-expanded:active,
    &.mat-expanded:focus {
      background-color: #eaeaea;
    }
  }
  .mat-expansion-panel-body {
    padding: 29px 0 25px;
  }
  .column {
    box-sizing: border-box;
  }

  &#career-detail {
    
  .mat-expansion-panel-header {
      max-height: 48px;
  }
    
  .mat-expansion-panel-body {
      background: #f5f5f5;
      padding: 15px;
    }

    .mat-content {
      color: #000;
      font-size: 15px;
      text-transform: uppercase;
    }
  }
}  

@media screen and (max-width: 580px) {
  #boot-camp {
    .mat-accordion .mat-expansion-panel-header {
      max-height: none;
    }
  }
}

@media screen and (max-width: 480px) {
  .alert-banner span {
    font-size: 11px;
  }
}

/* == Options pages plus/minus signs == */
mat-accordion.mat-accordion .mat-expansion-panel-header .plus-minus-sign img {
  -webkit-transition: all 0.22s ease;
  -moz-transition: all 0.22s ease;
  -ms-transition: all 0.22s ease;
  -o-transition: all 0.22s ease;
  transition: all 0.22s ease; 
}
mat-accordion.mat-accordion .mat-expansion-panel-header.mat-expanded .plus-minus-sign img {
  -webkit-transform: rotate(360deg);
  -moz-transform:    rotate(360deg);
  -ms-transform:     rotate(360deg);
  -o-transform:      rotate(360deg);
  transform:         rotate(360deg);  
  -webkit-transition: all 0.22s ease;
  -moz-transition: all 0.22s ease;
  -ms-transition: all 0.22s ease;
  -o-transition: all 0.22s ease;
  transition: all 0.22s ease; 
}

#composite-scores {
  .mat-expansion-panel-body {
    background: #fff;
  padding: 25px 0px;
  }
}
.mat-expansion-panel-header-title {
    font-size: 15px;
    margin-top: 2px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    width: 100%;
    padding-right: 25px;
}
mat-accordion.mat-accordion .mat-expansion-panel-header.transform_auto .mat-content {
  text-transform: inherit;
}

.cdk-overlay-pane {
  .mat-option {
    font-family: "Open Sans", sans-serif;
  }
  .mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
    line-height: 2em;
    height: 2em;
  }
}
#searchResults {
  .mat-form-field-infix {
  background: #fafafa;
    padding: 2px 5px;
    border: 1px solid #cacaca;
    min-width: 270px;
    margin-left: 5px;
  }
  
  .mat-form-field-appearance-legacy {
    .mat-form-field-underline {
      display: none;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }
  
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
     #sticky-sticky-wrapper {
         display: none;
    }
}

.button {
  background: $primary-color none repeat scroll 0 0;
  border: 1px solid transparent;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  line-height: 1;
  margin: 0 1rem 1rem 0;
  padding: 0.85em 1em;
  text-align: center;
  -webkit-transition: all 0.25s ease-out 0s;
   -o-transition: all 0.25s ease-out 0s;
  transition: all 0.25s ease-out 0s;
  vertical-align: middle;

  &:hover, &:focus {
    background: #146f74 none repeat scroll 0 0;
    color: #fff;
  }
}
.button, button {
  font-size: 16px;
  font-weight: bold;
  padding: 15px 20px;
  text-transform: uppercase;
}
.buttons-popup {
  .button {
    padding: 8px 20px;
    width: 100%;
  }
}
.p40 {
  padding: 40px;
}
.d-none {
  display: none;
}

/* Custom Modal */
.custom-modal-open {
  overflow: hidden;
}
.custom-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;

  &.fade .custom-modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
        transition:         transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
        transform: translate(0, -25%);
  }
  &.in .custom-modal-dialog {
    -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
        transform: translate(0, 0);
  }

}
.custom-modal-open .custom-modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.custom-modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  z-index: 1050;
}
.custom-modal-content {
  background-color: #fff;
  -webkit-background-clip: padding-box;
      background-clip: padding-box;
  border: 1px solid #cacaca;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
      box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  position: relative;
  outline: 0;
  font-size: 13px;

  h3 {
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
    color: #3f3f3f;
  }

  .modal-options h4 {
    background-color: #e6e8e8;
    color: #3d4243;
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
    padding: 5px 25px 5px 10px;
    margin:0px;
    font-weight: normal;
  }
}
.custom-modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;

  &.fade {
    filter: alpha(opacity=0);
    opacity: 0;
  }
  &.in {
    filter: alpha(opacity=50);
    opacity: .5;
  }
}
.custom-modal-header {
  padding: 15px;
  padding-bottom: 0;

  .custom-close {
    color: #2f2a6a;
    font-weight: normal;
    margin-right: 6px;
    margin-top: 4px;
    opacity: 1;
  }
}
.custom-close {
    color: #2f2a6a;
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  margin-top: 4px;
    margin-right: 6px;

  &:hover,
  &:focus {
    text-decoration: none;
    cursor: pointer;
  }
}
button.custom-close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.custom-modal-body {
  position: relative;
  padding: 15px;
  max-height: 73vh;
  overflow: auto;
}

/* video modal */
.video-modal-content {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 600px;
  z-index: 999999;

  iframe {
    display: block;
    margin: 0 auto;
  }
  .modal-close {
    padding: 0;
    right: 10px;
    top: -19px;
  }
}
.video-modal .custom-modal-backdrop.in {
  opacity: 0.8;
}

/* log in modal */
[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], textarea {
  border-radius: 0;
  box-shadow: 0 0;
  color: #8a8a8a;
  font-size: 13px;
  height: auto;
  line-height: normal;
  padding: 1px;
}

.new-modal {
  h4 {
    background-color: #e6e8e8;
    color: #3d4243;
    font-size: 1rem;
    margin-bottom: 60px;
    padding: 5px 10px;
  }
  .close-button {
    font-size: 2em;
    padding: 5px;
    right: 1.3rem;
    top: 0.75rem;
  }
  h3, h2 {
    color: #29afb5;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
  }
  p {
    color: #3f3f3f;
    font-family: "futura-bt","Futura",sans-serif;
    font-size: 13px;
    line-height: 1.5;
  }
  .button {
    background-color: #29afb5;
    font-weight: 700;
    padding: 8px 20px;
    text-transform: uppercase;
  }
  .custom-modal-body {
    padding: 1rem 1rem 50px;
  }
  .right {
    border-left: 1px solid #ccc;
    padding-left: 50px;
  }
}
.lightblue-box {
    background: #e1f0f1;
    font-size: 14px;
    margin-bottom: 28px;
    padding: 20px 21px;
    margin-top: 11px;
}
.icon-hotjob {
    color: #f49c1e;
    font-size: 80%;
    vertical-align: text-bottom;
}
.actions {
  color: $burgundy;
  float: right;
  font-family: "futura-bt",sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 20px;
  font-size: 1.5em;
  
  svg {
  color: $burgundy;
    vertical-align: baseline;
  }

  i {
    cursor: pointer;
    font-size: 73%;
    margin: 0 5px;
    text-shadow: 0 0;
  }
  .remove {
    margin-left: 10px;
  }
}
ul.checked {
  font-size: 14px;
  line-height: normal;
  margin: 0 0 10px;

  li{
    list-style-type: none;
    padding-left: 20px;
    position: relative;
    color: #a9a9a9;

    &:before {
    background-size: contain;
       background: url(\assets\images/delete.svg);
     content: "";
      display: inline-block;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      left: 0;
      position: absolute;
      text-rendering: auto;
      top: 1px;
      color: #a9a9a9;
    width: 12px;
      height: 17px;
    }
  }
  li.inactive {
    color: #a9a9a9;

    i {
      margin: 0 2px;
    }
  }
  li.ul.checked {
    color: #3c3f44;
    
    &:before {
      background: url(\assets\images/check.svg);
      color: #3c3f44;
      width: 15px;
    }
  }
}

#slide-menu {
    background: #454444;
    color: #fff;
    font-size: 16px;
    height: 100%;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    z-index: 10000;
    -moz-transition: width 300ms;
    -o-transition: width 300ms;
    -webkit-transition: width 300ms;
    transition: width 300ms;

    &.open {
      width: 275px;

      > ul {
        display: block;
      }
    }

    > ul {
      display: none;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      width: 275px;
    }

    a {
      color: inherit;

      &#close {
        font-size: 35px;
        font-weight: bold;
      }
    }

    ul {
      margin: 0;

      li {
        text-transform: uppercase;
        a, span {
          padding: 0px 25px;
          display: block;
        }

        a:hover {
          background: #8f8f8f;
          color: #333;
          text-decoration: none;
        }
      }

      ul {
        margin-bottom: 20px;

        li {
          background: #565555;
          margin-bottom: 3px;

          a {
            text-transform: none;
          }
        }
      }
    }
}

.citm-detail-service-specific {
  mat-accordion.mat-accordion {
    .mat-expansion-panel-header {
      background: none !important;
        height: 20px !important;
        min-height: 20px;
        max-height: 20px;
      
      &:hover {
        background: transparent !important;
      }

      .mat-content {
        color: #008E90;
        font-weight: 400;
        font-size: 13px;
      }

      .mat-expansion-indicator {
        left: 0;
          line-height: 17px;
        right: auto;
        top: 0;

        &:after {
          color: #008E90;
          font-size: 20px;
        }
      }
    }
    .mat-expansion-panel-body {
        background: transparent !important;
        padding: 0 !important;
    }
  }
}
  
.guided-exploration svg g g {
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
    transform: scale(1,1);
  }
.modal-dialog {
  ul.color-codes {
    list-style: none;
    span {
      background-color: #29afb5;
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 6px;
      vertical-align: middle;
    }
    
    li:nth-child(2) span {
      background-color: #8b2e33;
    }
    
    li:nth-child(3) span {
      background-color: #413a92;
    }
  }
}
.full-black-text ul {
    list-style: none;
    margin: 0px;
    padding: 0;
    line-height: normal;
}

.full-black-text ul.list {
    list-style-type: disc;
    margin-left: 1.25rem;
}
.mat-expansion-panel-group {
    margin-bottom: 13px;
  display: inline-block;
  width: 100%;
}
mat-accordion.mat-accordion {
  .mat-expansion-panel-spacing {
    margin-bottom: 5px;
  }
  .mat-expansion-panel-header {
    font-family: $body-font-family;
    font-size: 15px;
    font-weight: bold;
    position: relative;

    .mat-content {
      display: inline-block;
      padding-right: 25px;
      text-transform: uppercase;
      width: 100%;
    }

    .plus-minus-sign {
      position: absolute;
      right: 10px;
      top: 12px;
    }
    .mat-expansion-indicator {
      position: absolute;
      right: 25px;
      top: 10px;

      &:after {
        border: medium none;
        color: #818181;
        content: "+";
        font-size: 28px;
        -webkit-transform: inherit;
        transform: inherit;
        line-height: 0px;
      }
    }
  }
  .mat-expanded {
    .mat-expansion-panel-header {

      .mat-content {
        color: #147175;
      }
      .mat-expansion-indicator {
        &:after {
          content: "\2013";
        }
      }
    }
  }

  .find-a-career {
    .find-a-career-height {
      box-sizing: border-box;
    }
    h4 {
      font-size: 16px;
      display: inline-block;
      width: 100%;

      img {
        vertical-align: bottom;
      }
    }
    li {
      .icon-hotjob {
        margin-left: 3px;
      }
    }
    hr {
      margin: 0 auto 0.6rem;
    }
    .score-link, comp-score-link {
      font-size: 13px;
      padding-top: 30px;
      text-align: right;
      white-space: nowrap;
    }
  }

  .specialties-sec {
    h4 {
      font-size: 13px !important;
    }
  }
}
.job-accordian {
    box-sizing: border-box;
}
.career-detail mat-accordion.mat-accordion .mat-expansion-panel-body {
    background-color: #f5f5f5;
    padding: 15px 15px 28px;
}
.specialty-detail mat-accordion.mat-accordion {
  .comp-score-link {
    background-color: #e1f0f0;
    padding: 10px 0;
    text-align: center;
    margin: 59px 0 0px;

    a {
      color: #38979b;
      display: block;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 0;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
.advanced-search {
  #filters {
    mat-accordion.mat-accordion {
      .mat-expansion-panel-header.transform_auto {
        .mat-content{
          color: #231f20;
          font-size: 13px;
          font-weight: normal;
          text-transform: uppercase;
          margin-top: 1px;
          line-height: normal;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        &.mat-expanded .mat-content {
          color: $primary-color;
        }
        .mat-expansion-indicator{
          right: 20px;
          top: 0;

          &:after {
            color: #000;
          font-size: 22px;
          }
        }
      }
      .mat-expansion-panel-content .mat-expansion-panel-body {
        padding: 15px;
      }
    }
  }
  .search-list ul {
    list-style: none;
    margin: 0;

    li i {
      font-size: 13px;
      margin-left: 5px;
      position: relative;
      top: 3px;
    }
  }
}

/* Sort by */
.sort-by {
    background-color: #efefef;
    border-top: 1px solid #ababab;
    padding: 7px 13px 14px;
    text-align: left;

  strong {
    text-transform: uppercase;
    color: #000;
  }
  select {
    margin: 0 0 0 10px;
  }
}
#found-text {
  line-height: 35px;
}


/* Login Popup */
.login_wrap ul li a {
    font-size: 13px;
}
h4.popup-title {
    background-color: #EBECEC;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 5px 40px 5px 15px;
    color: #3d4243;
    margin-bottom: 30px;
    position: relative;
}
.popup-title .close-button {
    right: 10px;
    top: 3px;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    padding: 0;
}
.close-button {
    outline: none; 
}
.close-button-div .button {
    font-weight: normal;
    font-size: 13px;
    padding: 5px 20px;
    margin: 0;
    max-width: 100px;
    width: 100%;
}
.modal-footer {
  text-align: right;
  .button {
      margin: 1em 5px 0 0;
      padding: 8px 20px;
  }
}
/* Select */
select {
  -webkit-appearance: none;
    -moz-appearance: none;
  background-color: #fafafa;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\" width=\"32\" height=\"24\" viewBox=\"0 0 32 24\"><polygon points=\"0,0 32,0 16,24\" style=\"fill: rgb(51, 51, 51)\"></polygon></svg>");
  background-position: right 0rem center;
  background-repeat: no-repeat;
  background-size: 9px 6px;
  border: 1px solid #cacaca;
  border-radius: 0;
  color: #8a8a8a;
  font-family: inherit;
  line-height: normal;
  display: inline;
  font-size: 12px;
  height: 1.2rem;
  padding: 0 0.5rem;
  width: 250px;
}



/* Tools */
#tools > {
  div:after {
    content: "|";
    position: absolute;
    right: -6px;
    top: -2px;
  }
  div.afternone:after{
    content: none; 
  }
  div:last-child::after {
    content: none;
  }
}
#tools {
  text-align: right;

  i,
  svg {
    color: $burgundy;
    cursor: pointer;

    &.active {
      color: #adadad;
      cursor: default;
    }

  }
  
  i {   
    vertical-align: middle;
  }
  #pagination {
    span {
      margin-right: 10px;
    }
    i {
      font-size: 12px;

      &.icon-right {
        margin-left: 25px;
      }
    }
  .disabled {
     color: #777777;
  }
  }

  > div {
    display: inline-block;
    line-height: 35px;
    padding: 0 15px;
    position: relative;

    .outer-fav {
      position: relative;
      padding-right: 3px;

      .inner-fav {
        color: $burgundy;
        font-size: 13px;
        margin-left: -12px;
      }
    }
    &#sort i, &.sort i {
      font-size: 20px;
      margin: 0 7px;
    }
    &#sort i.fas {
      font-size: 14px;
      margin-top: -5px;

      &.fa-grip-horizontal{
        font-size: 17px;
      }
    }

  }
}

/* lable */
label {
    color: #3c3f44;
    display: block;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.8;
    margin: 0;
}

/* mat tab */
.mat-tab-group {
  border-color: #ababab;
  margin-bottom: 20px;
  margin-left: 0;
  margin-top: -16px;
  padding-top: 5px;
  padding-top: 0;
  font-family: $body-font-family;

  .mat-tab-header {
    padding: 0 25px;
    background-color: #efefef;
    border-bottom: transparent;
  }
  .mat-tab-label {
    background-color: #f7f7f7;
    border: 1px solid #ababab;
    border-radius: 0;
    color: $primary-color;
    font-weight: bold;
    height: auto;
    line-height: 1.42857;
    margin-right: 15px;
    opacity: 1;
    padding: 7px 30px 5px;
    font-size: 13px;
    font-family: $body-font-family;

    &.mat-tab-label-active {
      background-color: #fff;
      color: #000;
      border-bottom-color: transparent;
    }
  }
  .mat-tab-body-wrapper {
    border-top: 1px solid #ababab;
    margin-top: -1px;

    .mat-tab-body-content {
      background-color: #fff;
      min-height: 200px !important;
      overflow: hidden;
    }
    .mat-tab-body {
      top: 20px;
    }
  }
  mat-ink-bar {
    display: none;
  }
}

.portfolio {
  .mat-tab-group .mat-tab-label {
    min-width: auto;
  }
}

.career-profile {
  .share-topspace {

    share-button.sb-button {
      margin: 0;
    } 
  }

  span.share-title {
    position: relative;
    top: 8px;
  }
}



/* career-detail */
.career-detail.specialty-detail{
  .mat-card {
    box-shadow: none; 
  }
  .find-a-career .column:last-child:not(:first-child),.find-a-career .columns:last-child:not(:first-child) {
    float: left;  
  }
}
.career-detail, .career-cluster {
    font-size: 13px;
}
.career-detail h2 a.title-career {
  color: #2f2a6a !important;
}

.orspan {
  margin-left: 5px;
}

#skill-importance,
.career-detail.specialty-detail {
  
  i.star-icon {
    color: #000;
    font-size: 1em;
    &:before {
      color: #000;
      line-height: 1.3em;
      top: 50%;
      -webkit-transform: translateY(-8px);
      -moz-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
      -o-transform: translateY(-8px);      
      transform: translateY(-8px);
    }
  }
}

/* IE only css */
@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #skill-importance i.star-icon::before, .career-detail.specialty-detail i.star-icon::before {
    line-height: 1.5em;
  }
  .hot-job-block #tools div:after {content: none;}
}

/* career pathway */
.page-title {
    color: #2f2a6a;
    font-size: 1.25rem;
    margin-bottom: 1em;
    text-transform: none;
    font-weight: 700;
}
#career-path h2 {
    font-family: "Open Sans",sans-serif;
}


/* Home */
.welcome-section div#jobs {
    display: block !important;
}
#step2 .career-detail, #step2 .career-grid {
    display: inline-block;
}
.home mat-card.mat-card {
    padding-left: 0;
    padding-right: 0;
} 
.slide-mobile-style {
  .owl-carousel{
    .owl-nav {
      top: -62px; 
    }
    .owl-item {
      border:5px solid #d7d7d7;
      overflow: hidden;
    }
  }
}


/* Home Step3*/
#step3 {
  .home-profiles-slide .owl-stage, 
  .home-profiles-slide .owl-stage > div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .home-profiles-slide .home-profiles-box {
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  .home-profiles-slide .owl-stage > div .home-profile-text {
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
  }
} 



/* career-cluster-pathway */
.search-bar hr {
    margin: 5px 0 10px !important;
}
.career-cluster .pathway-list ul {
    line-height: 1.6;
    list-style-type: disc;
    margin-bottom: 25px !important;
    padding-left: 15px;
}


@media (min-width: 768px) {
  .custom-modal-dialog {
    margin: 30px auto;
    width: 600px;
  }
  .custom-modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
}
@media (min-width: 992px) {
  .custom-modal-lg {
    width: 900px;
  max-width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .mat-tab-group {
    .mat-tab-label {
      max-width: 110px;
      padding: 6px;
      text-align: center;
      min-width: inherit;

      .mat-tab-label-content {
        white-space: normal;
      }
    }
  }
  .advanced-search {
    #filters {
      mat-accordion.mat-accordion .mat-expansion-panel-header.transform_auto .mat-expansion-indicator {
        right: 7px;
      }
    }
  }
  .career-profile {
    .share-topspace {
      share-button.sb-button {
        button {
          min-width: inherit;
        }
      } 
    }
  }
}

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
     #sticky-sticky-wrapper {
         display: none;
    }
  .new-modal .right {
    border-left: medium none;
    padding-left: 0.9375rem;
    padding-top: 50px;
  }
  .mat-accordion {
    &#career-detail {
      .mat-expansion-indicator {
          top: 4px;
          right: 15px;
          left: auto;
      }
    }
  }
  .search-bar.mat-card,.search-bar {
      background-color: #efefef;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      margin: 0;

      .actions i, strong i {
          font-size: 16px;
      }
      .actions .remove {
          font-size: 20px;
      }

      a {
        color: #911a07;
    }
  }

}

@media screen and (max-width: 639px) {
  .career-title {
    margin-bottom: 48px !important;
  }
  .hide-for-small {
    display:none;
  }
  
    .msContainer {
      display: none;
      text-align: left;
      width: 100%;

      h5 {
        color: #2f2a6a;
        font-size: 1.25rem;
        line-height: 1.2em;
      }

      img {
        display: block;
        margin: 10px auto 30px;
      }
    }
   #msTabs > div {display: none;}
  .advanced-search {

    #sticky-sticky-wrapper {
      display: block;
      margin: 0 -15px;

      .search-bar {
        padding-bottom: 13px;
        padding-top: 20px;
      }
      &.is-sticky .search-bar {
        top: 0 !important;
        z-index: 2 !important;
        padding: 10px 0;
      }
    }
    .search-bar {

      background-color: #efefef;
      margin: 0;
      padding-bottom: 10px;
      padding-top: 10px;
      text-align: center;

      a {
        color: #911a07;
      }
      .icon-arrow-up{
        display: block;

        &:before {
              border-bottom: 10px solid #911a07;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              content: "";
              display: inline-block;
            }
          }
        }
    #filters {
      #mobile-filter-actions .button {
        margin: 0 auto;
        width: 100px;
        color: $burgundy;
        box-sizing: border-box;
      }
    }
    .mat-tab-group {
      margin-top: 0px;

      .mat-tab-body-wrapper {
        margin-top: -2px;

        .mat-tab-body {
          top: 0;
        }
      }
      .mat-tab-body-content {
        > div {
          padding: 0 0.9375rem;

          &:nth-last-child(2) hr {
            display: none;
          }
        }
        #mobile-found-careers {
          border-bottom: 1px solid #ababab;
          margin-bottom: 20px;
        }
      }
      .mat-tab-header {
          padding: 0 10px;

        .mat-tab-labels {
          margin: 0 auto;
          max-width: 320px;

          .mat-tab-label {
            max-width: 30%;
            background-color: #efefef;
            color: #000;
            margin-right: 5%;

            &.mat-tab-label-active {
              background-color: #fff;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
    #mobile-found-careers {
        padding-top: 3px;

      #tools a {
        color: #911a07;
        margin-left: 7px;
      }
    }
  }
  .sort-by{
    text-align: center;
    border-top: medium none;
    margin-bottom: 3px;

    .sort-by select {
      margin-top: 7px;
    }

    strong {
      text-transform: inherit;
    }
  }
  .mo-p-0 {
    padding-left: 0;
    padding-right: 0;
  }
  ul.checked li {
    font-weight: bold;
  }
  .portfolio {
    .mat-tab-labels {
      margin: 0 auto;
      max-width: 218px;

      .mat-tab-label {
        min-width: 100px;
      }
    }
  }
  .orspan {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    margin-left: 0px;
  }
}
.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
  display: none !important;
}

@media screen and (max-width: 479px) {
  .sort-by select {
    display: block;
    margin: 8px auto 0;
  }
  .advanced-search {
    .mat-tab-group {
      .mat-tab-body-wrapper {
        margin-top: -1px;
      }
    }
  }
}

td [type='checkbox'] {
  margin: 0;
}

.mat-dialog-container {
  box-shadow: none;
    background: transparent;
}
.mat-dialog-content {
  overflow: visible;
}
mat-card.mat-card {
    padding: 0 0.9375rem;
    box-shadow: none !important;
}
mat-card.row.mat-card {
    padding: 0;
}
mat-card.column.mat-card {
    padding: 0 0.9375rem;
}

.favorites.unstriped {
  hr {
    border-color: #fff;
    margin-bottom: 0;
  }
  tbody tr {
      border-bottom: 0;
      background-color: #fff;
  }
}		

.cdk-global-overlay-wrapper .mat-dialog-container .mat-dialog-content, .cdk-global-overlay-wrapper .mat-dialog-container .custom-modal-body {
    max-height: inherit;
    max-width: 100%;
    margin: 0;
}
.cdk-global-overlay-wrapper .modal-options {
    padding: 0 !important;
}
.cdk-global-overlay-wrapper .mat-dialog-container {
    overflow: auto;
    max-height: 100%;
    height: auto;
  padding: 0;
}
.cdk-global-overlay-wrapper .custom-modal-body {
    max-height: inherit;
}
.cdk-global-overlay-wrapper .cdk-overlay-pane {
    max-width: 100% !important;
}
.cdk-global-overlay-wrapper .login_wrap .close-button {
    right: 15px !important;
    top: 1px !important;
}
.cdk-global-overlay-wrapper {
    padding: 10px;
}

.modal-options .custom-modal-body .contents {
  padding: 15px 0 !important;
}
.table-contents.border {
  overflow-x: scroll;
  overflow-y: auto;
}

/* Releted Career */
.releted-career {
  
  .columns:last-child {
    float: left;
  }

  strong {
    font-size: 13px;
  } 

  a {
    font-size: 13px;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* career-pathway */
#career-path {
  .msContent {
      position: relative;
      height: 100%;
    }
    #joinNav {
      position: absolute;
      width: 101%;
      height: 100%;
      border-radius: 400px;
      overflow: hidden;
      margin-left: -1px;
    }
    #joinLeft, #joinRight, #joinClose {
      background: url(\assets\images/nav.png) 30px 0 no-repeat #333;
      opacity: .75;
      width: 60px;
      height: 60px;
      border-radius: 60px;
      position: absolute;
      top: 50%;
      left: -25px;
      margin-top: -30px;
      
      &:hover {
        opacity: 1;
      }
    }
    #joinRight {
      background-position: 16px bottom;
      left: auto;
      right: -25px;
    }
    #joinClose {
      background-image: none;
      bottom: -25px;
      color: #fff;
      font-size: 30px;
      font-weight: bold;
      left: 50%;
      margin-left: -30px;
      top: auto;
    }
}
.career-detail .mat-card {
    font-family: "Open Sans",sans-serif;
}


@media screen and (min-width: 64em) {
  .home.fp-viewing-0 {
    header {
      border-bottom: 0;
        font-size: 15px;

      #logo {
          line-height: 120px !important;     

        img {
          width: 292px !important;
        }
      }

      #main-menu {
        display: table;
        height: 120px !important;

       ul#login {
         padding-bottom: 25px !important;

         li:first-child a{
            padding: 3px;
         }
       }

        ul {
          display: table-cell !important;
          border-right: 1px solid #e7e5e5 !important;
          text-align: center;
            vertical-align: bottom;
            padding-bottom: 20px !important;

            li#home {
                display: none;
            }

          .heading {
            display: block !important;
            text-align: center;
          }

          &#tabbed {
            display: none !important;
          }


          &#learn-more {
            li {
              position: relative;

              &:after {
                content: '|' !important;
                position: absolute;
                right: -4px;
                top: 5px;
              }
            }

            li.heading,
            li:last-child {
              &:after {
                content: initial !important;
              }
            }
          }


          &#login {

            .heading a {
              padding: 0;
            }

            li {
              display: block !important;
              text-align: center;
              
              a {
                text-transform: none;
              }

              &:last-child {
                a {
                  font-size: 15px;
                }
              }
            }
          }

          &:last-child {
            border-right: 0;
          }
        }
      }
    }
  }
}
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';



/* change these if you want */
.raterater-bg-layer {
  color: transparent; }

.raterater-hover-layer {
  color: rgba(255, 255, 0, 0.75); }

.raterater-hover-layer.rated {
  /* after the user selects a rating */
  color: yellow; }

.raterater-rating-layer {
  color: #000; }

.raterater-outline-layer {
  color: #000; }

.ratebox {
  display: inline-block; }

.ratings {
  margin-bottom: 1rem; }

.raterater-layer {
  min-width: 85px !important;
}
.raterater-rating-layer {
  svg {
    margin-left: 2.2px;
  }
}
/* don't change these - you might break something.. */
.raterater-wrapper {
  overflow: visible; }

.raterater-layer,
.raterater-layer i {
  display: block;
  position: absolute;
  overflow: visible;
  top: 2px;
  left: 0px; }

.raterater-hover-layer {
  display: none; }

.raterater-hover-layer i,
.raterater-rating-layer i {
  width: 0px;
  overflow: hidden; }
  
.starrr-label {
  display: inline-block;
  width: 80%;
  max-width: 150px; }

.star-icon {
    display: inline-block;
  line-height: normal !important;
}
  

/* social icon css */
.sb-button {
    margin: 0 !important;

  .sb-wrapper {
    min-width: 100%;
    height: 100%;
    line-height: normal;
  }
}
.career-detail .actions-large a i.favorite {
  color: #911a07 !important;
  position: relative;
  top: -3px;
  font-size: 28px;
  margin-right: 0;
}
.share > share-button:last-child {
    margin-right: -7px !important;
}

.padd-l-0 {
  padding-left: 0;
}
.padd-r-0 {
  padding-right: 0;
}
mat-progress-spinner {
  margin-right: auto;
  margin-left: auto;
}

///// Sitemap styles /////

.sitemap {
  
  .sitemap-title {
    color: #2f2867;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 39px;
  }
  h3 {
    margin-bottom: 1px;
    padding: 0;
  }
  .sitemap-links {
    margin-bottom: 29px;
    
    ul {
      list-style-type: none;
      margin: 0;
      
      li {
        margin-bottom: 3px;
      }     
    }   
    h3 {
      color: #000;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

///// Options styles - copied from options.components.scss which doesn't seem to be loading - 6/27/19 /////


$light-white: white;
$dark-black: black;
$light-green: #29afb5;
$navy: #2f2a6a; 
$burgundy: #911a07;
$body-font-family: "Open Sans", sans-serif;
$global-margin: 1rem;
$primary-color: #178388;
$medium-gray: #cacaca;

/// A list of named breakpoints. You can use these with the `breakpoint()` mixin to quickly create media queries.
/// @type Map
$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
) !default;

// Defining values
$small-range:   (0em, 40em);       /* 0, 640px */
$medium-range:  (40.063em, 64em);  /* 641px, 1024px */
$large-range:   (64.063em, 90em);  /* 1025px, 1440px */
$xlarge-range:  (90.063em, 120em); /* 1441px, 1920px */
$xxlarge-range: (120.063em);       /* 1921px */

// Defining media queries
$screen:       "only screen" !default;
$landscape:    "#{$screen} and (orientation: landscape)" !default;
$portrait:     "#{$screen} and (orientation: portrait)" !default;
$small-up:     $screen !default;
$small-only:   "(max-width: #{upper-bound($small-range)})" !default;
$medium:       "#{$screen} and (min-width:#{lower-bound($medium-range)})" !default;
$medium-only:  "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})" !default;
$large:        "#{$screen} and (min-width:#{lower-bound($large-range)})" !default;
$large-only:   "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})" !default;
$xlarge-up:    "#{$screen} and (min-width:#{lower-bound($xlarge-range)})" !default;
$xlarge-only:  "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})" !default;
$xxlarge-up:   "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})" !default;
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})" !default;



.title {
  color: $navy;
  font-weight: bold;
    margin-bottom: 0.5em; 
  text-transform: uppercase;
}

#boot-camp {
  margin-top: 25px;
  position: relative;

  ul.menu {
    position: relative;
    
    &:after {
      content: '';
      position: absolute;
      right: 0px;
      top: 0;
      bottom: 0;
      height: 100%;
      background: #7e7e7e;
      width: 1px;
    }
    li {
      border-bottom: 1px solid #c8c8c8;
      
      &:first-child {
        border-top: 1px solid #c8c8c8;
      }
      a {
        padding: .5rem;
        text-decoration: none;
        outline: none;
        
        &:hover, &.active {
          background: #ededed;
        }
      }
    }
  }
  ul.left-bar {
    padding-right: 15px;
  }
  .all-data {
    margin-top: 30px;
  }
  .service-data {
    ul {
      &:before, &:after {
        background: no-repeat;
      }
      li {
        text-align: left;
        list-style-type: none;
        border: none !important;
        margin: 15px 0;
        
        div.img {
          float: left;
          display: inline-block;
          vertical-align: middle;
        }
        span {
          float: left;
          display: inline-block;
          vertical-align: middle;
          line-height: 22px;
          width: 66%;
          font-size: 14px;
          margin-left: 10px;
        }
      }
      &.map {
        margin-left: 0;
        margin-bottom: 20px;
        
        li {
          display: inline-block;
          margin: 5px;
          padding: 10px;
          border: 1px solid #ccc !important;
          min-height: 82px;
          min-width: 100px;
          
          h6 {
            font-size: 14px;
            text-align: center;
            font-weight: normal;
          }
          img {
            display: block;
            margin: 0 auto;
            max-width: 30%;
          }
        }
      }
    }
    span.circle {
      width: 32px;
      height: 32px;
      background: #38979b;
      display: block;
      border-radius: 50%;
      margin: 0 auto;
      position: relative;
      
      svg {
        color: $light-white;
        line-height: 32px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
    @media (max-width: 39.9375em) {
      .map_btn, .list_btn {
        font-size: 14px;
      }
    }
  }
  @media (max-width: 39.9375em) {
    .menu {
      display: none;
    }
  }
}
#Military-table {
  @media (max-width: 39.9375em) {
    display: block;
    width: 100%;
  }
  h5 {
    font-size: 15px;
    font-weight: bold;
    color: #585858;
    text-transform: uppercase;
    margin-top: 5px;
    text-align: center;
    
    @media (max-width: 39.9375em) {
      font-size: 13px;
    }
  }
  td {
    border-right: 1px solid #bfbfbf;
    width: 20%;
    text-align: left;
    
    @media (max-width: 39.9375em) {
      display: block;
      width: 48%;
      height: 190px;
      padding: 10px;
      margin: 1%;
      float: left;
      border: 1px solid #bfbfbf;
    }
    &:last-child {
      border-right: none;
      
      @media (max-width: 39.9375em) {
        border: 1px solid #bfbfbf;
      }
    }
    img {
      display: block;
      margin: 0 auto;
    }
  }
}
#Military-table table tbody {
    display: inline-table;
    width: 100%;
}

.data-table {
  margin-top: 20px;
  
  @media (max-width: 39.9375em) {
    display: block;
    width: 100%;
    overflow-x: scroll;
  }
  h5 {
    margin-bottom: 0;
    font-size: 0.927rem;
    color: #2f2a6a;
    font-weight: bold;
    padding: 6px 0;
    text-transform: uppercase;
  }
  table tr {
    &:nth-child(2n) {
      background-color: transparent;
    }
    &:nth-child(2) {
      border-bottom: 1px solid #c9c9c9;
    }
    &:nth-child(2), &:nth-child(3) {
      td {
        border-right: 1px solid #c9c9c9;
        width: 20%;
        
        &:last-child {
          border-right: none;
        }
      }
    }
  }
  ul {
    margin-left: 0;
    margin-bottom: 0;
    
    &:after{
      background: none !important;
    }
    li {
      border: none !important;
      border-right: none;
      list-style-type: none;
    }
  }
  @media (max-width: 39.9375em) {
    p {
      font-size: 14px;
    }
  }
}

.boot-camp-header {
  background: #efefef;
  padding: 0;
  
  a {
    line-height: 35px;
  }
}
#physical-fitness {
  table {
    h6 {
      font-size: 15px;
      
      @media (max-width: 39.9375em) {
        text-align: center;
      }
    }
    ul li {
      margin: 15px 0;
      text-align: left;
      
      @media (max-width: 39.9375em) {
        text-align: center;
      }
      &:first-child {
        margin: 0 0 15px 0;
      }
      div.img {
        float: left;
        display: inline-block;
        vertical-align: middle;
        
        @media (max-width: 39.9375em) {
          width: 100%;
          float: none;
        }
      }
      span {
        float: left;
        display: inline-block;
        vertical-align: middle;
        line-height:22px;
        width: 66%;
        font-size: 14px;
        margin-left: 10px;
        
        @media (max-width: 39.9375em) {
          width: 100%;
          float: none;
        }
      }
    }
    tr {
      td {
        width: auto;
        width: 20%;
      }
      &:nth-child(2) {
        border-bottom: none;
      }
      &:nth-child(4) td {
        border-right: 1px solid #c9c9c9;
        
        &:last-child {
          border-right: none;
        }
      }
    }
  }
  span.circle {
    width: 32px;
    height: 32px;
    background:#38979b;
    display: block;
    border-radius: 50%;
    position: relative;
    
    svg {
      color: $light-white;
      text-align: center;
      line-height: 32px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}
.contact-bar {
  background-color: #e1f0f0;
  padding: 2px 0;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
  
  @media (max-width: 39.9375em) {
    padding: 10px 0;
  }
  a {
    color: #38979b;
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    font-size: 1.35rem;
    
    @media (max-width: 39.9375em) {
      font-size: 13.5px;
    }
  }
}

#navy-modal, #marine-modal {
  table tr {
    > td, > th {
      border-right: 1px solid #ccc;
      
      &:last-child {
        border-right: none;
      }
    }
  }
  &.modal {
    left: 0;
    top: 0;
    padding: 0;
  }
}
.nav-base-head {
  margin-top: 40px;
  text-transform: uppercase;
  color: #2f2a6a;
  font-size: 15px;
}
#navy-modal {
  table.table2 table.inner_table tr th {
    text-align: center !important;
  }
  table tbody tr:nth-of-type(2) {
    background: none !important
  }
  .small-12 {
    margin-bottom: 20px;
    
    &:nth-of-type(2) {
      > table > tbody > tr:nth-child(1) td:nth-child(1) {
        border-bottom: 1px solid #ccc;
      }
      table tr {
        &:nth-child(odd) {
          background: #f1f1f1;
        }
        &:nth-child(even) {
          background: $light-white;
        }
        &:nth-child(1) {
          background: $light-white;
        }
      }
    }
    @media (max-width: 39.9375em) {
      overflow: auto;
    }
  }
}
#marine-modal {
  .nav-base-head {
    margin: 20px 0 20px 0;
  }
  .tables {
    &:nth-of-type(3) {
      margin-bottom: 20px;
    }
    &:nth-of-type(1), &:nth-of-type(2) {
      tr td {
        width: 25%
      }
    }
  }
  .army-modal .tables tr td {
    width: 20%;
  }
  .air-force-modal .tables tr td {
    width: auto;
  }
  .coast-guard-modal .tables tr td {
    width: 16%;
    
    &:last-child {
      width: 40%;
    }
  }
  @media (max-width: 39.9375em) {
    .small-12 {
      overflow: auto;
    }
  }
}
.map-view {
  display: none;
  
  .map-table {
    width: 100%;
    margin-top: 58px;
    
    table tr {
      td {
        border-right: 1px solid #bfbfbf;
      }
      &:first-child {
        border-bottom: 1px solid #bfbfbf;
        
        td {
          border-right: none;
        }
      }
      &:nth-child(2) {
        border-bottom: none;
        
        td {
          padding: 15px 0;
        }
      }
    }
  }
}
.list_btn {
  display: none;
}
.service-data {
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
  
  .rows {
    padding: 15px;
    
    &:nth-of-type(1) {
      text-align: center;
    }
  }
  .map_btn, .list_btn {
    line-height: 32px;
  }
  .more {
    text-align: center;
    
    a {
      display: inline-block;
    }
  }
  .map-view .map-table {
    margin-top: 0;
  }
}
.section-head {
  display: inline-block;
  
  h5 {
    font-weight: bold;
    text-transform: uppercase;
  }
}
.data-table-head {
  background: #efefef;
  padding:0px 15px;
  
  h5 {
    margin-bottom: 0;
    font-size: 0.927rem;
    color: #2f2a6a;
    font-weight: bold;
    padding: 6px 0;
    text-transform: uppercase;
  }
}
div.map {
  margin-top: 30px;
}


@-webkit-keyframes scaleUp {
  0% { }
  100% { -webkit-transform: scale(1); opacity: 1; }
}
@keyframes scaleUp {
  0% { }
  100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}
.boot-camp-purple-box {
    background-color: #2f2a6a;
    color: $light-white;
    padding: 20px 24px;
  
  @media (max-width: 39.9375em) {
    padding: 18.5px 28.5px 21px;
    margin: 0 -1rem 11px;
  }
  
  > p {
    font-size: 13px;
    line-height: 18px;
    
    @media (max-width: 39.9375em) {
      font-size: 12.5px;
      line-height: normal;
    }
    &:last-child {
      margin-bottom: 0;
      margin-top: 25px;
    }
  }
}
.boot-camp-box {
    border: 1px solid #616060;
  
  .boot-camp-img-mobile {
    display: none;
    
    @media (max-width: 39.9375em) {
      display: block;
    }
  }
  @media #{$medium} {
    > img {
      width: 100%;
    }
  }
  @media (max-width: 39.9375em) {
    > img {
      width: 100%;
    }
    .boot-camp-img-desktop {
      display: none;
    }
  }
}
.boot-camp-inner-box {
  padding: 13px 15px 14px;
  
  @media (max-width: 39.9375em) {
    padding: 9.5px 14px 12px;
  }
  span {
    color: #3a8f93;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    
    @media (max-width: 39.9375em) {
      font-size: 12.5px;
    }
  }
  h4 {
    color: $burgundy;
    font-family: $body-font-family;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: -2px;
    
    @media (max-width: 39.9375em) {
      font-size: 17.5px;
      line-height: 19px;
    }
  }
}
.boot-camp-gray-box {
    background-color: rgba(168, 168, 168, 0.15);
    border: 1px solid #616060;
    padding: 14px 22px 10px 16px;
  
  @media (max-width: 39.9375em) {
    padding: 17.5px 25px;
  }
  a {
    display: table;
    width: 100%;
  }
  span {
    color: #3a8f93;
    display: table-cell;
    font-size: 13px;
    font-weight: bold;
    vertical-align: middle;
    
    @media (max-width: 39.9375em) {
      font-size: 13.5px;
    }
  }
  img {
    display: table-cell;
    float: right;
  }
}
.boot-camp-dark-gray-box {
    background-color: rgba(170, 170, 170, .65);
    border: 1px solid #616060;
    color: $light-white;
    padding: 30px 22px 34px 16px;
  
  @media (max-width: 39.9375em) {
    padding: 17.5px 19px 27.5px 20.5px;
  }
  h4 {
    font-size: 27px;
    line-height: normal;
    margin-bottom: 0;
    font-family: $body-font-family;
    
    @media (max-width: 39.9375em) {
      font-size: 27.86px;
    }
  }
  h1 {
    font-size: 54px;
    font-weight: bold;
    font-family: $body-font-family;
    margin-bottom: 0;
    line-height: 61px;
    
    @media (max-width: 39.9375em) {
      font-size: 65.95px;
      line-height: 55px;
    }
    .dollar {
      font-size: 44px;
      position: relative;
      top: -3px;
      line-height: 44px;
      
      @media (max-width: 39.9375em) {
        font-size: 54.5px;
        top: -4px;
      }
    }
  }
  h3 {
    color: $light-white;
    font-family: open sans;
    font-size: 37px;
    text-transform: unset;
    margin-bottom: 0;
    
    @media (max-width: 39.9375em) {
      font-size: 44.98px;
    }
  }
  .h4last {
    margin-top: 3px;
    
    @media (max-width: 39.9375em) {
      font-size: 14px;
    }
    > span {
      font-size: 21px;
      display: inline-block;
      margin-top: 2px;
      
      @media (max-width: 39.9375em) {
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
  &.small-box {
    padding: 16px 26px 8px;
    
    @media (max-width: 39.9375em) {
      padding: 18px 22px 19px;
    }
    > p {
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 0;
      
      @media (max-width: 39.9375em) {
        font-size: 17.5px;
        line-height: 22px;
        margin-bottom: 8px;
      }
    }
    h1 {
      font-size: 60px;
      
      @media (max-width: 39.9375em) {
        font-size: 82.7px;
      }
      .plus {
        font-size: 45px;
        position: relative;
        top: -3px;
      }
    }
  }
}

.video-img {
    cursor: pointer;
    transition: 0.3s;
  
  &:hover {
    opacity: 0.7;
  }
}

.modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $dark-black;
  opacity: 0.8;
  top: 0;
  left: 0;
  z-index: 100;
}
.modal-close {
  color: $light-white;
  font-size: 30px;
  line-height: .5;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  
  &:hover {
    opacity: .5;
  }
}

// Option Military
#Military-table {
  &.military-list-table {
    margin-bottom: 50px;
    
    h5 {
      color: #178388;
      font-size: 14px;
      margin-top: 15px;
      margin-bottom: 16px;
    }
    td {
      text-align: center;

      img {
        margin: 0 auto;
      }
    }
  }

  span.circle {
    width: 32px;
    height: 32px;
    background:#38979b;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    
    svg {
      color: $light-white;
      text-align: center;
      line-height: 32px;
      vertical-align: middle;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}
.option-military-nutshell {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 30px;
}
.service_fav_text.career-detail {
  overflow: hidden;
  position: relative;
}
.career-detail {
  > h3 {
    color: $dark-black;
    font-size: 13px;
    text-transform: none;
  }
}
.army_text {
  ul {
    display: inline-block;
    list-style-type: none;
    margin-bottom: 35px;
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
    
    li {
      border-bottom: 3px solid #eee;
      float: left;
      margin-right: 1.5%;
      min-height: 96px;
      width: 18.8%;
      
      @media (max-width: 39.9375em) {
        display: block;
        width: 100%;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  h3 {
    background-color: #eee;
    font-size: 12px;
    padding: 2px 10px;
    text-transform: none;
  }
  p {
    font-size: 11px;
    margin-bottom: 0;
    padding: 2px 10px;
  }
}
.service_fav_text {
  background-color: #eeeeee;
  padding-top: $global-margin;
  margin-bottom: 76px;
  
  > h3 {
    margin-bottom: 1.3rem;
    text-align: center;
  }
  #Military-table td {
    text-align: center;
    
    @media (max-width: 39.9375em) {
      border: 0;
    }
    img {
      margin: 0 auto;
    }
    &:first-child img {
      position: relative;
      right: -5px;
    }
    h5 {
      color: $dark-black;
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 6px;
    }
  }
}

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  #Military-table td {
    display: block;
    width: 48%;
    height: 190px;
    padding: 12px;
    margin: 1%;
    float: left;
    border: 1px solid #bfbfbf !important;
  }
  .service_fav_text #Military-table td {
    border: 0 !important;
    height: 150px;
  }
}

.sidebar-lhs {
  @media (max-width: 39.9375em) {
    .menu {
      display: none;
    }
  }
  .menu-dropdown {
    display: none;
    
    @media (max-width: 39.9375em) {
      background-color: transparent;
      color: #474747;
      display: block;
      font-size: 13px;
      font-weight: bold;
      height: auto;
      margin-bottom: $global-margin;
      width: 100%;
    }
  }
}

.boot-camp-grid {
    list-style-type: none;
  
  &.row {
    margin-left: -9px;
    margin-right: -9px;
    
    @media #{$medium} {
      margin-left: -8px;
      margin-right: -8px;
    }
  }
  > .column {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 9px;
    padding-right: 9px;
    
    @media (max-width: 39.9375em) {
      &:first-child {
        margin-top: 0;
      }
    }
  }
  li.animate {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-animation: scaleUp 0.65s ease-in-out forwards;
    animation: scaleUp 0.65s ease-in-out forwards;
  }
}

.video-modal {
  display: block;
  padding: 30px;
  left: 50%;
  top: 50%; 
  position: fixed;
  z-index: 500;
  
  &.size-m {
    width: 600px;
    height: 400px;
    
    @media (max-width: 39.9375em) {
      width: 100%;
    }
  }
  &.size-l {
    width: 700px;
    height: 500px;
    
    @media (max-width: 39.9375em) {
      width: 100%;
    }
  }
  &.size-s {
    width: 500px;
    height: 300px;
    
    @media (max-width: 39.9375em) {
      width: 100%;
    }
  }
}
.modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $dark-black;
  opacity: 0.8;
  top: 0;
  left: 0;
  z-index: 100;
}
.modal-close {
  color: $light-white;
  font-size: 30px;
  line-height: .5;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  
  &:hover {
    opacity: .5;
  }
}

.purple-title-box {
  background-color: #efefef;
  color: $navy;
  font-size: 0.927rem;
  font-weight: bold;
  margin-bottom: 0;
  padding: 6px 15px;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.left-border {
  border-left: 1px solid #bfbfbf;
  
  @media (max-width: 39.9375em) {
    border-left: none;
  }
}

.bold-link {  
  span {
    color: #c0c0c0;
    margin: 0 18px;
  }
}

.bodysize {
  font-size: 15px;
}

.panel-group {
  margin-bottom: 13px;
  
  .panel-title > a {
    > span span {
      color: #231f20;
    }
    &:focus > span span {
      color: #147175;
    }
  }
  .panel-body {
    padding: 30px 0 25px;
    
    ul.list {
      list-style-type: disc;
      padding-left: 15px;
      
      li {
        padding-left: 10px;
      }
    }
    ul li {
      line-height: 20px;
    }   
  }   
}

.full-black-text {
  color: $dark-black;

  ul {
    list-style: none;
    margin: 0px;
    padding: 0;
    line-height: normal;
  }
  .armyul {
    margin: 0 0 25px;
  } 
  p {
    line-height: normal;
    margin-bottom: 25px;
  }
}

.enlisted-vs-officer {
  font-size: 13px;
  
  p:last-child {
    margin-bottom: 0;
  }
  
  @media #{$medium-only} {
    .bold-link > a {
      display: inline-block;
      text-align: left;
      width: 100%;
    }
    .bold-link > span {
      display: none;
    }
  }
  
  @media (max-width: 39.9375em) {
    p:last-child {
      margin-bottom: 20px;
    }
    .bold-link > a {
      font-size: 12px;
    }
    .bold-link > span {
      margin: 0;
    }   
  }
  
  .enlisted-rightmenu {
    background: #efefef;
    padding: 20px;
    
    li {
      margin-bottom: 14px;
      
      a {
        color: $dark-black;
        
        img {
          margin-right: 16px;
        }
      }

      p {

        img {
          margin-right: 12px;
        }
      }
    }
    @media #{$medium-only} {
      padding: 15px 10px;
      
      li a img {
        margin-right: 10px;
      }
    }
  } 
}

.enlistment-process {
  font-size: 13px;
  
  ol {
    margin-bottom: 25px;
    
    li {
      padding-left: 20px;
    }
  }

}

.becoming-and-officer {
  font-size: 13px;
  
  ul {
    list-style-type: disc;
    padding-left: 15px;
    margin-bottom: 25px;
    
    li {
      padding-left: 10px;
    }
  }
  .officer-video {
    border: 1px solid #616060;
    cursor: pointer;
    margin-top: 14px;
    
    @media (max-width: 39.9375em) {
      margin-bottom: 15px;
      margin-top: 0;
      width: 100%;
    }
  }
}

.service-lists {
  > span {
    display: block;
    margin-bottom: 8px;
  }
   > ul.row {
    list-style-type: none;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 0;
    
    > li {
      padding-right: 10px;
    }
  }
  .service-lists-info {
    border-top: 1px solid;
    padding: 6px 0 26px;
    
    @media (max-width: 39.9375em) {
      padding-bottom: 6px;
    }
  }
}

.citm-detail-service-specific {
  color: $dark-black;
  
  h2 {
    span {
      color: #616060;
      font-weight: normal;
      margin-right: 5px;
      text-transform: uppercase;
    }
    .actions i {
      color: #961b0d;
    }
  }
}

.learn-more-box {
  display: table;
  margin: 28px 0 47px;

  @media (max-width: 39.9375em) {
    margin: 5px 0 20px;
  }
  
  .learn-more-box-left {
    background-color: #efefef;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 139px;
    
    @media #{$medium-only} {
      width: 120px;
    }
    @media (max-width: 39.9375em) {
      display: block;
      padding-top: 20px;
      width: 100%;
    }
  }
  .learn-more-box-right {
    display: table-cell;
    vertical-align: middle;
    
    @media (max-width: 39.9375em) {
      display: block;
    }
  }
  .learn-more-box-right-inner {
    background-color: #efefef;
    display: table;
    margin-left: 7px;
    padding: 20px 0 3px 37px;
    
    @media #{$medium-only} {
      padding: 17px 20px 7px;
    }
    @media (max-width: 39.9375em) {
      float: left;
      margin-left: 0;
      padding: 20px 20px 7px;
    }
  }
  .learn-more-box-right-item {
    position: relative;
    margin-bottom: 6px;
    float: left;
    width: 100%;
    
    @media #{$medium-only} {
      margin-bottom: 0;
    }
    > img {
      left: 0;
      position: absolute;
      top: 0;
      
      @media #{$medium-only} {
        max-width: 20px;
      }
      @media (max-width: 39.9375em) {
        max-width: 25px;
      }
    }
    h6 {
      padding-left: 51px;
      text-transform: capitalize;
      
      @media #{$medium-only} {
        font-size: 14px;
        padding-left: 30px;
        margin-bottom: 5px;
      }
      @media (max-width: 39.9375em) {
        font-size: 14px;
        padding-left: 40px;
      }
    }
    .active-duty {
      text-transform: capitalize;
      color: #1f8d92;
      font-weight: bold;
      margin-left: 13px;
      
      @media #{$medium-only} {
        margin-left: 0;
        display: inline-block;
        width: 100%;
      }
      @media (max-width: 39.9375em) {
        float: left;
        margin: 0;
        width: 100%;  
      }
      > span {
        color: $dark-black;
        font-weight: bold;
        margin: 0 15px;
        
        @media #{$medium-only} {
          margin: 0;
        }
        
      }
    }
    .learn-more-box-greentext {
      color: #1f8d92;
    }
  }
}

.garybg-samlltitle {
  background: #efefef;
  font-size: 15px;
  font-weight: bold;
  padding: 1px 0 2px;
  margin-bottom: 22px;
  margin-top: 10px;
}

.life-list {
  > p {
    margin-bottom: 7px;
  }
  > ul {
    list-style-type: none;
    margin: 0;
  }
  @media (max-width: 39.9375em) {
    margin-bottom: 20px;
  }
}

.small-toggle {
  p {
    margin-bottom: 7px;
  }
  .panel-group {
    .panel-heading {
      background-color: transparent;
      padding: 0;
      
      .panel-title > a > span i {
        color: #008E90;
        float: left;
        font-size: 12px;
        margin-top: 5px;
        position: static;
      }
      .panel-title > a > span span {
        margin-left: 10px;
        color: $primary-color;
        font-weight: normal;
        font-size: 13px;
        width: auto;
        padding-right: 0;
      }
    }
    .panel-body {
      padding: 10px 0;
    }
  }
}

.career-cluster {
  font-size: 13px;
  
  .panel-group{
    margin-bottom: 50px;
    
    .panel-body a {
      display: block;
      margin-top: 5px;
    }
  }
  .career-cluster-logo {
    display: block;
    margin: 0 auto 20px;
  }
  .pathway-list {
    border-bottom: 1px solid $medium-gray;
    margin-bottom: 30px;
    padding-bottom: 30px;
    
    @media (max-width: 39.9375em) {
      margin-bottom: 15px;
      padding-bottom: 15px;
      }
    &:last-child {
      margin-bottom: 10px;
      
      @media (max-width: 39.9375em) {
        border-bottom: none;
        margin-bottom: 0;
      }
    }
    ul {
      line-height: 1.6;
      list-style-type: disc;
      margin-bottom: 25px;
      padding-left: 15px;
    }
    .pathway-img {
      display: inline-block;
      float: right;
      max-width: 276px;
      
      @media (max-width: 39.9375em) {
        display: block;
        float: none;
      }
    }
  }
  .search-bar {
    margin-bottom: 30px;
  }
}

.faq {
  font-size: 13px;
  
  h6 {
    margin-bottom: 16px;
    text-transform: none;
  }
  .panel-group .panel-title > a > span span {
    text-transform: uppercase;
  }
}

.contact-form {
  label {
    color: #231f20;
    float: left;
    font-weight: bold;
    max-width: 102px;
    width: 100%;
  }
  select {
    background-color: transparent;
    height: 1.25rem;
    max-width: 186px;
    padding: 0 5px;
    
    @media #{$medium-only} {
      max-width: 180px;
    }
    @media (max-width: 39.9375em) {
      margin-bottom: 0;
      max-width: 180px;
    }
  }
  input {
    color: $dark-black;
      font-size: 12px;
      display: inline;
    height: 1.25rem;
    max-width: 236px;
    padding: 0 5px;
    
    @media #{$medium-only} {
      max-width: 180px;
    }
    @media (max-width: 39.9375em) {
      margin-bottom: 0;
      max-width: 180px;
    }
  }
  .zip-code > input {
    max-width: 93px;
  }
  .city, .state {
    > input {
      max-width: 186px;
      
      @media #{$medium-only} {
        max-width: 180px;
      }
      @media (max-width: 39.9375em) {
        max-width: 180px;
      }
    }
  }
  textarea {
    height: 119px;
    max-width: 601px;
    
    @media #{$medium-only} {
      max-width: 480px;
    }
    @media (max-width: 39.9375em) {
      margin-bottom: 0;
      max-width: 180px;
    }
  }
  .btn-submit {
    background-color: $light-green;
    color: $light-white;
    font-weight: bold;
    height: 21px;
    margin-left: 102px;
    margin-top: 55px;
    padding: 0 21px;
    
    @media (max-width: 39.9375em) {
      margin-top: 0;
    }
    &:hover {
      background-color: $primary-color;
    }
  }
  .form-column {
    float: left;
    max-width: 370px;
    width: 100%;
    
    @media #{$medium-only} {
      max-width: 300px;
    }
    @media (max-width: 39.9375em) {
      &:first-child {
        margin-bottom: 15px;
      }
    }
  }
  input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .radio-group {
    .form-column {
      position: relative;
    }
    label {
      line-height: 12px;
      margin: 0;
      max-width: inherit;
      position: relative;
      width: auto;
      
      &:after {
        border: 1px solid #999999;
        border-radius: 50%;
        content: "";
        display: inline-block;
        height: 14px;
        margin-left: 16px;
        vertical-align: middle;
        width: 14px;
      }
    }
    input:checked + label:before {
      background-color: $light-green;
      border-radius: 50%;
      content: "";
      display: inline-block;
      height: 10px;
      position: absolute;
      right: 2px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      vertical-align: middle;
      width: 10px;
    }
  }
  .form-ssq {
    > p {
      margin: 10px 0 14px;
    }
    > ul {
      margin-bottom: 15px;
      
      > li {
        float: left;
        width: 20%;
        
        @media #{$medium-only} {
          margin-bottom: 10px;
          min-height: 98px;
          width: 33.33%;
        }
        @media (max-width: 39.9375em) {
          margin-bottom: 15px;
          width: 100%;
          
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    ul ul {
      .checkbox > label {
        font-size: 12px;
        font-weight: normal;
      }
    }
  }
  .checkbox {
    margin: 0;
    
    input {
      max-width: inherit;
    }
    label {
      float: none;
      font-size: 15px;
      margin: 0;
      max-width: inherit;
      padding-left: 25px;

      &:after {
        border: 1px solid #999999;
        content: "";
        display: inline-block;
        height: 14px;
        left: 0;
        margin-left: 0;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        vertical-align: middle;
        width: 14px;
      }
    }
    input:checked + label:before, input[checked] + label:before {
      background-color: $light-green;
      content: "";
      display: inline-block;
      height: 10px;
      left: 2px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      vertical-align: middle;
      width: 10px;
    }
  }
}

.career-profile {
  font-size: 13px;
  
  .title {
    font-size: 20px;
    margin-bottom: 0;
  }
  .sub-title {
    color: $navy;
    font-size: 20px;
    margin-bottom: 0;
  }
  > .row > hr {
    margin-top: 10px;
  }
  h5 {
    color: #93210f;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0px;
    
    @media (max-width: 39.9375em) {
      line-height: normal;
    }
  }
  p {
    margin-bottom: 25px;
  }
  .share-topspace {
    margin-top: 34px;
  }
  .career-inner-title {
    color: #2f2a6a;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 25px;
    
    > span {
      font-style: italic;
    }
  }
  .full-black-text {
    margin-bottom: 30px;
    margin-top: 10px;
  }
}

.snap-shot-slides-main {
  position: relative;
  
  @media (max-width: 39.9375em) {
    margin-bottom: 30px;
  }
  
  .snap-small {
    background-color: #e7e7e7;
    color: #2f2a6a;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 1px;
    margin-right: 1px;
    margin-top: 1px;
    padding-left: 15px;
    position: absolute;
    text-transform: uppercase;
    top: 7px;
    width: 100%;
    z-index: -1;
    
    > b {
      color: #000;
      display: inline-block;
      text-transform: none;
      width: 100%;
    }   
    
    }
}

.snap-shot-slides{
  border: 7px solid #d7d7d7;
  
  
  .snap-shot-inner {
    display: inline-block;
    padding: 55px 60px 30px;
    
    h4 {
      color: #93210f;
      font-size: 20px;
      font-weight: bold;
      line-height: normal;
      margin-bottom: 10px;
    }     
  }
  .slick-prev {
    background-color: transparent;
    left: 0;
  }
  .slick-next {
    background-color: transparent;
    right: 0;
  }   
  
}

.slick-slider {
    position: relative;
    display: block;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
  
  &:focus {
    outline: none;
  }
  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
  position: relative;
  
  img {
    display: block;
    width: 100%;
  }
  &.slick-loading img {
    display: none;
  }
  &.dragging img {
    pointer-events: none;
  }
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-loading {
  .slick-track {
    visibility: hidden;
  }
  .slick-slide {
    visibility: hidden;
  }
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow {
  background-color: rgba(6, 2, 3, 0.47);
  border-radius: 50%;
  position: absolute;
  top: 40%;
  height: 36px;
    padding: 0;
    width: 36px;
  z-index: 1;

  &.slick-hidden {
    display: none;
  }
  &.slick-prev {
    left: 20px;
    
    @media (max-width: 39.9375em) {
      left: 10px;
    }
  }
  &.slick-next {
    right: 20px;
    
    @media (max-width: 39.9375em) {
      right: 10px;
    }
  }
}

.recently-profiles, .recently-careers {
  > h6 {
    font-size: 15px;
  }
  ul > li {
    margin-bottom: 5px;
  }
}

.recently-profiles > ul {
  margin-bottom: 50px;
}

.recently-careers {
  > span {
    display: block;
    font-weight: 600;
    margin-bottom: 7px;
  }
  > ul {
    margin-bottom: 30px;
  }
}

.pay-section {
  font-size: 13px;
  
  .military-pay {
    background-color: $light-green;
    display: block;
    font-size: 12px;
    margin: 0 auto 22px;
    padding: 6px 14px;
    
    &:hover {
      background-color: $primary-color;
    }
  }
}

@media #{$large} {
  #pay-modal .modal-lg {
    max-width: 610px;
  }
}

.pay-text-modal, .rank-text-modal {
  color: $dark-black;
    margin-bottom: 2rem;
  
  > p {
    line-height: normal;
  }
  label {
    color: $dark-black;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: normal;
    margin-right: 10px;
  }
  select {
    background-color: transparent;
    margin-bottom: .8rem;
    max-width: 186px;
    width: 100%;
  }
  .nav-base-head {
    font-size: 13px;
    line-height: normal;
    margin: 0;
  }
}

.pay-text-modal {
  .basic-pay {
    .nav-base-head {
      margin-bottom: -3px;
    }
    > span {
      color: #535353;
      font-size: 12px;
    }
    > table {
      color: $dark-black;
      margin-top: 8px;
    }
  }
  .benefits-pay > p {
    color: $dark-black;
    line-height: 15px;
    margin-bottom: 30px;
  }
}

.rank-text-modal {
  .nav-base-head {
    margin-bottom: 10px;
  }
  select {
    margin-bottom: 0;
  }
  table td {
    vertical-align: top;
    
    &:first-child {
      padding-right: 0;
    }
  }
  .officer-table td:first-child {
    max-width: 30px;
  }
}

.contact-text-modal {
  .air-force-check {
    margin-bottom: 50px;
    
    @media (max-width: 39.9375em) {
      margin-bottom: 20px;
    }
    > img {
      display: inline-block;
      margin-right: 25px;
      vertical-align: middle;
      
      @media (max-width: 39.9375em) {
        margin-bottom: 10px;
      }
    }
    > ul {
      display: inline-block;
      vertical-align: middle;
      
      ul {
        .checkbox {
          display: inline-block;
          width: 185px;
          
          @media (max-width: 39.9375em) {
            display: block;
            width: 100%;
          }
        }
        .tel-number {
          color: #3c4247;
          display: inline-block;
          font-size: 12px;
          margin: 0;
          
          @media (max-width: 39.9375em) {
            padding-left: 25px;
          }
        }
      }
    }
  }
  .btn-close {
    background-color: $light-green;
    height: 21px;
    
    &:hover {
      background-color: $primary-color;
    }
  }
  .contact-form {
    @media #{$medium-only} {
      .form-column {
        max-width: 50%;
      }
      label {
        max-width: 90px;
      }
      input {
        max-width: 150px;
      }
      textarea {
        max-width: 436px;
      }
      .checkbox label {
        max-width: 100%;
      }
    }
    @media (max-width: 39.9375em) {
      input, select, textarea {
        max-width: 170px;
      }
    }
  }
}

#contact-modal {
  .close-button-div {
    margin-left: 102px;
    text-align: left;
    
    @media #{$medium-only} {
      margin-left: 90px;
    }
    .button {
      padding: 4px 20px;
      
      &:last-child {
        margin-left: 34px;
        
        @media (max-width: 39.9375em) {
          display: block;
          margin-left: 0;
          margin-top: 10px;
        }
      }
    }
  }
}

.reason-section {
  font-size: 13px;
  
  h5 {
    color: $burgundy;
    font-size: 21px;
    margin-bottom: 14px;
  }
  .reason-video-item {
    border-bottom: 1px solid #cacaca;
    margin-bottom: 42px;
    padding-bottom: 54px;
    
    @media #{$medium-only} {
      margin-bottom: 32px;
      padding-bottom: 44px;
    }
    @media (max-width: 39.9375em) {
      margin-bottom: 20px;
      padding-bottom: 28px;
      
      .text-right {
        margin-top: 6px;
        text-align: left;
      }
    }
    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  .reason-video-box {
    border: 1px solid #616060;
    margin-bottom: 6px;
  }
}

.officer-school-table tr {
    border-bottom: 1px solid #ccc;
  
  &:nth-child(2n) {
    background-color: transparent;
  }
  &:last-child {
    border-bottom: none;
  }
  td {
    border-left: 1px solid #ccc;
    line-height: normal;
    padding: .38rem 1rem .28rem;
    vertical-align: top;
    white-space: nowrap;
    
    @media #{$medium-only} {
      padding: .38rem .6rem .28rem;
      white-space: normal;
      
      br {
        display: none;
      }
    }
    &:first-child, &:nth-child(2) {
      border-left: none;
    }
    &:first-child {
      padding-left: 0;
      
      @media #{$medium-only} {
        padding-right: 0;
      }
    }
  }
}

.officer-school-mobile-table tr td {
  vertical-align: top;
  
  &:first-child {
    width: 120px;
  }
}

.career-detail {
  .score-link {
    font-size: 13px;
    padding-top: 30px;
    text-align: right;
    white-space: nowrap;
  }
  
  .comp-score-link {
    background-color: #e1f0f0;
    margin: 35px 0;
    padding: 10px 0;
    text-align: center;
    
    a {
      color: #38979b;
      text-align: center;
      margin-bottom: 0;
      font-weight: bold;
      text-transform: uppercase;
      display: block;
      font-size: 14px;
      
      @media (max-width: 39.9375em) {
        font-size: 13.5px;
      }
    }
  }
}

.career-list-section {
    margin-top: 60px;
  
  @media (max-width: 39.9375em) {
    margin-top: 30px;
  }
}

@media (max-width: 39.9375em) {
  .sticky-wrapper  {
    display: none;
  }
  #MapModal .close-button {
    right: 0;
    top: 0
  }
  .search-bar {
    margin-bottom: 20px;
  } 
  .career-mobile-slider {
    background-color: #dedede;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: -19px;
    padding: 20px 0;
    width: 100%;
    
    .career-slider {
      margin-bottom: 0;
    }
    .career-inner-title {
      font-size: 12px;
      margin-bottom: 0;
    }
  }
  .career-mobile-slider-details {
    font-size: 10px;
    margin-bottom: 20px;
  }
}


@media screen and (max-width: 678px) {
  .slide-mobile-style .owl-carousel .owl-nav {
    top: -45px;
    right: 0;
  }
}

@media screen and (max-width: 639px) {
  .enlisted-vs-officer .enlisted-rightmenu {
    margin-top: 25px;
  }
  #boot-camp .all-data {    
    margin-top: 20px !important;    
  }
  .tools-careers #pagination {
    right: 55px;
  }
  .army_text ul li {
    min-height: 85px;
    margin-right: 0;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .slide-mobile-style .owl-carousel .owl-nav {
    top: -85px;
  }
  #Military-table {
    overflow: scroll;
  }
  #boot-camp .option-title h3 {
    font-size: 16px;
  }
  .tools-careers #pagination {
    top: -40px;
  }
  .career-title {
    margin-bottom: 20px !important;
  }
  .recaptcha .rc-anchor-normal{
    width: 238px;
  }
  .recaptcha-part > div > div > div {
      text-align: left;
      overflow: hidden;
      width: auto !important;
      height: auto !important;
  }
  .captcha-sec .recaptcha-part iframe {
      transform: scale(0.78);
      margin-left: -33px;
  }
  .alert-banner {
    line-height: 1em;
  }
}

.banner-active #fullpage {
  #step1 #top {
    top: 160px;
  }
  #step1 #boxes {
    padding-top: 270px;
  }

  @media screen and (max-width: 639px) {
    #step1 #top {
      top: 100px;
    }
    #step1 #boxes {
      padding-top: 190px;
    }
  }

  #step2 .tab-nav {
    top: 103px;
  }
}

/* Options bootcamp modal animation */

@-webkit-keyframes fade-in-top {
  0% {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  opacity: 0;
  }
  100% {
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  opacity: 0;
  }
  100% {
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 1;
  }
}

.cdk-global-overlay-wrapper {
    align-items: flex-start !important;
}

.cdk-overlay-pane {
	-webkit-animation: fade-in-top .35s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-top .35s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.cdk-overlay-container > * {
	transition: none;
}