
/* Common Variable Code */
$body-font-family: "Open Sans", sans-serif;
$white: #fff;
$light-gray: #f5f5f5;
$burgundy: #911a07;

.fa {
  font-family: FontAwesome;
}
.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
	float: right;
}
.slider-nav {
	position: relative;
	text-align: right;
	
	.paging {
		position: absolute;
		right: 70px;
		top: -32px;
	}
}
.next.first-section {
	border-radius: 110px 110px 0 0;
	bottom: 2px;
	color: #178388;
	cursor: pointer;
	font-size: 30px;
	height: 67px;
	left: 50%;
	line-height: 67px;
	position: absolute;
	text-align: center;
	-ms-transform: translate(-50%);
	transform: translate(-50%);
	width: 145px;
	z-index: 9;

	.next-inner {
		bottom: 0;
		color: #961b0d;
		left: 50%;
		position: absolute;
		-ms-transform: translate(-50%);
		transform: translate(-50%);
		width: 100%;

		.icon-down {
			bottom: -14px;
			font-size: 24px;
			left: 50%;
			line-height: normal;
			position: absolute;
			-ms-transform: translate(-50%);
			transform: translate(-50%);
		}
		span {
			bottom: 16px;
			display: inline-block;
			font-size: 16px;
			font-weight: 600;
			left: 0;
			line-height: normal;
			position: absolute;
			width: 100%;
		}
	}
}
#step1 {
	#top {
		background: $light-gray none repeat scroll 0 0;
		padding: 33px 0 18px;
		position: absolute;
		text-align: center;
		top: 120px;
		width: 100%;

		.topgraysec {
			display: inline-block;
			max-width: 830px;
			width: 100%;

			h1 {
				color: #3c3f44;
				float: left;
				font-size: 16px;
				text-align: left;

				strong {
					color: #2f2a6a;
					font-size: 18px;
					font-weight: bold;
				}
			}
			.learn-more {
				color: $burgundy;
				float: right;
				-webkit-text-fill-color: $burgundy; 

				span {
					display: inline-block;
					font-family: "futura-bt",sans-serif;
					font-size: 16px;
					font-weight: normal;
					text-transform: uppercase;
					width: 100%;
				}
				svg {
					border: 1px solid $burgundy;
					border-radius: 50%;
					font-size: 10px;
					height: 18px;
					line-height: 18px;
					width: 18px;
					padding: 3px;
					vertical-align: text-top;
				}
			}
		}
	}
	#boxes {
		box-sizing: content-box;
		height: 100%;
		padding-bottom: 0;
		padding-top: 200px;
		width: 100%;
		box-sizing: border-box;

		> div {
			background-image: url("/assets/images/Advanced_Search_Image.jpg");
			background-position: center center;
			background-size: cover;
			color: $white;
			height: 50%;
			text-align: center;
			vertical-align: middle;
			width: 100%;

			p:last-child {
				margin-bottom: 0;
			}
			.button.ghost {
				padding: 15px 40px;
				margin-bottom: 0;
				margin-right: 0;
			}
		}
		> div:first-child {
			background-image: url("/assets/images/GuidedExploration_Image.jpg");
			border-right: 1px solid $white;
		}
	}
}
.actions {
	color: #911a07;
	float: right;
	font-family: "futura-bt",sans-serif;
	font-size: 40px;
	font-weight: bold;
	line-height: 20px;
	
	a {
		color: inherit;
	}

	i {
		font-size: 100%;
	}
	.remove {
		margin-left: 10px;
	}
}
.career-detail {
    font-size: 13px;
    overflow: hidden;
    position: relative;

	> .columns:first-child {
		background-size: cover;
		background-position: center;
		padding-top: 0.7rem;
		padding-bottom: 0.7rem;

		img {
			visibility: hidden;
		}
	}
	h4 {
		color: #000;
		font-family: $body-font-family;
		font-size: 13px;
		font-weight: bold;
		margin: 0 0 6px;
		text-transform: uppercase;
	}
	.career-details {
		padding: 20px 10px;
		
		.fa-heart {
			width: 23px;
			vertical-align: sub;
    		font-size: 1em;
		}

		h2 {
			color: #178388;
			font-family: $body-font-family;
			font-size: 1.25rem;
			margin-bottom: 1em;
			text-transform: none;
		}
	}
	.actions {
		font-size: 32px;
	}
	h2 > i {
		color: #f49c1e;
		font-size: 80%;
		margin-left: 8px;
	}
}
.icon-hotjob {
	color: #f49c1e;
	font-size: 80%;
	vertical-align: text-bottom;
}
::ng-deep .career-list[style="display: none;"] + .career-grid {
	display: inline-block !important;
}
#total-favorited {
	i {
		position: relative;
    	margin-right: 5px;
    	top: -2px;
	}
	
	a {
		color: #911a07;
	}
}
#step2 {
	#tools {
		margin-top: 30px;
	}
	
	.view-list a {
		text-decoration: underline;
	}

	.career-grid {
		.career-detail {
			border: 4px solid $white;
			box-shadow: 0 0 0 1px #d7d7d7 inset;
			margin: 0;
			outline: 0 none;
			padding: 0;

			> div {
				position: relative;
			}
			.columns:first-child .row {
				background: rgba(0, 0, 0, 0) linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%) repeat scroll 0 0;
				bottom: 0;
				position: absolute;
				width: 100%;
			}
			h2 {
				color: $white;
				font-size: 1.25rem;
				margin-bottom: 11px;
				text-transform: none;
				font-family: $body-font-family;

				a {
					color: $white;
				}
			}
			.actions {
				float: none;
				margin: 28px 0;
				text-align: center;
				
				.fa-heart {
				    vertical-align: sub;
				    width: 0.7em;
				}
			}
		}
	}

	.tab-nav {
		margin: -45px 0 0;

		li {
			list-style-type: none;
			display: inline-block;

			a {
				border: 1px solid #d7d7d7;
				display: inline-block;
				font-size: 16px;
				font-weight: normal;
				margin-right: 14px;
				padding: 8px 25px 10px;
			}
			&.active a {
				background: #d7d7d7;
				color: #6d6d6d;
			}
		}
	}

	.career-detail,
	.career-grid {
		border: 1px solid $white;
		margin: 0 5px 10px;
		outline: 5px solid #d7d7d7;

	}
	.career-list .career-detail {
		display: none;
	}
	.career-list .career-detail.active {
		display: block;
	}
	.career-detail .career-details,
	.career-grid .career-details {
		padding: 20px 10px;
	}

}
#step4 {
    background-image: url(../../assets/images/5reasons_Image.jpg);
}
#step5 {
    background-image: url(../../assets/images/ASVAB_Image.jpg);

	.button.striped {
		background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0) 5px, rgba(255, 255, 255, 0.15) 5px, rgba(255, 255, 255, 0.15) 9px);
		margin: 0;
	}
	#footer {
		bottom: 0;
		position: absolute;
		text-align: left;
		width: 100%;

		p {
			font-size: inherit;
		}
		a {
			font-weight: normal;
		}
	}
}
#step3 {
	background-color: #E0E0E0;

	.icon-left,
	.icon-right {
		position: absolute;
		display: inline-block;
		top: -27px;
		right: 2%;
		color: $burgundy;
		font-size: 12px;
		cursor: pointer;
	}

	.icon-right {
		margin-right: -20px;
	}

	.icon-left {
		margin-right: 20px;
	}

	h3 {
		margin-bottom: 0px;
	}
	::ng-deep .home-profiles-slide {
		border: 5px solid #d7d7d7;

		.slick-prev {
			left: inherit;
			right: 25px;
			top: 0;
			background-color: transparent;
			top: -20px;


			> img {
				max-width: 8px;
				&:nth-child(2) {
					display: none;
				}
			}
			&:hover {
				img:nth-child(1) {
					display: none;
				}
				img:nth-child(2) {
					display: inline-block;
				}
			}
		}
		.custom_paging {
			position: absolute;
			right: 70px;
			top: -32px;


			> li {
				display: none !important;

				a {
					color: #000;
					font-size: 14px;
				}
				.string > span {
				  margin: 0 5px;
				}
			}
		}
		.custom_paging > li.slick-active {
			display: inline-block !important;
		}

		.slick-next {
			right: -12px;
			top: 0;
			background-color: transparent;
			top: -20px;


			> img {
				max-width: 8px;
				&:nth-child(2) {
					display: none;
				}
			}
			&:hover {
				img:nth-child(1) {
					display: none;
				}
				img:nth-child(2) {
					display: inline-block;
				}
			}
		}
		.home-profiles-box {
			background-color: $white;
			border: 5px solid $white;


			.home-profile-image {
				position: relative;
				
				@media screen and (max-width: 450px) {
				    max-height: 300px;
    				overflow: hidden;
				}
				@media screen and (max-width: 380px) {
					max-height: 200px;
				}
				.home-profile-imgtext {
					bottom: 0;
					color: $white;
					font-size: 18px;
					font-weight: bold;
					line-height: 20px;
					padding: 15px;
					position: absolute;

					> div {
						font-size: 14px;
						font-weight: normal;
						margin-bottom: 5px;
					}
				}
				.overlay-imgbg {
					bottom: 0;
					left: 0;
					position: absolute;
					width: 100%;
				}
			}
			.home-profile-text {
				border: 1px solid #d7d7d7;
				padding: 20px 18px 6px;

				h4 {
					color: $burgundy;
					font-size: 16px;
					font-weight: bold;
					line-height: 20px;
					text-align: left;
				}
				> span {
					color: #000;
					font-size: 16px;
					line-height: 20px;
					text-align: left;
					width: 100%;
					min-height: 50px;
				}
				.buttons {
					display: block;
					float: none;
					margin: 30px auto 0;
					overflow: hidden;
					@media screen and (max-width: 450px) {
						width: 243px;
					}

					> a {
						color: #23959a;
						float: left;
						font-size: 13px;
						font-weight: bold;
						padding: 0 25px;
						line-height: normal;

						&:nth-child(2) {
							border-left: 1px solid #a6a6a6;
						}
						
						@media screen and (max-width: 768px) {
							padding: 0 7px;
						}
					}
				}
			}
		}
	}
}
.next.otherdiv {
    border-top: 3px solid $white;
    bottom: 0;
    color: #178388;
    cursor: pointer;
    font-size: 30px;
    height: 35px;
    position: absolute;
    background: repeating-linear-gradient(-45deg, #d6d8d7, #d6d8d7 3px, $white 3px, $white 10px);
    width: 100%;
    text-align: center;
    line-height: 35px;
	z-index: 1;

	i {
		position: relative;
		top: 2px;
		margin-right: 10px;
		color: #9e1e0f;
	}
}
.scrolling-wrapper-flexbox {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	padding-top: 5px;
  
	.card {
	  flex: 0 0 auto;
	}
}
.scrolling-wrapper {
	-webkit-overflow-scrolling: touch;
}
#footer {
    background: #4c4c4c;
    border-top: 1px solid $white;
    color: $white;
    font-size: 13px;
    padding: 60px 0;

	h5 {
		color: #a4a4a4;
		text-transform: uppercase;

		a {
			color: inherit;
			margin: 0 20px;

			i {
				font-size: 17px;
			}
		}
	}
	.menu.vertical a, .medium-pull-3 h5, .show-for-medium a {
		color: #ccfcfe;
	}
}
.menu {
    margin: 0;
    list-style-type: none;

	> li > a {
		display: block;
		padding: 0.7rem 1rem;
		line-height: 1;
	}

	&.vertical > li {
		display: block;
	}
}
button.striped, .button.striped {
    background: repeating-linear-gradient(-45deg, $white 2px, $white 5px, #d6d8d7 6px, #d6d8d7 8px);
    color: $burgundy;
    margin-top: 20px;
}
h2, h3 {
  color: #2f2a6a;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.button.ghost {
    background: transparent;
    border: 2px solid $white;
    color: $white;
}
.section.bg-image {
	background-size: cover;
    color: #FFF;
    text-align: center;

	p {
		font-size: 20px;
		line-height: 1.25em;
	}
	h2, h3 {
		color: $white;
	}
	a {
		color: $white;
		font-weight: bold;
		-webkit-text-fill-color: $white; 
		-webkit-opacity: 1; 
	}
	.button.striped {
		background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0) 5px, rgba(60, 63, 68, 0.25) 5px, rgba(60, 63, 68, 0.25) 9px);
		color: $white;
	}
	p:last-child {
		margin-bottom: 0;
	}
}
.remove {
    cursor: pointer;
}
.button-block {
	display: block;
	width: 100%;
}

/* other styles */
::ng-deep .fp-tableCell {
    padding-top: 60px;
    padding-bottom: 35px;
}
::ng-deep #step1 .fp-tableCell {
    padding: 0;
	@media screen and (max-width: 639px){
		display: block;
	}
}
::ng-deep .home header {
    position: absolute;
    width: 100%;
    background-color: $white;
	z-index: 1;
}

@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#step3 .home-profiles-slide .home-profiles-box {
		display: block;
	}
}

@media screen and (min-width: 992px){
	::ng-deep #step5 .fp-tableCell {
		padding-bottom: 243px;
	}
}


/* media css */
@media screen and (min-width: 64em){
	#step2a .tab-nav li a, #step2a .tab-nav li a {
		font-size: 24px;
	}
}
@media screen and (max-width: 63.938em){
	#step1 {
		#top {
			top: 60px;

			.topgraysec h1 {
				width: 480px;
			}
		}
	}
}

@media screen and (min-width: 40em){
	#step1 #boxes > div {
		display: table-cell;
		height: 100%;
		width: 50%;
	}
	h2 {
		font-size: 2.5rem;
	}
	#boxes {
		display: table;
	}
}



@media screen and (max-width: 639px) {
	::ng-deep body header {
		#logo {
			line-height: 50px !important;

			img {
				width: 170px !important;
			}
		}
		#main-menu {
			height: 50px !important;

			.menu-icon:after {
				top: 4px;
			}
		}
	}
	.section.bg-image {
		.next.first-section {
			bottom: 3px;

			img {
				max-width: 100%;
			}
		}
		img {
			max-width: 110px;
		}
		p {
			font-size: 12px;
		}
		p, h3 {
			margin: 0 auto 1rem;
		}

	}
	#step1 {
		#top {
			padding: 15px 0 7px;
			top: 50px;
		    z-index: 2;

			.topgraysec {
				h1 {
					font-size: 11px;
					margin-bottom: 0;
					text-align: center;
					width: 100%;

					strong {
						font-size: 13px;
					}
				}
				.learn-more {
					display: inline-block;
					float: none;

					span {
						font-size: 12px;
					}
					i {
						font-size: 8px;
						height: 14px;
						line-height: 14px;
						width: 14px;
					}
				}
			}
		}
		#boxes {
			padding-top: 123px;
			position: relative;
			z-index: 1;

			> div {
				align-items: center;
				box-sizing: border-box;
				display: flex;
				justify-content: center;
				padding: 20px 20px 90px;
			}
			> div:first-child {
				border-bottom: 1px solid $white;
				border-right: 0 none;
				padding: 20px;
			}
			h2 {
				font-size: 13px;
			}
			p {
				font-size: 12px;
				margin-bottom: 10px;

				&:last-child a:last-child {
					font-size: 11px;
					padding: 6px 10px;
				}
			}
		}
	}
	
	#step2 {

		::ng-deep .fp-tableCell {
			padding-top: 75px;
			
			.fp-tableCell {
				height: auto !important;
			}
		}
		.tab-nav {
			background: #d7d7d7;
			left: 0;
			margin: 0;
			padding: .5rem .9375rem 0;
			position: absolute;
			top: 50px;
			width: 100%;
			z-index: 1;

			li a,  li.active a {
				border-bottom: 0 none;
				color: #2f2a6a;
				font-size: 16px;
				font-weight: bold;
				padding: 8px 10px 10px;
			}
			li.active a {
				background: $white none repeat scroll 0 0;
			}
		}
		.slide-mobile-style {
		    padding-top: 0px;

		    .owl-carousel .owl-nav {
			    top: -55px;
			    right: 0;
			}
			.career-detail {
				h2 {
			        font-size: 18px;
				}
				.actions {
			        font-size: 28px;
			        padding: 10px;
			    }
			}
		}
		.tab-nav li a, .tab-nav li.active a {
		    font-size: 16px;
		    padding: 5px 10px;
		}

		.career-list {
			width: 100%;
			position: relative;

			.career-detail {
				border: medium none;
				display: inline-block;
				margin: 0;
				outline: medium none;
				white-space: normal;
				width: 100%;
				position: initial;
			}

			> div:last-child {
				background: $light-gray none repeat scroll 0 0;
			}
			.actions {
				background: $white none repeat scroll 0 0;
				bottom: 0;
				float: none;
				left: 0;
				padding: 5px;
				position: absolute;
				text-align: center;
				width: 100%;
				margin: 0 !important;

				> .small-6:nth-child(2) {
					padding: 0;
				}
			}
			.career-details {
				padding: 15px 0 40px;
			}
			> div {
				position: relative;
			}
			.columns:first-child .row {
				background: rgba(0, 0, 0, 0) linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%) repeat scroll 0 0;
				bottom: 34px;
				position: absolute;
				width: 100%;
			}
			h2 {
				color: $white;
				font-size: 1.25rem;
				margin-bottom: 11px;
				text-transform: none;
				font-family: $body-font-family;

				a {
					color: $white;
				}
			}
		}

	}
	#footer {
		font-size: 11px;
		padding: 10px 0 50px;

		p, h5 {
			text-align: center;
			width: 100%;
		}
		p {
			font-size: inherit;
		}
		.menu.vertical {
			margin-bottom: 10px;
			text-align: center;
			li {
				a {
					padding: 0 1rem 0.4rem 1rem;
				}

				&:last-child {
					a {
						padding-bottom: 0;
					}
				}
			}
		}
		hr {
			margin: 8px auto;
		}
	}
	#step5 {
		::ng-deep .fp-tableCell {
			padding-bottom: 243px;
		}
		p {
			width: 88%;

			br {
				display: none;
			}
		}
		.button.striped {
			margin-bottom: 0px;
		}
		/*#footer {
			bottom: 35px;
		}*/ 
		&.fp-completely .next.otherdiv {
			bottom: 0px;
		}

	}
	#step3 .home-profiles-slide .home-profiles-box .home-profile-text .buttons > a {
		padding: 0 20px;
		margin: 5px 0; 
	}
	::ng-deep .fp-scrollable {
		position: inherit;
	}
}

@media screen and (max-width: 320px) {
	#step5 {
		#footer {
			bottom: 35px;
			position: inherit;
			padding: 10px 0 13px;
		}
		
		.fp-tableCell{
			padding-top: 50px;
			padding-bottom: 0;
		}
	}
}
.table-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 640px) and (max-width: 992px) {
	#step5 h3 {
	    font-size: 20px;
	    margin-bottom: 8px !important;
	}
	#footer {
		font-size: 13px;
		padding: 20px 0 36px;
		position: inherit !important;

		.next.otherdiv {
			bottom: -1px;
		}
	}
	#step5.section.bg-image p {
	    font-size: 16px;
	}
}

@media screen and (max-width: 639px) {
	#step2 .career-list .actions > .wrap-action-home {
		margin: 0 -6px -6px -6px !important;
		padding: 5px;
		background-color: #fff;
		text-align: center;
		clear: both;
	}
	#step2 .career-list .actions {
		background-color: #f5f5f5;
		text-align: left;
	}
	#step2 .career-detail > .columns:first-child {
	    min-height: 300px;
   	}
   	#step2 .career-list .columns:first-child .row {
	    bottom: 90px;
	}
	#step2 ul.checked li {
	    font-family: 'Open Sans';
		font-weight: normal;
	}
	#step2 {
		.fa-heart {
			height: 22px;
		}
		.actions .remove {
			font-size: 34px;
		}
	}
	/*#step5 #footer {
		position: inherit;
		bottom: 0;	
	}
	#step5 .fp-tableCell{
		padding-top: 50px;
		padding-bottom: 0;
	}*/
}

@media screen and (max-height: 670px) {
	#step5 #footer {
		font-size: 10px;
		padding-bottom: 35px;
		
		p {
			font-size: 8px;
			margin-bottom: 10px;

			&.icons {
				font-size: 14px;
			}
		}
	}
}
@media screen and (max-height: 639px) {
	#step2 .career-detail > .columns:first-child {
	    min-height: 250px;
   	}
}

@media screen and (max-width: 480px) {
  #step2 .tab-nav li a {
    font-size: 15px;
    margin-right: 2px;
  }
}

@media screen and (max-width: 374px) {
	.home #step2a .progress-bar {
		margin: 10px 0;
	}
	.home #step2a #found-careers .career {
		height: 120px;
	}
	.home #step2 .tab-nav {
		padding: 0.25rem 0.9375rem 0;
	}
	.home #step2.tab-nav li a,  .home #step2 .tab-nav li.active a {
		font-size: 12px;
		padding: 5px 10px 5px;
	}
	.home #step2 .tab .career-list {
		margin-bottom: 0;
		width: 200px;
	}
	.home #step2 .tab .career-list .columns:first-child .row h2 {
		font-size: 16px;
	}
	.home #step2 .tab .career-list .career-details {	
		font-size: 12px;	
		padding: 5px 0 30px;
	}
	.home #step2 .tab .career-list .actions {
		font-size: 28px;
	}
	.home #step2 .view-list {
		float: none;
		text-align: center;
	}
	#step3 h3 {
		margin-bottom: 30px;
	}
	#step5 .fp-tableCell{
		padding-top: 100px;
	}
	
}

@media screen and (max-height: 550px) {
	#step3 .home-profiles-slide .home-profiles-box .home-profile-image {
		max-height: 200px;
	}
	
	#step3 .home-profiles-slide .home-profiles-box .home-profile-image .home-profile-imgtext {
		font-size: 15px;
	}
	
	#step3 .row[role="toolbar"] {
		max-width: 320px;
	}
	
	#step3 > div {
		padding-top: 100px;
	}
	
	#footer hr + p {
		margin-bottom: 10px;
	}
	
	#footer hr + p,
	#footer hr + p + p {
		font-size: 8px !important;
	}
}

.mat-progress-spinner circle, .mat-spinner circle {
stroke: #3fb53f;
}

@media screen and (max-width: 640px) {
	#step3 {
		.icon-right {
			margin-right: -2%;
		}

		.icon-left {
			margin-right: 5%;
		}
	}
}

@media screen and (max-width: 480px) {
	#step3 {
		.icon-left {
			margin-right: 10%;
		}
	}
}